@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
	Layout = "master.cshtml";
}


  


<!-- <section class="hero hero--   hero--v-top" > -->

<section class="hero hero--v-top in-view">

    <div class="hero__inner">
        <div class="container">
            <div class="row row--center">
                <div class="hero__inner light-color col- col-m-100">

                                                <h1>About Us</h1>
                                            <div class="hero__text text-big">
                            <p style="color: white;">A hands on approach to data protection consultancy services</p>
                        </div>
                    
                </div>
            </div>
        </div>
    </div>
    
    
            <div class="hero__background hide--m lazyloaded" data-bgset="
                    /media/j33djvrp/about-page.jpg?anchor=center&amp;mode=crop&amp;quality=80&amp;width=2560&amp;height=720&amp;upscale=false&amp;rnd=132731676462530000 2560w,
        		    /media/j33djvrp/about-page.jpg?anchor=center&amp;mode=crop&amp;quality=80&amp;width=1920&amp;height=540&amp;upscale=false&amp;rnd=132731676462530000 1920w,
        		    /media/j33djvrp/about-page.jpg?anchor=center&amp;mode=crop&amp;quality=80&amp;width=1600&amp;height=450&amp;upscale=false&amp;rnd=132731676462530000 1600w" style="background-image: url(&quot;https://www.fortprivacy.ie/media/j33djvrp/about-page.jpg?anchor=center&amp;mode=crop&amp;quality=80&amp;width=2560&amp;height=720&amp;upscale=false&amp;rnd=132731676462530000&quot;);">
            <picture style="display: none;"><source data-srcset=" /media/j33djvrp/about-page.jpg?anchor=center&amp;mode=crop&amp;quality=80&amp;width=2560&amp;height=720&amp;upscale=false&amp;rnd=132731676462530000 2560w, /media/j33djvrp/about-page.jpg?anchor=center&amp;mode=crop&amp;quality=80&amp;width=1920&amp;height=540&amp;upscale=false&amp;rnd=132731676462530000 1920w, /media/j33djvrp/about-page.jpg?anchor=center&amp;mode=crop&amp;quality=80&amp;width=1600&amp;height=450&amp;upscale=false&amp;rnd=132731676462530000 1600w" sizes="1447px" srcset=" /media/j33djvrp/about-page.jpg?anchor=center&amp;mode=crop&amp;quality=80&amp;width=2560&amp;height=720&amp;upscale=false&amp;rnd=132731676462530000 2560w, /media/j33djvrp/about-page.jpg?anchor=center&amp;mode=crop&amp;quality=80&amp;width=1920&amp;height=540&amp;upscale=false&amp;rnd=132731676462530000 1920w, /media/j33djvrp/about-page.jpg?anchor=center&amp;mode=crop&amp;quality=80&amp;width=1600&amp;height=450&amp;upscale=false&amp;rnd=132731676462530000 1600w"><img alt="" class="lazyautosizes lazyloaded" data-sizes="auto" data-parent-fit="cover" sizes="1447px"></picture></div>
            <div class="hero__background show--m lazyload" data-bgset="
        		    /media/j33djvrp/about-page.jpg?anchor=center&amp;mode=crop&amp;quality=80&amp;width=1800&amp;height=1600&amp;upscale=false&amp;rnd=132731676462530000 1800w,
        		    /media/j33djvrp/about-page.jpg?anchor=center&amp;mode=crop&amp;quality=80&amp;width=1440&amp;height=1280&amp;upscale=false&amp;rnd=132731676462530000 1440w,
        		    /media/j33djvrp/about-page.jpg?anchor=center&amp;mode=crop&amp;quality=80&amp;width=1080&amp;height=960&amp;upscale=false&amp;rnd=132731676462530000 1080w,
        		    /media/j33djvrp/about-page.jpg?anchor=center&amp;mode=crop&amp;quality=80&amp;width=750&amp;height=667&amp;upscale=false&amp;rnd=132731676462530000 750w" data-sizes="auto">
            </div>
    
    
        <div class="overlay " style="opacity:0.60"></div>


</section>


    <div class="block grid white-bg in-view">
        <div class="container-fluid ">
            <div class="row  row--center row--v-center  ">

                    <div class="col col-s-100">


<div class="grid-item grid-item--text ">
    <h2>Our Story</h2>
<h3>Passion for Innovation in Data Protection</h3>
<p>Fort Privacy owners and GDPR Compliance Framework innovators, Barrister Tricia Higgins and Engineer Marie Murphy, have a common passion for all things Data Protection.<br>Barristers and Engineers can be really innovative when their passions align!&nbsp;</p>
<p>We have never been content to simply deliver a standard service to our clients. We are constantly looking to evolve our services and to learn from each client engagement in order to continuously improve. We spend time thinking about how a compliance activity will impact on our client’s day-to-day business and we constantly look to ensure our clients get tangible business benefits from their investment in data protection compliance.&nbsp;</p>
<p>We want our clients to benefit from our experience and we do that by continuously reviewing our service delivery, developing new services to keep our clients up-to-date with their compliance obligations and enhancing our templates in line with new legislation.&nbsp; We are currently developing new technology to address some of the trickier compliance challenges our clients face.</p>
<p>Our passion and innovation help us deliver a unique Compliance Framework that is the bedrock of everything we do.</p>
<div class="split__text split__text--v-center split__text--text-left">
<div class="split__text-inner"></div>
</div>
</div>                    </div>
                    <div class="col col-s-100">

<style>
    .grid-item--video .fluidvids{
        position: static!important;
    }
</style>
<div class="grid-item grid-item--video ">

        <video autoplay="" playsinline="" controls="" loop="" poster="/media/ztsh1u5b/capture.jpg">
            
        <source type="video/mp4" src="/media/jmapk3ru/fort-privacy-framework-short-video.mp4"></video>

</div>                    </div>
            </div>
        </div> 
    </div>


<section class="split-wrap block white-bg in-view" id="heading1">
    
    <div class="split split-- split--text-right split--full">
    			
    	<div class="split__text split__text--v-center split__text--text-left">
    		
    		<div class="split__text-inner">
    
    				<div class="pre-head">Marie Murphy</div>
    			    					<h2>Co-Founder &amp; Operations Director</h2>
    			<p>I got into Data Protection because of being responsible for a relatively simple piece of Data Protection in my previous company and struggling with it. In hindsight, I always had an interest in this area – some would say I was born to it as my birthday is on International Data Protection day! This work suits me – I like to see the bigger picture and I love to solve problems, I like to understand how a product or service flows from start to finish and I have a very logical approach to things.</p>
<p>All this suits my work as Operations Director with Fort Privacy. It also feeds the area of work that I most enjoy which is Privacy by Design, where I can be logical and creative at the same time – breaking new ground with clients by helping them build an innovative approach to Data Protection into their product and service design.</p>    			
    							
    		</div>
    
    	</div>	
    	
    	
    		<div class="split__image split__image--1 split__image--no-border split__image--contain">
        				<div class="split__image-item lazyloaded" data-bgset="/media/jdqfzvnx/marie-murphy-fortprivacy-white-bg.png?upscale=false&amp;width=770&amp;height=581&amp;quality=80 700w,
                    		/media/jdqfzvnx/marie-murphy-fortprivacy-white-bg.png?upscale=false&amp;width=1100&amp;height=830&amp;quality=80 1000w,
                    		/media/jdqfzvnx/marie-murphy-fortprivacy-white-bg.png?upscale=false&amp;width=1650&amp;height=1245&amp;quality=80 1500w" style="background-image: url(&quot;https://www.fortprivacy.ie/media/jdqfzvnx/marie-murphy-fortprivacy-white-bg.png?upscale=false&amp;width=1650&amp;height=1245&amp;quality=80&quot;);"><picture style="display: none;"><source data-srcset="/media/jdqfzvnx/marie-murphy-fortprivacy-white-bg.png?upscale=false&amp;width=770&amp;height=581&amp;quality=80 700w, /media/jdqfzvnx/marie-murphy-fortprivacy-white-bg.png?upscale=false&amp;width=1100&amp;height=830&amp;quality=80 1000w, /media/jdqfzvnx/marie-murphy-fortprivacy-white-bg.png?upscale=false&amp;width=1650&amp;height=1245&amp;quality=80 1500w" sizes="723px" srcset="/media/jdqfzvnx/marie-murphy-fortprivacy-white-bg.png?upscale=false&amp;width=770&amp;height=581&amp;quality=80 700w, /media/jdqfzvnx/marie-murphy-fortprivacy-white-bg.png?upscale=false&amp;width=1100&amp;height=830&amp;quality=80 1000w, /media/jdqfzvnx/marie-murphy-fortprivacy-white-bg.png?upscale=false&amp;width=1650&amp;height=1245&amp;quality=80 1500w"><img alt="" class="lazyautosizes lazyloaded ls-is-cached" data-sizes="auto" data-parent-fit="contain" sizes="723px"></picture></div>
    		</div>
    
    </div>

</section>

<section class="split-wrap block white-bg in-view" id="about_section2">
    
    <div class="split split-- split--text-left split--full">
    			
    	<div class="split__text split__text--v-center split__text--text-left">
    		
    		<div class="split__text-inner">
    
    				<div class="pre-head">Tricia Higgins</div>
    			    					<h2>Co-Founder &amp; Legal Director</h2>
    			<p>Ever since I met Marie in early 2017, we have been single-minded in our mission to create a company that delivers services based around the entire processing activities of an organisation from a legal, IT and an operational perspective. <br>I am motivated by providing solutions to companies that enable both compliant data processing activities and deliver commercial value.</p>
<p>As a lawyer, it is hugely rewarding for me to work with our multi-disciplined team in Fort Privacy. The GDPR is a complex piece of legislation that requires this multi-disciplined approach. If we can show organisations the way forward under the GDPR, that can only mean better adoption of the GDPR and that is important for all us individuals whose privacy rights it seeks to protect.</p>
<p>The services solution is just the beginning, in order to encourage GDPR adoption within organisations, we will be bringing software solutions to the market that will enable us to provide the high quality service that we envisage for our customers…watch this space!</p>    			
    							
    		</div>
    
    	</div>	
    	
    	
    		<div class="split__image split__image--1 split__image--no-border split__image--contain">
        				<div class="split__image-item lazyloaded" data-bgset="/media/igbptwiy/tricia-higgins-fortprivacy-white-bg.png?upscale=false&amp;width=770&amp;height=581&amp;quality=80 700w,
                    		/media/igbptwiy/tricia-higgins-fortprivacy-white-bg.png?upscale=false&amp;width=1100&amp;height=830&amp;quality=80 1000w,
                    		/media/igbptwiy/tricia-higgins-fortprivacy-white-bg.png?upscale=false&amp;width=1650&amp;height=1245&amp;quality=80 1500w" style="background-image: url(&quot;https://www.fortprivacy.ie/media/igbptwiy/tricia-higgins-fortprivacy-white-bg.png?upscale=false&amp;width=1650&amp;height=1245&amp;quality=80&quot;);"><picture style="display: none;"><source data-srcset="/media/igbptwiy/tricia-higgins-fortprivacy-white-bg.png?upscale=false&amp;width=770&amp;height=581&amp;quality=80 700w, /media/igbptwiy/tricia-higgins-fortprivacy-white-bg.png?upscale=false&amp;width=1100&amp;height=830&amp;quality=80 1000w, /media/igbptwiy/tricia-higgins-fortprivacy-white-bg.png?upscale=false&amp;width=1650&amp;height=1245&amp;quality=80 1500w" sizes="723px" srcset="/media/igbptwiy/tricia-higgins-fortprivacy-white-bg.png?upscale=false&amp;width=770&amp;height=581&amp;quality=80 700w, /media/igbptwiy/tricia-higgins-fortprivacy-white-bg.png?upscale=false&amp;width=1100&amp;height=830&amp;quality=80 1000w, /media/igbptwiy/tricia-higgins-fortprivacy-white-bg.png?upscale=false&amp;width=1650&amp;height=1245&amp;quality=80 1500w"><img alt="" class="lazyautosizes lazyloaded ls-is-cached" data-sizes="auto" data-parent-fit="contain" sizes="723px"></picture></div>
    		</div>
    
    </div>

</section>

    <div class="block grid gray-bg in-view" id="about_section3">
        <div class="container container--big ">
            <div class="row  row--left row--v-top  ">

                    <div class="col col-s-100">

<div class="grid-item grid-item--header ">
                <div class="text-big">
            <h2>WHAT YOU NEED TO KNOW</h2>
<h3>The Fort Privacy Compliance Framework</h3>
<p>We are constantly innovating, and we developed the Fort Privacy Compliance Framework to make compliance more attainable for our customers.</p>
<p>Embedding a Data Protection culture in the organisation is key to compliance. Data Protection needs to be treated as a function of the organisation, with a team, reporting structure and a project plan, just like every other function in the organisation. The Fort Privacy Compliance Framework brings much needed structure to the Data Protection program and provides a way to measure how effective it is.</p>
        </div>
    </div>                    </div>
            </div>
        </div> 
    </div>


    <div class="block grid gray-bg in-view" id="title1">
        <div class="container container--big ">
            <div class="row  row--left row--v-top  ">

                    <div class="col-40 col-s-100">

<div class="grid-item grid-item--header ">
                <div class="text-big">
            <h3>The Fort Privacy Compliance Framework simplifies your journey by providing clarity and focus to your compliance activities.</h3>
<p>It delivers confidence and certainty in the program and most of all it helps you get to where your company needs to be in terms of compliance in a structured way thereby reducing the organisational risk associated with your data processing activities.</p>
<p>For more information, please see our article on the <br><a href="https://www.fortprivacy.ie/privacy-maturity-model/" title="Privacy-maturity-model">Fort Privacy Maturity Model Framework</a></p>
        </div>
    </div>                    </div>
                    <div class="col-50 col-s-100">

<div class="grid-item grid-item--code">
    <div class="main_casestudies">
<div data-url="/case-studies/#cstab1" class="main_casestudies_0"></div>
<div data-url="/case-studies/#cstab2" class="main_casestudies_1"></div>
<div data-url="/case-studies/#cstab3" class="main_casestudies_2"></div>
<div data-url="/case-studies/#cstab4" class="main_casestudies_3"></div>
<div data-url="/case-studies/#cstab5" class="main_casestudies_4"></div>
<div data-url="/case-studies/#cstab6" class="main_casestudies_5"></div>
<div data-url="/case-studies/#cstab7" class="main_casestudies_6"></div>
<div data-url="/case-studies/#cstab8" class="main_casestudies_7"></div>
<div data-url="/case-studies/#cstab9" class="main_casestudies_8"></div>
<div data-url="/case-studies/#cstab10" class="main_casestudies_9"></div>
</div>
</div>                    </div>
            </div>
        </div> 
    </div>



<section class="block form white-bg in-view" id="homesection10">
    
		<div class="block__header">
										<div class="block__header-text text-big">
					<h2 style="text-align: center;">Contact Us</h2>
				</div>
		</div>
	
	<div class="block__body">
		<div class="container">
		
<div id="umbraco_form_69ef6c9820ef481c82791950f4578001" class="umbraco-forms-form contactform umbraco-forms-igloo">
    </div>
</div></div>
	

</section>


   