@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
	Layout = "master.cshtml";
}



        




<!-- <section class="hero hero--   hero--v-top" > -->

<section class="hero hero--v-top in-view">

    <div class="hero__inner">
        <div class="container">
            <div class="row row--left">
                <div class="hero__inner light-color col- col-m-100">

                                                <h1>Artificial Intelligence </h1>
                                        
                </div>
            </div>
        </div>
    </div>
    
    
            <div class="hero__background hide--m lazyloaded" data-bgset="
                    /media/wlpl5vod/ai-governance.jpg?anchor=center&amp;mode=crop&amp;quality=80&amp;width=2560&amp;height=720&amp;upscale=false&amp;rnd=133626810852800000 2560w,
        		    /media/wlpl5vod/ai-governance.jpg?anchor=center&amp;mode=crop&amp;quality=80&amp;width=1920&amp;height=540&amp;upscale=false&amp;rnd=133626810852800000 1920w,
        		    /media/wlpl5vod/ai-governance.jpg?anchor=center&amp;mode=crop&amp;quality=80&amp;width=1600&amp;height=450&amp;upscale=false&amp;rnd=133626810852800000 1600w" style="background-image: url(&quot;https://www.fortprivacy.ie/media/wlpl5vod/ai-governance.jpg?anchor=center&amp;mode=crop&amp;quality=80&amp;width=2560&amp;height=720&amp;upscale=false&amp;rnd=133626810852800000&quot;);">
            <picture style="display: none;"><source data-srcset=" /media/wlpl5vod/ai-governance.jpg?anchor=center&amp;mode=crop&amp;quality=80&amp;width=2560&amp;height=720&amp;upscale=false&amp;rnd=133626810852800000 2560w, /media/wlpl5vod/ai-governance.jpg?anchor=center&amp;mode=crop&amp;quality=80&amp;width=1920&amp;height=540&amp;upscale=false&amp;rnd=133626810852800000 1920w, /media/wlpl5vod/ai-governance.jpg?anchor=center&amp;mode=crop&amp;quality=80&amp;width=1600&amp;height=450&amp;upscale=false&amp;rnd=133626810852800000 1600w" sizes="1447px" srcset=" /media/wlpl5vod/ai-governance.jpg?anchor=center&amp;mode=crop&amp;quality=80&amp;width=2560&amp;height=720&amp;upscale=false&amp;rnd=133626810852800000 2560w, /media/wlpl5vod/ai-governance.jpg?anchor=center&amp;mode=crop&amp;quality=80&amp;width=1920&amp;height=540&amp;upscale=false&amp;rnd=133626810852800000 1920w, /media/wlpl5vod/ai-governance.jpg?anchor=center&amp;mode=crop&amp;quality=80&amp;width=1600&amp;height=450&amp;upscale=false&amp;rnd=133626810852800000 1600w"><img alt="" class="lazyautosizes lazyloaded ls-is-cached" data-sizes="auto" data-parent-fit="cover" sizes="1447px"></picture></div>
            <div class="hero__background show--m lazyload" data-bgset="
        		    /media/wlpl5vod/ai-governance.jpg?anchor=center&amp;mode=crop&amp;quality=80&amp;width=1800&amp;height=1600&amp;upscale=false&amp;rnd=133626810852800000 1800w,
        		    /media/wlpl5vod/ai-governance.jpg?anchor=center&amp;mode=crop&amp;quality=80&amp;width=1440&amp;height=1280&amp;upscale=false&amp;rnd=133626810852800000 1440w,
        		    /media/wlpl5vod/ai-governance.jpg?anchor=center&amp;mode=crop&amp;quality=80&amp;width=1080&amp;height=960&amp;upscale=false&amp;rnd=133626810852800000 1080w,
        		    /media/wlpl5vod/ai-governance.jpg?anchor=center&amp;mode=crop&amp;quality=80&amp;width=750&amp;height=667&amp;upscale=false&amp;rnd=133626810852800000 750w" data-sizes="auto">
            </div>
    
    


</section>


    <div class="block grid white-bg in-view">
        <div class="container ">
            <div class="row  row--left row--v-top  ">

                    <div class="col col-s-100">


<div class="grid-item grid-item--text ">
    <h2>Fort Privacy is here to help you deploy AI Responsibly</h2>
<p>AI promises a future filled with incredible possibilities – breakthroughs in medicine, solutions to climate change, and innovations that could reshape our world for the better. There is no doubt that the advances in artificial intelligence will have profound impacts on our lives.</p>
<p>According to a <a href="https://www.pwc.ie/media-centre/press-releases/2024/gen-ai-business-leaders-survey-2023.html">PwC GenAI Business Leaders Survey 2023</a></p>
<ul>
<li>Only 7% of companies have fully established AI/GenAI governance structures in place.</li>
<li>91% of companies surveyed believe GenAI will increase cybersecurity risks.</li>
<li>83% expect GenAI to have a positive or transformative impact on their businesses in the next five years.</li>
<li>77% of Irish business leaders expect GenAI to positively impact Ireland’s economy.</li>
</ul>
<p>The challenge is for organisations to unleash the potential for AI to contribute to positive growth and deliver promised operational efficiencies while ensuring the use of AI is managed responsibly. This is especially important for organisations who are looking at the legal implications of the EU AI Act and other global regulations that are being introduced.</p>
<p>When we talk about deploying AI Responsibly, we mean deploying AI that is lawful, ethical and robust</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
</div>                    </div>
                    <div class="col col-s-100">


<div class="grid-item grid-item--image">
    <figure>
            <img class="lazyautosizes ls-is-cached lazyloaded" src="./AI Governance_files/ai-in-medical-industry.jpg" data-sizes="auto" data-srcset="/media/nllf2rkp/ai-in-medical-industry.jpg?upscale=false&amp;width=300&amp;quality=80 300w,
        	    /media/nllf2rkp/ai-in-medical-industry.jpg?upscale=false&amp;width=500&amp;quality=80 500w,
        	    /media/nllf2rkp/ai-in-medical-industry.jpg?upscale=false&amp;width=750&amp;quality=80 750w,
        	    /media/nllf2rkp/ai-in-medical-industry.jpg?upscale=false&amp;width=1000&amp;quality=80 1000w,
        	    /media/nllf2rkp/ai-in-medical-industry.jpg?upscale=false&amp;width=1200&amp;quality=80 1200w,
        	    /media/nllf2rkp/ai-in-medical-industry.jpg?upscale=false&amp;width=1600&amp;quality=80 1600w,
        	    /media/nllf2rkp/ai-in-medical-industry.jpg?upscale=false&amp;width=1920&amp;quality=80 1920w" alt="" sizes="655px" srcset="/media/nllf2rkp/ai-in-medical-industry.jpg?upscale=false&amp;width=300&amp;quality=80 300w,
        	    /media/nllf2rkp/ai-in-medical-industry.jpg?upscale=false&amp;width=500&amp;quality=80 500w,
        	    /media/nllf2rkp/ai-in-medical-industry.jpg?upscale=false&amp;width=750&amp;quality=80 750w,
        	    /media/nllf2rkp/ai-in-medical-industry.jpg?upscale=false&amp;width=1000&amp;quality=80 1000w,
        	    /media/nllf2rkp/ai-in-medical-industry.jpg?upscale=false&amp;width=1200&amp;quality=80 1200w,
        	    /media/nllf2rkp/ai-in-medical-industry.jpg?upscale=false&amp;width=1600&amp;quality=80 1600w,
        	    /media/nllf2rkp/ai-in-medical-industry.jpg?upscale=false&amp;width=1920&amp;quality=80 1920w">

    </figure>
</div>
                    </div>
            </div>
        </div> 
    </div>


    <div class="block grid white-bg in-view">
        <div class="container ">
            <div class="row  row--left row--v-top  ">

                    <div class="col col-s-100">


<div class="grid-item grid-item--image">
    <figure>
            <img class="lazyautosizes ls-is-cached lazyloaded" src="./AI Governance_files/ai-in-organisations.jpg" data-sizes="auto" data-srcset="/media/cg3ncmmq/ai-in-organisations.jpg?upscale=false&amp;width=300&amp;quality=80 300w,
        	    /media/cg3ncmmq/ai-in-organisations.jpg?upscale=false&amp;width=500&amp;quality=80 500w,
        	    /media/cg3ncmmq/ai-in-organisations.jpg?upscale=false&amp;width=750&amp;quality=80 750w,
        	    /media/cg3ncmmq/ai-in-organisations.jpg?upscale=false&amp;width=1000&amp;quality=80 1000w,
        	    /media/cg3ncmmq/ai-in-organisations.jpg?upscale=false&amp;width=1200&amp;quality=80 1200w,
        	    /media/cg3ncmmq/ai-in-organisations.jpg?upscale=false&amp;width=1600&amp;quality=80 1600w,
        	    /media/cg3ncmmq/ai-in-organisations.jpg?upscale=false&amp;width=1920&amp;quality=80 1920w" alt="" sizes="655px" srcset="/media/cg3ncmmq/ai-in-organisations.jpg?upscale=false&amp;width=300&amp;quality=80 300w,
        	    /media/cg3ncmmq/ai-in-organisations.jpg?upscale=false&amp;width=500&amp;quality=80 500w,
        	    /media/cg3ncmmq/ai-in-organisations.jpg?upscale=false&amp;width=750&amp;quality=80 750w,
        	    /media/cg3ncmmq/ai-in-organisations.jpg?upscale=false&amp;width=1000&amp;quality=80 1000w,
        	    /media/cg3ncmmq/ai-in-organisations.jpg?upscale=false&amp;width=1200&amp;quality=80 1200w,
        	    /media/cg3ncmmq/ai-in-organisations.jpg?upscale=false&amp;width=1600&amp;quality=80 1600w,
        	    /media/cg3ncmmq/ai-in-organisations.jpg?upscale=false&amp;width=1920&amp;quality=80 1920w">

    </figure>
</div>
                    </div>
                    <div class="col col-s-100">


<div class="grid-item grid-item--text ">
    <h2>Responsible use of AI in your organisation starts with clear guidance</h2>
<p>Any company who thinks it’s not using AI by now really is likely to be deluding itself. This enormous change must be met head on. By doing so you will ensure you are well placed to reap the benefits while protecting valuable company assets – your people, your customers and your information.</p>
<p>Its important for the leadership team to set a clear direction for the organisation. What is encouraged and what is unacceptable? Where are we setting the boundaries? What controls need to be put in place? What checks and balances do we expect to see?</p>
<p>Fort Privacy has identified a three-step process to get AI Guidance and Oversight in place while facilitating ongoing deployment and experimentation.</p>
</div>                    </div>
            </div>
        </div> 
    </div>


<section class="block text white-bg in-view">
    
        <div class="block-text block-text--single">
            <div class="container">
                <div class="row">
                    <div class="col-100">
                        <h2 style="text-align: center;">Three Steps to Responsible Use of AI</h2>
<p style="text-align: left;">The Fort Privacy process gets a working AI Governance programme in place in three steps – knowledge, policy development and oversight.</p>
<p style="text-align: left;">The first step is to understand what uses AI solutions are being put to today and what immediate plans do various stakeholders have to introduce new solutions. We deploy an internal survey and analyse the results to identify the real use cases that are being deployed.</p>
<p style="text-align: left;">Once you have this information, you can develop a ‘rules of engagement’ policy regarding AI use, which sets out what is and isn’t permitted. We use the ALTAI self-assessment checklist, which has been developed by the EU Commission’s High-Level Expert Group on AI, to formally evaluate your current and planned use of AI and guide the development of the policy document.</p>
<p style="text-align: left;">The development of AI is moving so fast that rigid processes won’t work for most organisations keen to adopt AI solutions. The final step is to create an oversight team who will become your mechanism to handle change. The team made up of people within key areas of the company such as IT, HR and compliance — who will monitor AI use and issues over time. We provide this team with a process for AI oversight using the same ALTAI self-assessment to evaluate new uses.</p>
<p style="text-align: left;">&nbsp;</p>
<h3 style="text-align: center;">Our Three Step Governance Programme Will Deliver:</h3>
<table border="5" style="float: left;">
<tbody>
<tr>
<th>Category</th>
<th>Details</th>
</tr>
<tr>
<td>
<h3 style="color: #f58530;">Assessment</h3>
</td>
<td>Report on current and planned future use of AI in your organisation</td>
</tr>
<tr>
<td>
<h3 style="color: #f58530;">Rules of Engagement</h3>
</td>
<td>Policy document developed in consultation with key stakeholders</td>
</tr>
<tr>
<td>
<h3 style="color: #f58530;">Governance</h3>
</td>
<td>Terms of reference and training for your AI oversight team</td>
</tr>
<tr>
<td>
<h3 style="color: #f58530;">Ongoing engagement</h3>
</td>
<td>Optional ongoing participation as external advisors to the AI Oversight team</td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>
<p>Above all, it gets you started on a path to using AI solutions lawfully, ethically and robustly – in short responsibly!</p>
                        
                    </div>
                </div>
            </div>
        </div>

</section>


<section class="block form white-bg in-view" id="homesection10">
    
		<div class="block__header">
								<h2>Contact Us</h2>
							<div class="block__header-text text-big">
					<p>Find out more about our AI Governance Programme and get a quote please contact</p>
				</div>
		</div>
	
	<div class="block__body">
		<div class="container">
		
<div id="umbraco_form_69ef6c9820ef481c82791950f4578001" class="umbraco-forms-form contactform umbraco-forms-igloo">

<form action="https://www.fortprivacy.ie/services/ai-governance/" enctype="multipart/form-data" method="post"><input name="__RequestVerificationToken" type="hidden" value="lXK_fGT5--NZh4q-bBkMW3lBTIEm6alzgxMPOlaeZisZn-283ZmdQxS0nwU3vInXiKH2Rx7zY8NCFbEz2a95orXA9QjXt05QicfbnxzUCsU1"><input data-val="true" data-val-required="The FormId field is required." name="FormId" type="hidden" value="69ef6c98-20ef-481c-8279-1950f4578001"><input name="FormName" type="hidden" value="Contact form"><input data-val="true" data-val-required="The RecordId field is required." name="RecordId" type="hidden" value="00000000-0000-0000-0000-000000000000"><input name="PreviousClicked" type="hidden" value=""><input name="Theme" type="hidden" value="igloo">            <input type="hidden" name="FormStep" value="0">
            <input type="hidden" name="RecordState" value="RkMxQ0Y0MTY1QUI2NEVFMzJCM0FGMzJCQ0I5MENGRkIxMUNGNUM3NTJERUNEREQ5NjUxQzJGNTYxQTlCQ0E4NjM3ODFFNkIzRUJBQjk5Qjc5QTI5MEFEREQ1RERFNjE0ODQ4QjExMjlDNTVGQTlCQzFFQUQ4MUIxQjI5QkQyRkM5NjQwMEZBMjFGMDlDN0NFMDJCODgwOUVCOTJEOUZDODJCNUQyMDAzQjNCMEQxMTVBMDQ1MTM1OUVBMTIyQTNDMTVDRURCQjIzNzJBMzgwQ0FBNzcxNUVGOTM2QjkxNTcwM0Y1MTU5OTJCNkVEMTAyQ0U1QjgxNUQ1QTY1MEJCQTkwRTAzM0VBMzQ5NzlERkRBQ0Y0NzU0MUQxMDUzQUQ2RDMwMTZEMjJBNTM0OTYwRkIzMThCRjhGNEIzNURBRDRCQ0I2REIzN0QyQ0Y2RTFBQjE2QjZFMjQ1MjNBRUM3NUIzRkIwOUJEQUY1NEY0NkM3RENFQUVBRjgzOTQwQkZDODc4ODczQkUyRTE4NURENTcyMzVBMzk3QTkzRUEwNjdGODg4N0JFQkYwNkZGMUI3NjY4NDhCRkMyMUM3RDM5ODU2QjI0RTE5QzI1Q0JCRUM5NkZDNkY0NTMyQTk1ODY1OEU4MzUwQzA4QUQzQUE1MUVERENGQTAyOUE2NEY2RkU3RDY2RDA5MENERTlGM0I3QTk5QTg0QzEwQjY3QjAwOTMyQzQxNEFBQ0Y2NUUzOEU1NDMwQzFGOERERjk0M0IxRDBERTYyRDgyODA1Q0VDOTgwNDA0M0NBRkFFRjVFNkE1MTk0Mzc0MTAxRjUzMDEwQjdFM0NFRTM0ODZFNDlCNzg3ODMwNkUyREU1NDNDRTRCQ0YyQjZDQzkzQUNEODQwREY2RUNCNzQ0OEE1NTlBNzBCNThFOTIzMDQwOTMyQTEzNzQ2Rjg1OUQzNzkwNzAzODA3NTIwNkU2ODU3NkQ1NDVCMjg1RUI2QkQ3MTkxNTg3NTkyQzBFRjAzMjMxNkU1QjRGQzNGNzgxOTlDQzAxMjA4NTAwN0Q3M0ExMEI0RUFDODIxN0VGNDM3RDE4NzlDRUU2NTNGNUE2ODlCQjRBQ0VEMkE2MjMyOTkwMkMzOUE3RDhCQ0M0Qjg5OTVGMjRDQkVFREQwQTREQjA5QTY0OTA1NDVBMDNGMTI2NUU0OUJCNkU5N0JGMzNERkQzQkMzQzhBMzNCOUE3ODVFMUNEMEM4RDhGNTc2QTYyMEZEODJGMEYzMTk4REQzRjI1M0VBMEI3NTgwREMyMjM1MTZERkRDNDNGNjE3NEJFMjcxNzc2OEY5MUQxMjE1MUFFOTFGMjA3OTc3MTMzQTA4NkQ0NjYyMEU3Q0U0N0I4N0E3MzE0MEY2NkMyMzhBNjZGREVCMjVBN0ZGODgzREQ0M0FCNURBOTBEOTc2RjlCREMxNjQ3MjE1NEFFNzJEMUY3MDU0MUM0QUIyQjUxN0RFNERCNEZCQzc5MEQ0MERDQkQxQzIzNUExQzQxODUwMjM4NENDMkEzMUMxNUMxM0ZGMzY5REVFQUYxMkU1QjA0NURBQjdBNDc4ODk2M0U3RUI3NDAwODcwQkUxQzJCRjFBMEZFRjg2OUEyNDQxMkZGOUYwODIzOUFBOTQ4RjE2MkE1OTY0OEJEOEU3RDFGMDlENjExRjlBNEYxMEFDQ0IwRjE3RDAzMTZFRDM4RDA1NzUzMTMyRUYzNjc0MzM0REI5MTNFNDFDMDc4ODA3RkI1NDQ0RTQ3OUY4MDQyREYwNzBCMkY0MDJCNzBDREMwNkMzQTk1MzM4OEZENjg3QzhGOTM0MzkwMTI1MUQ2MTZDMUY4MTE5OUE4QjA1NEQwNEE3NEU5REY4QzEyMjlFQjcyRDgwRDQ1NDE3RjkxRjE1NUVBRTdBREVBODU3NjNEOTI0QjcwNkFFQTE3RDIzMTI2OTNBNTYyMDgwNjY5RDg5NzdEMkQwNkVCNDIyMkM3MDE2REZCOA==">





<div class="umbraco-forms-page">




        <fieldset class="umbraco-forms-fieldset" id="00000000-0000-0000-0000-000000000000">


            <div class="row">

                    <div class="umbraco-forms-container col col-s-100">

                            <div class=" umbraco-forms-field heading titleanddescription">



                                <div class="umbraco-forms-field-wrapper">

                                    


<div id="11c98a9e-8c99-42fb-ef41-ea7653576959" class="">
            <p><centre></centre></p><p style="font-size: 16px;">We’re here to help. Whether you’re unsure where to start, or need some extra guidance in developing your data protection programme.</p><p></p>
</div>

<span class="field-validation-valid" data-valmsg-for="11c98a9e-8c99-42fb-ef41-ea7653576959" data-valmsg-replace="true"></span>
                                </div>

                            </div>

                    </div>
            </div>

        </fieldset>
        <fieldset class="umbraco-forms-fieldset" id="a9f6a54b-554d-4f65-be9b-e200d77c73f3">


            <div class="row">

                    <div class="umbraco-forms-container col col-s-100">

                            <div class=" umbraco-forms-field firstname shortanswer mandatory alternating">

                                    <label for="f6718dda-0e45-48f9-bf8f-ecfe8a500a9e" class="umbraco-forms-label">
                                        First Name*                                                        <span class="umbraco-forms-indicator">*</span>
                                    </label>


                                <div class="umbraco-forms-field-wrapper">

                                    <input type="text" name="f6718dda-0e45-48f9-bf8f-ecfe8a500a9e" id="f6718dda-0e45-48f9-bf8f-ecfe8a500a9e" class="text" value="" maxlength="500" placeholder="Your first name" data-val="true" data-val-required="Please provide a value for First Name*">





<span class="field-validation-valid" data-valmsg-for="f6718dda-0e45-48f9-bf8f-ecfe8a500a9e" data-valmsg-replace="true"></span>
                                </div>

                            </div>

                    </div>
                    <div class="umbraco-forms-container col col-s-100">

                            <div class=" umbraco-forms-field lastname shortanswer mandatory">

                                    <label for="7796ba9e-0c48-45e8-f480-107ddfe19a11" class="umbraco-forms-label">
                                        Last Name*                                                        <span class="umbraco-forms-indicator">*</span>
                                    </label>


                                <div class="umbraco-forms-field-wrapper">

                                    <input type="text" name="7796ba9e-0c48-45e8-f480-107ddfe19a11" id="7796ba9e-0c48-45e8-f480-107ddfe19a11" class="text" value="" maxlength="500" placeholder="Your last name" data-val="true" data-val-required="Please provide a value for Last Name*">





<span class="field-validation-valid" data-valmsg-for="7796ba9e-0c48-45e8-f480-107ddfe19a11" data-valmsg-replace="true"></span>
                                </div>

                            </div>

                    </div>
            </div>

        </fieldset>
        <fieldset class="umbraco-forms-fieldset" id="b1dcd5ef-9cd5-417a-baf7-18708fda98f5">


            <div class="row">

                    <div class="umbraco-forms-container col col-s-100">

                            <div class=" umbraco-forms-field email shortanswer mandatory alternating">

                                    <label for="c9204231-7756-4e10-cb50-60870fb4bb73" class="umbraco-forms-label">
                                        Email*                                                        <span class="umbraco-forms-indicator">*</span>
                                    </label>


                                <div class="umbraco-forms-field-wrapper">

                                    <input type="text" name="c9204231-7756-4e10-cb50-60870fb4bb73" id="c9204231-7756-4e10-cb50-60870fb4bb73" class="text" value="" maxlength="500" placeholder="Your email address" data-val="true" data-val-required="*" data-val-regex="invalid" data-regex="">





<span class="field-validation-valid" data-valmsg-for="c9204231-7756-4e10-cb50-60870fb4bb73" data-valmsg-replace="true"></span>
                                </div>

                            </div>

                    </div>
                    <div class="umbraco-forms-container col col-s-100">

                            <div class=" umbraco-forms-field phonenumber shortanswer">

                                    <label for="288ce607-5d25-49c0-8644-f9cf1adaa7d7" class="umbraco-forms-label">
                                        Phone Number                                     </label>


                                <div class="umbraco-forms-field-wrapper">

                                    <input type="text" name="288ce607-5d25-49c0-8644-f9cf1adaa7d7" id="288ce607-5d25-49c0-8644-f9cf1adaa7d7" class="text" value="" maxlength="500" placeholder="Optional - Your Phone number">





<span class="field-validation-valid" data-valmsg-for="288ce607-5d25-49c0-8644-f9cf1adaa7d7" data-valmsg-replace="true"></span>
                                </div>

                            </div>

                    </div>
            </div>

        </fieldset>
        <fieldset class="umbraco-forms-fieldset" id="1ae5d53c-b15d-4ae7-c872-ae887995812e">


            <div class="row">

                    <div class="umbraco-forms-container col col-s-100">

                            <div class=" umbraco-forms-field organisation shortanswer mandatory alternating">

                                    <label for="1bc69f36-2e34-44ed-d89f-79b5c9376d3f" class="umbraco-forms-label">
                                        Organisation*                                                        <span class="umbraco-forms-indicator">*</span>
                                    </label>


                                <div class="umbraco-forms-field-wrapper">

                                    <input type="text" name="1bc69f36-2e34-44ed-d89f-79b5c9376d3f" id="1bc69f36-2e34-44ed-d89f-79b5c9376d3f" class="text" value="" maxlength="500" placeholder="Your company / organisation" data-val="true" data-val-required="Please provide a value for Organisation*">





<span class="field-validation-valid" data-valmsg-for="1bc69f36-2e34-44ed-d89f-79b5c9376d3f" data-valmsg-replace="true"></span>
                                </div>

                            </div>
                            <div class=" umbraco-forms-field message longanswer mandatory">

                                    <label for="d69e4ea5-4957-4b27-f572-cae872e2dc75" class="umbraco-forms-label">
                                        Message*                                                        <span class="umbraco-forms-indicator">*</span>
                                    </label>


                                <div class="umbraco-forms-field-wrapper">

                                    
<textarea class="" name="d69e4ea5-4957-4b27-f572-cae872e2dc75" id="d69e4ea5-4957-4b27-f572-cae872e2dc75" rows="6" data-val="true" data-val-required="Please provide a value for Message*"></textarea>



<span class="field-validation-valid" data-valmsg-for="d69e4ea5-4957-4b27-f572-cae872e2dc75" data-valmsg-replace="true"></span>
                                </div>

                            </div>
                            <div class=" umbraco-forms-field fortprivacyprocesses titleanddescription alternating">



                                <div class="umbraco-forms-field-wrapper">

                                    


<div id="a4f512f1-a328-48fd-dd0e-8fb89135b700" class="">
            <p>Fort Privacy processes your personal data in order to respond to your query and provide you with information about our products and services. Please see our <a href="https://www.fortprivacy.ie/data-protection-statement/" target="blank" title="Read Data Protection Statement">Data Protection Statement</a> for further information.</p>
</div>

<span class="field-validation-valid" data-valmsg-for="a4f512f1-a328-48fd-dd0e-8fb89135b700" data-valmsg-replace="true"></span>
                                </div>

                            </div>

                    </div>
            </div>

        </fieldset>

    <div style="display: none">
        <input type="text" name="69ef6c9820ef481c82791950f4578001">
    </div>


    <div class="umbraco-forms-navigation row">

        <div class="col-100">
                <input type="submit" class="button button--block" value="Send" name="__next">
        </div>
    </div>
</div>

<input name="ufprt" type="hidden" value="41255D43AF1A291EC1C9D2595ED7AF923484ACECC172B28474B0D57347E82F5D1A340175199965D0B5F79F33E34D6D54EABBC09513A8C9979E3C1D48F71128A91965DE051A35D9ADA45320583085CC17FA482BD22A1EA94AAB839C374CA9E6E6CB099CEA9671A17C58AC77FB192E5F0C4251A556486607CDA326F43C6ADFF401AEF29484DB0FA99A4BBA271DD468AE9E"></form>

        



<script type="text/javascript">
    if (typeof umbracoFormsCollection === 'undefined') var umbracoFormsCollection = [];
    umbracoFormsCollection.push('%7B%22formId%22:%2269ef6c9820ef481c82791950f4578001%22,%22fieldSetConditions%22:%7B%7D,%22fieldConditions%22:%7B%7D,%22recordValues%22:%7B%7D%7D');
</script>


<script src="./AI Governance_files/umbracoforms.js.download" defer="defer" type="text/javascript"></script><link rel="stylesheet" href="./AI Governance_files/style.css">    </div>		</div>
	</div>
	

</section>


