@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
	Layout = "master.cshtml";
}





<!-- <section class="hero hero--   hero--v-top" > -->

<section class="hero   hero--v-top" >

    <div class="hero__inner">
        <div class="container">
            <div class="row row--center">
                <div class="hero__inner light-color col- col-m-100">

                                                <h1>Case Studies</h1>
                                        
                </div>
            </div>
        </div>
    </div>
    
    
            <div class="hero__background hide--m lazyload"
                data-bgset="
                    /media/bxthlvph/fort-privacy-case-studies.jpg?anchor=center&amp;mode=crop&amp;quality=80&amp;width=2560&amp;height=720&amp;upscale=false&amp;rnd=132731713731130000 2560w,
        		    /media/bxthlvph/fort-privacy-case-studies.jpg?anchor=center&amp;mode=crop&amp;quality=80&amp;width=1920&amp;height=540&amp;upscale=false&amp;rnd=132731713731130000 1920w,
        		    /media/bxthlvph/fort-privacy-case-studies.jpg?anchor=center&amp;mode=crop&amp;quality=80&amp;width=1600&amp;height=450&amp;upscale=false&amp;rnd=132731713731130000 1600w"
                 data-sizes="auto">
            </div>
            <div class="hero__background show--m lazyload"
                data-bgset="
        		    /media/bxthlvph/fort-privacy-case-studies.jpg?anchor=center&amp;mode=crop&amp;quality=80&amp;width=1800&amp;height=1600&amp;upscale=false&amp;rnd=132731713731130000 1800w,
        		    /media/bxthlvph/fort-privacy-case-studies.jpg?anchor=center&amp;mode=crop&amp;quality=80&amp;width=1440&amp;height=1280&amp;upscale=false&amp;rnd=132731713731130000 1440w,
        		    /media/bxthlvph/fort-privacy-case-studies.jpg?anchor=center&amp;mode=crop&amp;quality=80&amp;width=1080&amp;height=960&amp;upscale=false&amp;rnd=132731713731130000 1080w,
        		    /media/bxthlvph/fort-privacy-case-studies.jpg?anchor=center&amp;mode=crop&amp;quality=80&amp;width=750&amp;height=667&amp;upscale=false&amp;rnd=132731713731130000 750w"
                 data-sizes="auto">
            </div>
    
    
        <div class="overlay " style="opacity:0.60"></div>


</section>


    <div class="block grid gray-bg    "  id="title1" >
        <div class="container container--big ">
            <div class="row  row--left row--v-top  ">

                    <div class="col-50 col-s-100">

<div class="grid-item grid-item--header ">
                <div class="text-big">
            <h2>Case Studies</h2>
<h3>Trust Fort Privacy to take care of all of your GDPR Compliance and Data Protection needs.</h3>
<p>We understand that compliance with Data Protection legislation is difficult to navigate and we know that noncompliance can seriously affect the growth and success of your business.</p>
<p>Fort Privacy have years of hands-on, Data Protection expertise with companies just like yours.</p>
        </div>
    </div>                    </div>
                    <div class="col-50 col-s-100">

<div class="grid-item grid-item--code">
    <div class="main_casestudies">
<div class="main_casestudies_0"></div>
<div class="main_casestudies_1"></div>
<div class="main_casestudies_2"></div>
<div class="main_casestudies_3"></div>
<div class="main_casestudies_4"></div>
<div class="main_casestudies_5"></div>
<div class="main_casestudies_6"></div>
<div class="main_casestudies_7"></div>
<div class="main_casestudies_8"></div>
<div class="main_casestudies_9"></div>
</div>
</div>                    </div>
            </div>
        </div> 
    </div>


    <div class="block grid gray-bg  row--flat  "  id="homesection7" >
        <div class="container container--big ">
            <div class="row row--flat row--center row--v-center  ">

                    <div class="col col-s-100">


<div class="grid-item grid-item--button text-center">
        <div class="button-wrap">

	<a href="/insights/?ctype=Case%20Study&amp;cat="  title="/insights/?ctype=Case%20Study&amp;cat=" class="button button--default button--theme button--solid">See all Case Studies</a>
        </div>
</div>                    </div>
            </div>
        </div> 
    </div>


<section class="tabs tabs--gray tabs--pills"  id="list1" >

    <nav class="tabs__nav">
        	<ul>

        		    <li><a href="#tab--about" class="active">ABOUT</a></li>
        		    <li><a href="#tab--case-studies" class="">CASE STUDIES</a></li>
        	</ul>
    </nav>
    
    <div class="tabs__container">
        
        	    <div id="tab--about" class="tab tab--active">
            		<div class="tab__body">
            		    

            


    <div class="block grid gray-bg    "  id="cstab1" >
        <div class="container ">
            <div class="row  row--left row--v-top  ">

                    <div class="col-25 col-m-50 col-s-100">


<div class="grid-item grid-item--text ">
    <h4>Governance</h4>
</div>                    </div>
                    <div class="col-75 col-s-100">


<div class="grid-item grid-item--text ">
    <p>The organisation defines a clear Data Protection strategy that is reflected in policies and procedures and in the roles and responsibilities assigned to the organisation’s processing activities.</p>
<p><strong>Governance Overview</strong><br />An organisation should ensure that roles and responsibilities are assigned to the organisations processing activities. Many organisations will be required to appoint a Data Protection Officer and will need Data Protection Champions/Teams in place to ensure that compliance requirements are met. It is necessary to ensure that the registration requirements with the applicable Supervisory Authorities are completed.</p>
<p>Fort Privacy provides the following services under the governance category:</p>
<ul>
<li>Outsourced Data Protection Officer</li>
<li>Selection and management of Data Protection Teams.</li>
<li>Advice on the right governance structure for organisations</li>
<li>Support services for in-house DPOs</li>
<li>Supervisory Authority Registrations</li>
</ul>
<p><strong>Governance related Articles of the GPDR</strong></p>
<p>Article 5, Article 24, Articles 37-39, Article 40;</p>
</div>                    </div>
            </div>
        </div> 
    </div>


    <div class="block grid gray-bg    "  id="cstab2" >
        <div class="container ">
            <div class="row  row--left row--v-top  ">

                    <div class="col-25 col-m-50 col-s-100">


<div class="grid-item grid-item--text ">
    <h4>Accountability</h4>
</div>                    </div>
                    <div class="col-75 col-s-100">


<div class="grid-item grid-item--text ">
    <p>The ability to demonstrate compliance and account for all data processing activities</p>
<p><strong>Accountability Overview</strong></p>
<p>Demonstration of compliance with Ddata Pprotection legislation is a key compliance requirement. Organisations should be able to account for all data processing activities.</p>
<p><br />Appropriate measures such as records of processing activities, activity logs, training logs, audits and risk registers should be in place to demonstrate compliance.</p>
<p><strong>Accountability related Articles of the GPDR</strong></p>
<p>Article 5, Article 24-25, Article 28, Article 30, Article 32, Article 35, Articles 40-43; Recitals: 69, 74, 78, 81, 82, 84, 85, ; Oversight of Remedies, liability and penalties. Articles 77-84.</p>
</div>                    </div>
            </div>
        </div> 
    </div>


    <div class="block grid gray-bg    "  id="cstab3" >
        <div class="container ">
            <div class="row  row--left row--v-top  ">

                    <div class="col-25 col-m-50 col-s-100">


<div class="grid-item grid-item--text ">
    <h4>Transparency</h4>
</div>                    </div>
                    <div class="col-75 col-s-100">


<div class="grid-item grid-item--text ">
    <p>The organisation provides clear statements to data subjects and communicates all required information about its’ processing activities</p>
<p><strong>Transparency Overview</strong></p>
<p>It should be clear and transparent to individuals that personal data concerning them is collected, used, transferred or otherwise processed and to what extent the personal data will be processed. Communications relating to the processing of personal data should be concise, transparent, easily accessible and easy to understand. </p>
<p>Compliance is achieved in this category through Data Protection Statements, Cookie management activity and other notices. </p>
<p><strong>Transparency related Articles of the GPDR</strong></p>
<p>Article 5 (a), Article 12, Article 13, Article 14, Article 24, Article 26; Recitals 39, 58, 60, 71, 78, 97, 100;</p>
</div>                    </div>
            </div>
        </div> 
    </div>


    <div class="block grid gray-bg    "  id="cstab6" >
        <div class="container ">
            <div class="row  row--left row--v-top  ">

                    <div class="col-25 col-m-50 col-s-100">


<div class="grid-item grid-item--text ">
    <h4>Data Transfer Management</h4>
</div>                    </div>
                    <div class="col-75 col-s-100">


<div class="grid-item grid-item--text ">
    <p>The organisation discloses personal data outside the organisation only for the purposes identified and has all required transfer mechanisms in place.</p>
<p><strong>Data Transfer Management Overview</strong></p>
<p>Where an organisation transfers personal data to another organisation the transfer should be consistent with the purpose of processing and an appropriate transfer mechanisms should be in place.   These come in the form of Data Processing Agreements, Standard Contractual Clauses and Binding Corporate Rules.</p>
<p>To meet compliance requirements due diligence should be completed on suppliers to ensure that adequate safeguards are in place for the transfer and processing of the personal data.</p>
<p><strong>Data Transfer Management related Articles of the GDPR</strong></p>
<p>Articles 13-15, Articles 28-30, Article 32, Articles 44-50;</p>
</div>                    </div>
            </div>
        </div> 
    </div>


    <div class="block grid gray-bg    "  id="cstab4" >
        <div class="container ">
            <div class="row  row--left row--v-top  ">

                    <div class="col-25 col-m-50 col-s-100">


<div class="grid-item grid-item--text ">
    <h4>Legal Basis Management</h4>
</div>                    </div>
                    <div class="col-75 col-s-100">


<div class="grid-item grid-item--text ">
    <p>The organisation ensures it can identify a reliable lawful basis for each processing activity</p>
<p><strong>Legal Basis Overview</strong></p>
<p>An organisation must ensure that it identifies a reliable lawful basis for each of its processing activities. Data protection legislation sets out a number of legal grounds for processing personal data. Each processing activity must have a sound legal basis. </p>
<p>Special Category Data requires an additional legal ground to be identified for that processing activity.</p>
<p><strong>Legal Basis related Articles of the GPDR</strong></p>
<p>Article 5 (1) (a), Article 6, Article 7, Article 8, Article 9, Article 10</p>
</div>                    </div>
            </div>
        </div> 
    </div>


    <div class="block grid gray-bg    "  id="cstab8" >
        <div class="container ">
            <div class="row  row--left row--v-top  ">

                    <div class="col-25 col-m-50 col-s-100">


<div class="grid-item grid-item--text ">
    <h4>Data Breach Management</h4>
</div>                    </div>
                    <div class="col-75 col-s-100">


<div class="grid-item grid-item--text ">
    <p>The organisation documents and implements policies and procedures for reporting and managing personal data breaches.</p>
<p><strong>Data Breach Management Overview</strong></p>
<p>An organisation should document robust policies and procedures for identifying, reporting and managing personal data breaches. Failure to do this can come at a huge cost to an organisation. </p>
<p><strong>Data Breach Management related Articles of the GPDR</strong></p>
<p>Article 33 and Article34.</p>
</div>                    </div>
            </div>
        </div> 
    </div>


    <div class="block grid gray-bg    "  id="cstab9" >
        <div class="container ">
            <div class="row  row--left row--v-top  ">

                    <div class="col-25 col-m-50 col-s-100">


<div class="grid-item grid-item--text ">
    <h4>Security</h4>
</div>                    </div>
                    <div class="col-75 col-s-100">


<div class="grid-item grid-item--text ">
    <p>The organisation manages the security of personal data and of systems that it uses to process the personal data</p>
<p><strong>Security Overview</strong></p>
<p>Organisations must manage the security of personal data and the systems that it uses to process the personal data. The technical and organisational measures deployed should be appropriate to the processing activities being undertaken by an organisation.</p>
<p><br />Key to compliance with this category is the implementation of robust policies and procedures that are embedded in practice. Documented Technical and Organisational measures should be in place. This is an invaluable compliance activity that can help you demonstrate to your customers that you are operating in compliance with the GPDR </p>
<p><strong>Security related Articles of the GPDR</strong></p>
<p>Article 32, Article 28</p>
</div>                    </div>
            </div>
        </div> 
    </div>


    <div class="block grid gray-bg    "  id="cstab5" >
        <div class="container ">
            <div class="row  row--left row--v-top  ">

                    <div class="col-25 col-m-50 col-s-100">


<div class="grid-item grid-item--text ">
    <h4>Data Subject Rights Management</h4>
</div>                    </div>
                    <div class="col-75 col-s-100">


<div class="grid-item grid-item--text ">
    <p>Policies and processes are in place to facilitate and respond to data subjects who invoke their rights</p>
<p><strong>Data Subject Rights Management Overview</strong></p>
<p>Data Protection legislation provides certain rights for individuals whose personal data is collected, used, transferred or otherwise processed. These include</p>
<ul>
<li style="font-weight: 400;" aria-level="1">the right to be informed</li>
<li style="font-weight: 400;" aria-level="1">the right of access</li>
<li style="font-weight: 400;" aria-level="1">the right to rectification</li>
<li style="font-weight: 400;" aria-level="1">the right to erasure</li>
<li style="font-weight: 400;" aria-level="1">the right to restrict processing</li>
<li style="font-weight: 400;" aria-level="1">the right to data portability</li>
<li style="font-weight: 400;" aria-level="1">the right to object to processing</li>
<li style="font-weight: 400;" aria-level="1">the rights in relation to automated decision making and profiling</li>
</ul>
<p> </p>
<p>The most commonly used right is the right of access. Robust data subject access requests policies and procedures are crucial for most organisations to meet compliance requirements.</p>
<p><strong>Data Subject Rights related Articles of the GPDR</strong></p>
<p>Articles 12-23;</p>
<p> </p>
</div>                    </div>
            </div>
        </div> 
    </div>


    <div class="block grid gray-bg    "  id="cstab7" >
        <div class="container ">
            <div class="row  row--left row--v-top  ">

                    <div class="col-25 col-m-50 col-s-100">


<div class="grid-item grid-item--text ">
    <h4>Data Management</h4>
</div>                    </div>
                    <div class="col-75 col-s-100">


<div class="grid-item grid-item--text ">
    <p>The organisation manages personal data processing activities to ensure consistency with the principles of purpose limitation, data minimisation, accuracy and storage limitation.</p>
<p><strong>Data Management Overview </strong></p>
<p>Organisations should manage personal data processing activities to ensure consistency with the data protection principles of </p>
<ul>
<li style="font-weight: 400;" aria-level="1"><strong>Purpose Limitation </strong>- personal data should only be used for the purpose with which it was collected</li>
<li style="font-weight: 400;" aria-level="1"><strong>Data Minimisation</strong>- only personal data required for the purpose should be processed</li>
<li style="font-weight: 400;" aria-level="1"><strong>Accuracy</strong>- all personal data should be accurate and up to date</li>
<li style="font-weight: 400;" aria-level="1"><strong>Retention</strong>- personal data should only be kept for as long as necessary for the purpose</li>
</ul>
<p>Many organisations struggle with managing the retention of personal data. The approach to this should be systemic starting with the legal basis for processing.   Compliance activities for Data Management include documenting a record retention schedule for all processing activities and ensuring this is implemented.</p>
<p><strong>Data Management related Articles of the GPDR</strong></p>
<p>Article 5 (1) (b) "Purpose Limitation", Article 5 (1) (c) "Data Minimisation", Article 5 (1) (d) "Accuracy", Article 5 (1) (f) "Storage Limitation"</p>
<p> </p>
</div>                    </div>
            </div>
        </div> 
    </div>


    <div class="block grid gray-bg    "  id="cstab10" >
        <div class="container ">
            <div class="row  row--left row--v-top  ">

                    <div class="col-25 col-m-50 col-s-100">


<div class="grid-item grid-item--text ">
    <h4>Change Management</h4>
</div>                    </div>
                    <div class="col-75 col-s-100">


<div class="grid-item grid-item--text ">
    <p>The organisation provides and implements a framework for data protection change management</p>
<p><strong>Change Management Overview</strong></p>
<p>Organisations should implement a framework for managing changes to  processing activities giving full consideration to data protection. This includes the implementation of Data Protection Impact Assessments (DPIA) to assess the impact a change in process could have. These assessments can serve to underpin the decision to implement the change. </p>
<p>DPIAs are a legal requirement under the GDPR in many cases and even where they are not strictly necessary they are an invaluable exercise that assesses the processing activity to (i) assess it is a viable processing activity and (ii) to ensure all necessary compliance requirements are in place before the processing proceeds</p>
<p><strong>Change Management Articles of the GPDR</strong></p>
<p>Article 35, Article 25</p>
</div>                    </div>
            </div>
        </div> 
    </div>
            
            		</div>
        	    </div>
        	    <div id="tab--case-studies" class="tab ">
            		<div class="tab__body">
            		    

            


    <div class="block grid gray-bg    "  id="detcstab1" >
        <div class="container ">
            <div class="row  row--left row--v-top  ">

                    <div class="col-33 col-s-100">


<div class="grid-item grid-item--pod pod   ">
    <article>
            <div class="pod__image">
                        <img class="lazyload"
                             src="/media/h4hkybtm/uniphar-case-study.jpg?width=10"
                             data-sizes="auto"
                             data-srcset="/media/h4hkybtm/uniphar-case-study.jpg?upscale=false&width=300&quality=80 300w,
                    	    /media/h4hkybtm/uniphar-case-study.jpg?upscale=false&width=500&quality=80 500w,
                    	    /media/h4hkybtm/uniphar-case-study.jpg?upscale=false&width=750&quality=80 750w,
                    	    /media/h4hkybtm/uniphar-case-study.jpg?upscale=false&width=1000&quality=80 1000w"
                             alt="Customer: Uniphar PLC">
            </div>
        <div class="pod__text">
                <h3 class="h5">Customer: Uniphar PLC</h3>
            <p><strong>Category: Governance / Accountability</strong></p>
<p><strong>Project:  Advising on an appropriate Data Protection Governance structure for the Uniphar Group of companies</strong></p>

                <div class="button-wrap">

	<a href="/uniphar-case-study/"  title="Uniphar Case Study" class="button button--default button--theme button--solid">Read Full Case Study</a>
                </div>
        </div>
    </article>
</div>                    </div>
                    <div class="col-33 col-s-100">


<div class="grid-item grid-item--pod pod   ">
    <article>
            <div class="pod__image">
                        <img class="lazyload"
                             src="/media/ycshjxqe/healthcare-case-study.jpg?width=10"
                             data-sizes="auto"
                             data-srcset="/media/ycshjxqe/healthcare-case-study.jpg?upscale=false&width=300&quality=80 300w,
                    	    /media/ycshjxqe/healthcare-case-study.jpg?upscale=false&width=500&quality=80 500w,
                    	    /media/ycshjxqe/healthcare-case-study.jpg?upscale=false&width=750&quality=80 750w,
                    	    /media/ycshjxqe/healthcare-case-study.jpg?upscale=false&width=1000&quality=80 1000w"
                             alt="Customer: Healthcare Distributor of products and services ">
            </div>
        <div class="pod__text">
                <h3 class="h5">Customer: Healthcare Distributor of products and services </h3>
            <p><strong>Category: Accountability / Governance / Security Management</strong></p>
<p><strong>Project: Documenting a Record of Processing Activity</strong></p>

                <div class="button-wrap">

	<a href="/healthcare-distributor-case-study/"  title="Healthcare Distributor Case Study" class="button button--default button--theme button--solid">Read Full Case Study</a>
                </div>
        </div>
    </article>
</div>                    </div>
                    <div class="col-33 col-s-100">


<div class="grid-item grid-item--pod pod   ">
    <article>
            <div class="pod__image">
                        <img class="lazyload"
                             src="/media/nxgprbx2/pharmacy-case-study.jpg?width=10"
                             data-sizes="auto"
                             data-srcset="/media/nxgprbx2/pharmacy-case-study.jpg?upscale=false&width=300&quality=80 300w,
                    	    /media/nxgprbx2/pharmacy-case-study.jpg?upscale=false&width=500&quality=80 500w,
                    	    /media/nxgprbx2/pharmacy-case-study.jpg?upscale=false&width=750&quality=80 750w,
                    	    /media/nxgprbx2/pharmacy-case-study.jpg?upscale=false&width=1000&quality=80 1000w"
                             alt="Customer:  Pharmacy Management System Supplier ">
            </div>
        <div class="pod__text">
                <h3 class="h5">Customer:  Pharmacy Management System Supplier </h3>
            <p><strong>Category: Data Transfer Management / Governance</strong></p>
<p><strong>Project:  Advising on an appropriate Data Protection Governance structure for the Uniphar Group of companies</strong></p>

                <div class="button-wrap">

	<a href="/pharmacy-case-study/"  title="Pharmacy Case Study" class="button button--default button--theme button--solid">Read Full Case Study</a>
                </div>
        </div>
    </article>
</div>                    </div>
                    <div class="col-33 col-s-100">


<div class="grid-item grid-item--pod pod   ">
    <article>
            <div class="pod__image">
                        <img class="lazyload"
                             src="/media/uxaf0blc/ansac-case-study.jpg?width=10"
                             data-sizes="auto"
                             data-srcset="/media/uxaf0blc/ansac-case-study.jpg?upscale=false&width=300&quality=80 300w,
                    	    /media/uxaf0blc/ansac-case-study.jpg?upscale=false&width=500&quality=80 500w,
                    	    /media/uxaf0blc/ansac-case-study.jpg?upscale=false&width=750&quality=80 750w,
                    	    /media/uxaf0blc/ansac-case-study.jpg?upscale=false&width=1000&quality=80 1000w"
                             alt="Customer: ANSAC Credit Union">
            </div>
        <div class="pod__text">
                <h3 class="h5">Customer: ANSAC Credit Union</h3>
            <p><strong>Category: Legal Basis Management / Accountability / Governance</strong></p>
<p><strong>Project: Marketing Policy</strong></p>

                <div class="button-wrap">

	<a href="/ansac-credit-union-case-study/"  title="ANSAC Credit Union Case Study" class="button button--default button--theme button--solid">Read Full Case Study</a>
                </div>
        </div>
    </article>
</div>                    </div>
                    <div class="col-33 col-s-100">


<div class="grid-item grid-item--pod pod   ">
    <article>
            <div class="pod__image">
                        <img class="lazyload"
                             src="/media/2cxpjoxt/kings-inn-case-study.jpg?width=10"
                             data-sizes="auto"
                             data-srcset="/media/2cxpjoxt/kings-inn-case-study.jpg?upscale=false&width=300&quality=80 300w,
                    	    /media/2cxpjoxt/kings-inn-case-study.jpg?upscale=false&width=500&quality=80 500w,
                    	    /media/2cxpjoxt/kings-inn-case-study.jpg?upscale=false&width=750&quality=80 750w,
                    	    /media/2cxpjoxt/kings-inn-case-study.jpg?upscale=false&width=1000&quality=80 1000w"
                             alt="Customer: The Honorable Society of King’s Inns">
            </div>
        <div class="pod__text">
                <h3 class="h5">Customer: The Honorable Society of King’s Inns</h3>
            <p><strong>Category: Change Management / Governance / Transparency / Data Transfer Management</strong></p>
<p><strong>Project: Move to Remote Examinations</strong></p>

                <div class="button-wrap">

	<a href="/kings-inn-case-study/"  title="Kings Inn Case Study" class="button button--default button--theme button--solid">Read Full Case Study</a>
                </div>
        </div>
    </article>
</div>                    </div>
            </div>
        </div> 
    </div>


    <div class="block grid gray-bg    "  id="detcstab2" >
        <div class="container ">
            <div class="row  row--left row--v-top  ">

                    <div class="col-33 col-s-100">


<div class="grid-item grid-item--pod pod   ">
    <article>
            <div class="pod__image">
                        <img class="lazyload"
                             src="/media/ycshjxqe/healthcare-case-study.jpg?width=10"
                             data-sizes="auto"
                             data-srcset="/media/ycshjxqe/healthcare-case-study.jpg?upscale=false&width=300&quality=80 300w,
                    	    /media/ycshjxqe/healthcare-case-study.jpg?upscale=false&width=500&quality=80 500w,
                    	    /media/ycshjxqe/healthcare-case-study.jpg?upscale=false&width=750&quality=80 750w,
                    	    /media/ycshjxqe/healthcare-case-study.jpg?upscale=false&width=1000&quality=80 1000w"
                             alt="Customer: Healthcare Distributor of products and services ">
            </div>
        <div class="pod__text">
                <h3 class="h5">Customer: Healthcare Distributor of products and services </h3>
            <p><strong>Category</strong>: <strong>Accountability / Governance / Security Management</strong></p>
<p><strong>Project: Documenting a Record of Processing Activity</strong></p>

                <div class="button-wrap">

	<a href="/healthcare-distributor-case-study/"  title="Healthcare Distributor Case Study" class="button button--default button--theme button--solid">Read Full Case Study</a>
                </div>
        </div>
    </article>
</div>                    </div>
                    <div class="col-33 col-s-100">


<div class="grid-item grid-item--pod pod   ">
    <article>
            <div class="pod__image">
                        <img class="lazyload"
                             src="/media/egalksy2/saas-case-study.jpg?width=10"
                             data-sizes="auto"
                             data-srcset="/media/egalksy2/saas-case-study.jpg?upscale=false&width=300&quality=80 300w,
                    	    /media/egalksy2/saas-case-study.jpg?upscale=false&width=500&quality=80 500w,
                    	    /media/egalksy2/saas-case-study.jpg?upscale=false&width=750&quality=80 750w,
                    	    /media/egalksy2/saas-case-study.jpg?upscale=false&width=1000&quality=80 1000w"
                             alt="Customer: SaaS Provider ">
            </div>
        <div class="pod__text">
                <h3 class="h5">Customer: SaaS Provider </h3>
            <p><strong>Category: Accountability /Data Transfer Management / Breach Management</strong></p>
<p><strong>Project:</strong> <strong>6 month compliance programme</strong></p>

                <div class="button-wrap">

	<a href="/saas-case-study/"  title="SaaS Case Study" class="button button--default button--theme button--solid">Read Full Case Study</a>
                </div>
        </div>
    </article>
</div>                    </div>
                    <div class="col-33 col-s-100">


<div class="grid-item grid-item--pod pod   ">
    <article>
            <div class="pod__image">
                        <img class="lazyload"
                             src="/media/5bhjzfeb/retail-case-study.jpg?width=10"
                             data-sizes="auto"
                             data-srcset="/media/5bhjzfeb/retail-case-study.jpg?upscale=false&width=300&quality=80 300w,
                    	    /media/5bhjzfeb/retail-case-study.jpg?upscale=false&width=500&quality=80 500w,
                    	    /media/5bhjzfeb/retail-case-study.jpg?upscale=false&width=750&quality=80 750w,
                    	    /media/5bhjzfeb/retail-case-study.jpg?upscale=false&width=1000&quality=80 1000w"
                             alt="Customer: Retail wholesaler ">
            </div>
        <div class="pod__text">
                <h3 class="h5">Customer: Retail wholesaler </h3>
            <p><strong>Category: Accountability / Data Transfer Management</strong></p>
<p><strong>Project: GDPR GAP Audit</strong></p>

                <div class="button-wrap">

	<a href="/retail-wholesaler-case-study/"  title="Retail Wholesaler Case Study" class="button button--default button--theme button--solid">Read Full Case Study</a>
                </div>
        </div>
    </article>
</div>                    </div>
                    <div class="col-33 col-s-100">


<div class="grid-item grid-item--pod pod   ">
    <article>
            <div class="pod__image">
                        <img class="lazyload"
                             src="/media/h4hkybtm/uniphar-case-study.jpg?width=10"
                             data-sizes="auto"
                             data-srcset="/media/h4hkybtm/uniphar-case-study.jpg?upscale=false&width=300&quality=80 300w,
                    	    /media/h4hkybtm/uniphar-case-study.jpg?upscale=false&width=500&quality=80 500w,
                    	    /media/h4hkybtm/uniphar-case-study.jpg?upscale=false&width=750&quality=80 750w,
                    	    /media/h4hkybtm/uniphar-case-study.jpg?upscale=false&width=1000&quality=80 1000w"
                             alt="Customer: Uniphar PLC">
            </div>
        <div class="pod__text">
                <h3 class="h5">Customer: Uniphar PLC</h3>
            <p><strong>Category: Governance / Accountability</strong></p>
<p><strong>Project:  Advising on an appropriate Data Protection Governance structure for the Uniphar Group of companies</strong></p>

                <div class="button-wrap">

	<a href="/uniphar-case-study/"  title="Uniphar Case Study" class="button button--default button--theme button--solid">Read Full Case Study</a>
                </div>
        </div>
    </article>
</div>                    </div>
                    <div class="col-33 col-s-100">


<div class="grid-item grid-item--pod pod   ">
    <article>
            <div class="pod__image">
                        <img class="lazyload"
                             src="/media/cuahlkea/recruitment-case-study.jpg?width=10"
                             data-sizes="auto"
                             data-srcset="/media/cuahlkea/recruitment-case-study.jpg?upscale=false&width=300&quality=80 300w,
                    	    /media/cuahlkea/recruitment-case-study.jpg?upscale=false&width=500&quality=80 500w,
                    	    /media/cuahlkea/recruitment-case-study.jpg?upscale=false&width=750&quality=80 750w,
                    	    /media/cuahlkea/recruitment-case-study.jpg?upscale=false&width=1000&quality=80 1000w"
                             alt="Customer: Recruitment ">
            </div>
        <div class="pod__text">
                <h3 class="h5">Customer: Recruitment </h3>
            <p><strong>Category: Transparency / Accountability / Legal Basis Management</strong></p>
<p><strong>Project:</strong>  <strong>Advising on an appropriate Data Protection Governance structure for the Uniphar Group of companies</strong></p>

                <div class="button-wrap">

	<a href="/recruitment-case-study/"  title="Recruitment Case Study" class="button button--default button--theme button--solid">Read Full Case Study</a>
                </div>
        </div>
    </article>
</div>                    </div>
                    <div class="col-33 col-s-100">


<div class="grid-item grid-item--pod pod   ">
    <article>
            <div class="pod__image">
                        <img class="lazyload"
                             src="/media/uxaf0blc/ansac-case-study.jpg?width=10"
                             data-sizes="auto"
                             data-srcset="/media/uxaf0blc/ansac-case-study.jpg?upscale=false&width=300&quality=80 300w,
                    	    /media/uxaf0blc/ansac-case-study.jpg?upscale=false&width=500&quality=80 500w,
                    	    /media/uxaf0blc/ansac-case-study.jpg?upscale=false&width=750&quality=80 750w,
                    	    /media/uxaf0blc/ansac-case-study.jpg?upscale=false&width=1000&quality=80 1000w"
                             alt="Customer: ANSAC Credit Union">
            </div>
        <div class="pod__text">
                <h3 class="h5">Customer: ANSAC Credit Union</h3>
            <p><strong>Category: Legal Basis Management / Accountability / Governance    </strong></p>
<p><strong>Project:</strong> <strong>Marketing Policy</strong></p>

                <div class="button-wrap">

	<a href="/ansac-credit-union-case-study/"  title="ANSAC Credit Union Case Study" class="button button--default button--theme button--solid">Read Full Case Study</a>
                </div>
        </div>
    </article>
</div>                    </div>
                    <div class="col-33 col-s-100">


<div class="grid-item grid-item--pod pod   ">
    <article>
            <div class="pod__image">
                        <img class="lazyload"
                             src="/media/kztpn4ds/credit-union-case-study.jpg?width=10"
                             data-sizes="auto"
                             data-srcset="/media/kztpn4ds/credit-union-case-study.jpg?upscale=false&width=300&quality=80 300w,
                    	    /media/kztpn4ds/credit-union-case-study.jpg?upscale=false&width=500&quality=80 500w,
                    	    /media/kztpn4ds/credit-union-case-study.jpg?upscale=false&width=750&quality=80 750w,
                    	    /media/kztpn4ds/credit-union-case-study.jpg?upscale=false&width=1000&quality=80 1000w"
                             alt="Customer: Credit Union Sector">
            </div>
        <div class="pod__text">
                <h3 class="h5">Customer: Credit Union Sector</h3>
            <p><strong>Category: Data Management / Accountability</strong></p>
<p><strong>Project:</strong> <strong>Building Record Retention Policy and Schedule</strong></p>

                <div class="button-wrap">

	<a href="/credit-union-sector-case-study/"  title="Credit Union Sector Case Study" class="button button--default button--theme button--solid">Read Full Case Study</a>
                </div>
        </div>
    </article>
</div>                    </div>
                    <div class="col-33 col-s-100">


<div class="grid-item grid-item--pod pod   ">
    <article>
            <div class="pod__image">
                        <img class="lazyload"
                             src="/media/fpydi3sv/public-sector-case-study.jpg?width=10"
                             data-sizes="auto"
                             data-srcset="/media/fpydi3sv/public-sector-case-study.jpg?upscale=false&width=300&quality=80 300w,
                    	    /media/fpydi3sv/public-sector-case-study.jpg?upscale=false&width=500&quality=80 500w,
                    	    /media/fpydi3sv/public-sector-case-study.jpg?upscale=false&width=750&quality=80 750w,
                    	    /media/fpydi3sv/public-sector-case-study.jpg?upscale=false&width=1000&quality=80 1000w"
                             alt="Customer: Public sector body">
            </div>
        <div class="pod__text">
                <h3 class="h5">Customer: Public sector body</h3>
            <p><strong>Category: DSAR Management / Accountability</strong></p>
<p><strong>Project: Supporting customer to respond to a Data Subject Access Request</strong></p>

                <div class="button-wrap">

	<a href="/public-sector-case-study/"  title="Public Sector Case Study" class="button button--default button--theme button--solid">Read Full Case Study</a>
                </div>
        </div>
    </article>
</div>                    </div>
                    <div class="col-33 col-s-100">


<div class="grid-item grid-item--pod pod   ">
    <article>
            <div class="pod__image">
                        <img class="lazyload"
                             src="/media/hlnkmwrx/government-agency-case-study.jpg?width=10"
                             data-sizes="auto"
                             data-srcset="/media/hlnkmwrx/government-agency-case-study.jpg?upscale=false&width=300&quality=80 300w,
                    	    /media/hlnkmwrx/government-agency-case-study.jpg?upscale=false&width=500&quality=80 500w,
                    	    /media/hlnkmwrx/government-agency-case-study.jpg?upscale=false&width=750&quality=80 750w,
                    	    /media/hlnkmwrx/government-agency-case-study.jpg?upscale=false&width=1000&quality=80 1000w"
                             alt="Customer: Government Agency">
            </div>
        <div class="pod__text">
                <h3 class="h5">Customer: Government Agency</h3>
            <p><strong>Category: </strong><strong>Security Management / Accountability</strong></p>
<p><strong>Project:</strong> <strong>Documenting the Technical and Organisational measures</strong></p>

                <div class="button-wrap">

	<a href="/insights/documenting-the-technical-and-organisational-measures/"  title="Documenting the Technical and Organisational measures" class="button button--default button--theme button--solid">Read Full Case Study</a>
                </div>
        </div>
    </article>
</div>                    </div>
                    <div class="col-33 col-s-100">


<div class="grid-item grid-item--pod pod   ">
    <article>
            <div class="pod__image">
                        <img class="lazyload"
                             src="/media/vstdhmdy/multinational-case-study.jpg?width=10"
                             data-sizes="auto"
                             data-srcset="/media/vstdhmdy/multinational-case-study.jpg?upscale=false&width=300&quality=80 300w,
                    	    /media/vstdhmdy/multinational-case-study.jpg?upscale=false&width=500&quality=80 500w,
                    	    /media/vstdhmdy/multinational-case-study.jpg?upscale=false&width=750&quality=80 750w,
                    	    /media/vstdhmdy/multinational-case-study.jpg?upscale=false&width=1000&quality=80 1000w"
                             alt="Customer: Global Multinational company">
            </div>
        <div class="pod__text">
                <h3 class="h5">Customer: Global Multinational company</h3>
            <p><strong>Category: Breach Management / Accountability</strong></p>
<p><strong>Project: Building Breach Management Policies and Procedures</strong></p>

                <div class="button-wrap">

	<a href="/global-multinational-case-study/"  title="Global Multinational Case Study" class="button button--default button--theme button--solid">Read Full Case Study</a>
                </div>
        </div>
    </article>
</div>                    </div>
                    <div class="col-33 col-s-100">


<div class="grid-item grid-item--pod pod   ">
    <article>
            <div class="pod__image">
                        <img class="lazyload"
                             src="/media/hlnkmwrx/government-agency-case-study.jpg?width=10"
                             data-sizes="auto"
                             data-srcset="/media/hlnkmwrx/government-agency-case-study.jpg?upscale=false&width=300&quality=80 300w,
                    	    /media/hlnkmwrx/government-agency-case-study.jpg?upscale=false&width=500&quality=80 500w,
                    	    /media/hlnkmwrx/government-agency-case-study.jpg?upscale=false&width=750&quality=80 750w,
                    	    /media/hlnkmwrx/government-agency-case-study.jpg?upscale=false&width=1000&quality=80 1000w"
                             alt="  Customer: Government Agency">
            </div>
        <div class="pod__text">
                <h3 class="h5">  Customer: Government Agency</h3>
            <p><strong>Category: Data Transfer Management / Accountability</strong></p>
<p><strong>Project: Embedding data protection compliance into the supplier procurement process</strong></p>

                <div class="button-wrap">

	<a href="/government-agency-case-study/"  title="Government Agency Case Study" class="button button--default button--theme button--solid">Read Full Case Study</a>
                </div>
        </div>
    </article>
</div>                    </div>
            </div>
        </div> 
    </div>


    <div class="block grid gray-bg    "  id="detcstab3" >
        <div class="container ">
            <div class="row  row--left row--v-top  ">

                    <div class="col-33 col-s-100">


<div class="grid-item grid-item--pod pod   ">
    <article>
            <div class="pod__image">
                        <img class="lazyload"
                             src="/media/cuahlkea/recruitment-case-study.jpg?width=10"
                             data-sizes="auto"
                             data-srcset="/media/cuahlkea/recruitment-case-study.jpg?upscale=false&width=300&quality=80 300w,
                    	    /media/cuahlkea/recruitment-case-study.jpg?upscale=false&width=500&quality=80 500w,
                    	    /media/cuahlkea/recruitment-case-study.jpg?upscale=false&width=750&quality=80 750w,
                    	    /media/cuahlkea/recruitment-case-study.jpg?upscale=false&width=1000&quality=80 1000w"
                             alt="Customer: Recruitment ">
            </div>
        <div class="pod__text">
                <h3 class="h5">Customer: Recruitment </h3>
            <p><strong>Category: Transparency / Accountability / Legal Basis Management</strong></p>
<p><strong>Project: </strong><strong>Data Protection Statement </strong></p>

                <div class="button-wrap">

	<a href="/recruitment-case-study/"  title="Recruitment Case Study" class="button button--default button--theme button--solid">Read Full Case Study</a>
                </div>
        </div>
    </article>
</div>                    </div>
                    <div class="col-33 col-s-100">


<div class="grid-item grid-item--pod pod   ">
    <article>
            <div class="pod__image">
                        <img class="lazyload"
                             src="/media/goshi3z3/multiple-website-case-study.jpg?width=10"
                             data-sizes="auto"
                             data-srcset="/media/goshi3z3/multiple-website-case-study.jpg?upscale=false&width=300&quality=80 300w,
                    	    /media/goshi3z3/multiple-website-case-study.jpg?upscale=false&width=500&quality=80 500w,
                    	    /media/goshi3z3/multiple-website-case-study.jpg?upscale=false&width=750&quality=80 750w,
                    	    /media/goshi3z3/multiple-website-case-study.jpg?upscale=false&width=1000&quality=80 1000w"
                             alt="Customer: Client with multiple websites ">
            </div>
        <div class="pod__text">
                <h3 class="h5">Customer: Client with multiple websites </h3>
            <p><strong>Category: Transparency</strong></p>
<p><strong>Project: Cookie compliance</strong></p>

                <div class="button-wrap">

	<a href="/multiple-website-case-study/"  title="Multiple Website Case Study" class="button button--default button--theme button--solid">Read Full Case Study</a>
                </div>
        </div>
    </article>
</div>                    </div>
                    <div class="col-33 col-s-100">


<div class="grid-item grid-item--pod pod   ">
    <article>
            <div class="pod__image">
                        <img class="lazyload"
                             src="/media/2cxpjoxt/kings-inn-case-study.jpg?width=10"
                             data-sizes="auto"
                             data-srcset="/media/2cxpjoxt/kings-inn-case-study.jpg?upscale=false&width=300&quality=80 300w,
                    	    /media/2cxpjoxt/kings-inn-case-study.jpg?upscale=false&width=500&quality=80 500w,
                    	    /media/2cxpjoxt/kings-inn-case-study.jpg?upscale=false&width=750&quality=80 750w,
                    	    /media/2cxpjoxt/kings-inn-case-study.jpg?upscale=false&width=1000&quality=80 1000w"
                             alt="Customer: The Honorable Society of King’s Inns">
            </div>
        <div class="pod__text">
                <h3 class="h5">Customer: The Honorable Society of King’s Inns</h3>
            <p><strong>Category: Change Management / Governance / Transparency / Data Transfer Management</strong></p>
<p><strong>Project:</strong> <strong>Move to Remote Examinations</strong></p>

                <div class="button-wrap">

	<a href="/kings-inn-case-study/"  title="Kings Inn Case Study" class="button button--default button--theme button--solid">Read Full Case Study</a>
                </div>
        </div>
    </article>
</div>                    </div>
                    <div class="col-33 col-s-100">


<div class="grid-item grid-item--pod pod   ">
    <article>
            <div class="pod__image">
                        <img class="lazyload"
                             src="/media/gmgbkhde/software-user-group-case-study.jpg?width=10"
                             data-sizes="auto"
                             data-srcset="/media/gmgbkhde/software-user-group-case-study.jpg?upscale=false&width=300&quality=80 300w,
                    	    /media/gmgbkhde/software-user-group-case-study.jpg?upscale=false&width=500&quality=80 500w,
                    	    /media/gmgbkhde/software-user-group-case-study.jpg?upscale=false&width=750&quality=80 750w,
                    	    /media/gmgbkhde/software-user-group-case-study.jpg?upscale=false&width=1000&quality=80 1000w"
                             alt="Customer: Industry user group for a software supplier">
            </div>
        <div class="pod__text">
                <h3 class="h5">Customer: Industry user group for a software supplier</h3>
            <p><strong>Category: Change Management / Transparency / Security Management</strong></p>
<p><strong>Project:</strong> <strong>Mobile app development</strong></p>

                <div class="button-wrap">

	<a href="/industry-user-group-case-study/"  title="Industry User Group Case Study" class="button button--default button--theme button--solid">Read Full Case Study</a>
                </div>
        </div>
    </article>
</div>                    </div>
            </div>
        </div> 
    </div>


    <div class="block grid gray-bg    "  id="detcstab4" >
        <div class="container ">
            <div class="row  row--left row--v-top  ">

                    <div class="col-33 col-s-100">


<div class="grid-item grid-item--pod pod   ">
    <article>
            <div class="pod__image">
                        <img class="lazyload"
                             src="/media/uxaf0blc/ansac-case-study.jpg?width=10"
                             data-sizes="auto"
                             data-srcset="/media/uxaf0blc/ansac-case-study.jpg?upscale=false&width=300&quality=80 300w,
                    	    /media/uxaf0blc/ansac-case-study.jpg?upscale=false&width=500&quality=80 500w,
                    	    /media/uxaf0blc/ansac-case-study.jpg?upscale=false&width=750&quality=80 750w,
                    	    /media/uxaf0blc/ansac-case-study.jpg?upscale=false&width=1000&quality=80 1000w"
                             alt="Customer: ANSAC Credit Union">
            </div>
        <div class="pod__text">
                <h3 class="h5">Customer: ANSAC Credit Union</h3>
            <p><strong>Category: Legal Basis Management / Accountability / Governance</strong></p>
<p><strong>Project:</strong> <strong>Marketing Policy</strong></p>

                <div class="button-wrap">

	<a href="/ansac-credit-union-case-study/"  title="ANSAC Credit Union Case Study" class="button button--default button--theme button--solid">Read Full Case Study</a>
                </div>
        </div>
    </article>
</div>                    </div>
                    <div class="col-33 col-s-100">


<div class="grid-item grid-item--pod pod   ">
    <article>
            <div class="pod__image">
                        <img class="lazyload"
                             src="/media/2cxpjoxt/kings-inn-case-study.jpg?width=10"
                             data-sizes="auto"
                             data-srcset="/media/2cxpjoxt/kings-inn-case-study.jpg?upscale=false&width=300&quality=80 300w,
                    	    /media/2cxpjoxt/kings-inn-case-study.jpg?upscale=false&width=500&quality=80 500w,
                    	    /media/2cxpjoxt/kings-inn-case-study.jpg?upscale=false&width=750&quality=80 750w,
                    	    /media/2cxpjoxt/kings-inn-case-study.jpg?upscale=false&width=1000&quality=80 1000w"
                             alt="Customer: King’s Inns">
            </div>
        <div class="pod__text">
                <h3 class="h5">Customer: King’s Inns</h3>
            <p><strong>Category: Legal Basis Management</strong></p>
<p><strong>Project:</strong> <strong>Legal Basis Review</strong></p>

                <div class="button-wrap">

	<a href="/insights/legal-basis-review/"  title="Legal Basis Review" class="button button--default button--theme button--solid">Read Full Case Study</a>
                </div>
        </div>
    </article>
</div>                    </div>
                    <div class="col-33 col-s-100">


<div class="grid-item grid-item--pod pod   ">
    <article>
            <div class="pod__image">
                        <img class="lazyload"
                             src="/media/jtgbjhq3/untitled-design.jpg?width=10"
                             data-sizes="auto"
                             data-srcset="/media/jtgbjhq3/untitled-design.jpg?upscale=false&width=300&quality=80 300w,
                    	    /media/jtgbjhq3/untitled-design.jpg?upscale=false&width=500&quality=80 500w,
                    	    /media/jtgbjhq3/untitled-design.jpg?upscale=false&width=750&quality=80 750w,
                    	    /media/jtgbjhq3/untitled-design.jpg?upscale=false&width=1000&quality=80 1000w"
                             alt="Customer: Health and Safety Training Organisation">
            </div>
        <div class="pod__text">
                <h3 class="h5">Customer: Health and Safety Training Organisation</h3>
            <p><strong>Category: Data Management / Legal Basis Management</strong></p>
<p><strong>Project: Purpose Limitation and ROPA</strong></p>

                <div class="button-wrap">

	<a href="/insights/purpose-limitation-and-ropa/"  title="Purpose Limitation and ROPA" class="button button--default button--theme button--solid">Read Full Case Study</a>
                </div>
        </div>
    </article>
</div>                    </div>
            </div>
        </div> 
    </div>


    <div class="block grid gray-bg    "  id="detcstab5" >
        <div class="container ">
            <div class="row  row--left row--v-top  ">

                    <div class="col-33 col-s-100">


<div class="grid-item grid-item--pod pod   ">
    <article>
            <div class="pod__image">
                        <img class="lazyload"
                             src="/media/fpydi3sv/public-sector-case-study.jpg?width=10"
                             data-sizes="auto"
                             data-srcset="/media/fpydi3sv/public-sector-case-study.jpg?upscale=false&width=300&quality=80 300w,
                    	    /media/fpydi3sv/public-sector-case-study.jpg?upscale=false&width=500&quality=80 500w,
                    	    /media/fpydi3sv/public-sector-case-study.jpg?upscale=false&width=750&quality=80 750w,
                    	    /media/fpydi3sv/public-sector-case-study.jpg?upscale=false&width=1000&quality=80 1000w"
                             alt="Customer: Public sector body">
            </div>
        <div class="pod__text">
                <h3 class="h5">Customer: Public sector body</h3>
            <p><strong>Category: DSAR Management / Accountability</strong></p>
<p><strong>Project: Supporting customer to respond to a Data Subject Access Request</strong></p>

                <div class="button-wrap">

	<a href="/public-sector-case-study/"  title="Public Sector Case Study" class="button button--default button--theme button--solid">Read Full Case Study</a>
                </div>
        </div>
    </article>
</div>                    </div>
            </div>
        </div> 
    </div>


    <div class="block grid gray-bg    "  id="detcstab6" >
        <div class="container ">
            <div class="row  row--left row--v-top  ">

                    <div class="col-33 col-s-100">


<div class="grid-item grid-item--pod pod   ">
    <article>
            <div class="pod__image">
                        <img class="lazyload"
                             src="/media/nxgprbx2/pharmacy-case-study.jpg?width=10"
                             data-sizes="auto"
                             data-srcset="/media/nxgprbx2/pharmacy-case-study.jpg?upscale=false&width=300&quality=80 300w,
                    	    /media/nxgprbx2/pharmacy-case-study.jpg?upscale=false&width=500&quality=80 500w,
                    	    /media/nxgprbx2/pharmacy-case-study.jpg?upscale=false&width=750&quality=80 750w,
                    	    /media/nxgprbx2/pharmacy-case-study.jpg?upscale=false&width=1000&quality=80 1000w"
                             alt="Customer:  Pharmacy Management System Supplier ">
            </div>
        <div class="pod__text">
                <h3 class="h5">Customer:  Pharmacy Management System Supplier </h3>
            <p><strong>Category: Data Transfer Management / Governance</strong></p>
<p><strong>Project:</strong> <strong>Data Processing Agreements </strong></p>

                <div class="button-wrap">

	<a href="/pharmacy-case-study/"  title="Pharmacy Case Study" class="button button--default button--theme button--solid">Read Full Case Study</a>
                </div>
        </div>
    </article>
</div>                    </div>
                    <div class="col-33 col-s-100">


<div class="grid-item grid-item--pod pod   ">
    <article>
            <div class="pod__image">
                        <img class="lazyload"
                             src="/media/hlnkmwrx/government-agency-case-study.jpg?width=10"
                             data-sizes="auto"
                             data-srcset="/media/hlnkmwrx/government-agency-case-study.jpg?upscale=false&width=300&quality=80 300w,
                    	    /media/hlnkmwrx/government-agency-case-study.jpg?upscale=false&width=500&quality=80 500w,
                    	    /media/hlnkmwrx/government-agency-case-study.jpg?upscale=false&width=750&quality=80 750w,
                    	    /media/hlnkmwrx/government-agency-case-study.jpg?upscale=false&width=1000&quality=80 1000w"
                             alt="  Customer: Government Agency">
            </div>
        <div class="pod__text">
                <h3 class="h5">  Customer: Government Agency</h3>
            <p><strong>Category: Data Transfer Management / Accountability</strong></p>
<p><strong>Project: Embedding data protection compliance into the supplier procurement process</strong></p>

                <div class="button-wrap">

	<a href="/government-agency-case-study/"  title="Government Agency Case Study" class="button button--default button--theme button--solid">Read Full Case Study</a>
                </div>
        </div>
    </article>
</div>                    </div>
                    <div class="col-33 col-s-100">


<div class="grid-item grid-item--pod pod   ">
    <article>
            <div class="pod__image">
                        <img class="lazyload"
                             src="/media/egalksy2/saas-case-study.jpg?width=10"
                             data-sizes="auto"
                             data-srcset="/media/egalksy2/saas-case-study.jpg?upscale=false&width=300&quality=80 300w,
                    	    /media/egalksy2/saas-case-study.jpg?upscale=false&width=500&quality=80 500w,
                    	    /media/egalksy2/saas-case-study.jpg?upscale=false&width=750&quality=80 750w,
                    	    /media/egalksy2/saas-case-study.jpg?upscale=false&width=1000&quality=80 1000w"
                             alt="Customer: SaaS Provider ">
            </div>
        <div class="pod__text">
                <h3 class="h5">Customer: SaaS Provider </h3>
            <p><strong>Category: Accountability /Data Transfer Management / Breach Management</strong></p>
<p><strong>Project:</strong> <strong>6 month compliance programme</strong></p>

                <div class="button-wrap">

	<a href="/saas-case-study/"  title="SaaS Case Study" class="button button--default button--theme button--solid">Read Full Case Study</a>
                </div>
        </div>
    </article>
</div>                    </div>
                    <div class="col-33 col-s-100">


<div class="grid-item grid-item--pod pod   ">
    <article>
            <div class="pod__image">
                        <img class="lazyload"
                             src="/media/5bhjzfeb/retail-case-study.jpg?width=10"
                             data-sizes="auto"
                             data-srcset="/media/5bhjzfeb/retail-case-study.jpg?upscale=false&width=300&quality=80 300w,
                    	    /media/5bhjzfeb/retail-case-study.jpg?upscale=false&width=500&quality=80 500w,
                    	    /media/5bhjzfeb/retail-case-study.jpg?upscale=false&width=750&quality=80 750w,
                    	    /media/5bhjzfeb/retail-case-study.jpg?upscale=false&width=1000&quality=80 1000w"
                             alt="Customer: Retail wholesaler ">
            </div>
        <div class="pod__text">
                <h3 class="h5">Customer: Retail wholesaler </h3>
            <p><strong>Category: Accountability / Data Transfer Management</strong></p>
<p><strong>Project: GDPR GAP Audit</strong></p>

                <div class="button-wrap">

	<a href="/retail-wholesaler-case-study/"  title="Retail Wholesaler Case Study" class="button button--default button--theme button--solid">Read Full Case Study</a>
                </div>
        </div>
    </article>
</div>                    </div>
                    <div class="col-33 col-s-100">


<div class="grid-item grid-item--pod pod   ">
    <article>
            <div class="pod__image">
                        <img class="lazyload"
                             src="/media/2cxpjoxt/kings-inn-case-study.jpg?width=10"
                             data-sizes="auto"
                             data-srcset="/media/2cxpjoxt/kings-inn-case-study.jpg?upscale=false&width=300&quality=80 300w,
                    	    /media/2cxpjoxt/kings-inn-case-study.jpg?upscale=false&width=500&quality=80 500w,
                    	    /media/2cxpjoxt/kings-inn-case-study.jpg?upscale=false&width=750&quality=80 750w,
                    	    /media/2cxpjoxt/kings-inn-case-study.jpg?upscale=false&width=1000&quality=80 1000w"
                             alt="Customer: The Honorable Society of King’s Inns">
            </div>
        <div class="pod__text">
                <h3 class="h5">Customer: The Honorable Society of King’s Inns</h3>
            <p><strong>Change Management / Governance / Transparency / Data Transfer Management</strong></p>
<p><strong>Project:</strong> <strong>Move to Remote Examinations</strong></p>

                <div class="button-wrap">

	<a href="/kings-inn-case-study/"  title="Kings Inn Case Study" class="button button--default button--theme button--solid">Read Full Case Study</a>
                </div>
        </div>
    </article>
</div>                    </div>
            </div>
        </div> 
    </div>


    <div class="block grid gray-bg    "  id="detcstab7" >
        <div class="container ">
            <div class="row  row--left row--v-top  ">

                    <div class="col-33 col-s-100">


<div class="grid-item grid-item--pod pod   ">
    <article>
            <div class="pod__image">
                        <img class="lazyload"
                             src="/media/kztpn4ds/credit-union-case-study.jpg?width=10"
                             data-sizes="auto"
                             data-srcset="/media/kztpn4ds/credit-union-case-study.jpg?upscale=false&width=300&quality=80 300w,
                    	    /media/kztpn4ds/credit-union-case-study.jpg?upscale=false&width=500&quality=80 500w,
                    	    /media/kztpn4ds/credit-union-case-study.jpg?upscale=false&width=750&quality=80 750w,
                    	    /media/kztpn4ds/credit-union-case-study.jpg?upscale=false&width=1000&quality=80 1000w"
                             alt="Customer: Credit Union Sector">
            </div>
        <div class="pod__text">
                <h3 class="h5">Customer: Credit Union Sector</h3>
            <p><strong>Category: Data Management / Accountability</strong></p>
<p><strong>Project: Building Record Retention Policy and Schedule</strong></p>

                <div class="button-wrap">

	<a href="/credit-union-sector-case-study/"  title="Credit Union Sector Case Study" class="button button--default button--theme button--solid">Read Full Case Study</a>
                </div>
        </div>
    </article>
</div>                    </div>
                    <div class="col-33 col-s-100">


<div class="grid-item grid-item--pod pod   ">
    <article>
            <div class="pod__image">
                        <img class="lazyload"
                             src="/media/jtgbjhq3/untitled-design.jpg?width=10"
                             data-sizes="auto"
                             data-srcset="/media/jtgbjhq3/untitled-design.jpg?upscale=false&width=300&quality=80 300w,
                    	    /media/jtgbjhq3/untitled-design.jpg?upscale=false&width=500&quality=80 500w,
                    	    /media/jtgbjhq3/untitled-design.jpg?upscale=false&width=750&quality=80 750w,
                    	    /media/jtgbjhq3/untitled-design.jpg?upscale=false&width=1000&quality=80 1000w"
                             alt="Customer: Health and Safety Training Organisation">
            </div>
        <div class="pod__text">
                <h3 class="h5">Customer: Health and Safety Training Organisation</h3>
            <p><strong>Category: Data Management / Legal Basis Management</strong></p>
<p><strong>Project: Purpose Limitation and ROPA</strong></p>

                <div class="button-wrap">

	<a href="/insights/purpose-limitation-and-ropa/"  title="Purpose Limitation and ROPA" class="button button--default button--theme button--solid">Read Full Case Study</a>
                </div>
        </div>
    </article>
</div>                    </div>
            </div>
        </div> 
    </div>


    <div class="block grid gray-bg    "  id="detcstab8" >
        <div class="container ">
            <div class="row  row--left row--v-top  ">

                    <div class="col-33 col-s-100">


<div class="grid-item grid-item--pod pod   ">
    <article>
            <div class="pod__image">
                        <img class="lazyload"
                             src="/media/vstdhmdy/multinational-case-study.jpg?width=10"
                             data-sizes="auto"
                             data-srcset="/media/vstdhmdy/multinational-case-study.jpg?upscale=false&width=300&quality=80 300w,
                    	    /media/vstdhmdy/multinational-case-study.jpg?upscale=false&width=500&quality=80 500w,
                    	    /media/vstdhmdy/multinational-case-study.jpg?upscale=false&width=750&quality=80 750w,
                    	    /media/vstdhmdy/multinational-case-study.jpg?upscale=false&width=1000&quality=80 1000w"
                             alt="Customer: Global Multinational company">
            </div>
        <div class="pod__text">
                <h3 class="h5">Customer: Global Multinational company</h3>
            <p><strong>Category: Breach Management / Accountability</strong></p>
<p><strong>Project: Building Breach Management Policies and Procedures</strong></p>

                <div class="button-wrap">

	<a href="/global-multinational-case-study/"  title="Global Multinational Case Study" class="button button--default button--theme button--solid">Read Full Case Study</a>
                </div>
        </div>
    </article>
</div>                    </div>
                    <div class="col-33 col-s-100">


<div class="grid-item grid-item--pod pod   ">
    <article>
            <div class="pod__image">
                        <img class="lazyload"
                             src="/media/vstdhmdy/multinational-case-study.jpg?width=10"
                             data-sizes="auto"
                             data-srcset="/media/vstdhmdy/multinational-case-study.jpg?upscale=false&width=300&quality=80 300w,
                    	    /media/vstdhmdy/multinational-case-study.jpg?upscale=false&width=500&quality=80 500w,
                    	    /media/vstdhmdy/multinational-case-study.jpg?upscale=false&width=750&quality=80 750w,
                    	    /media/vstdhmdy/multinational-case-study.jpg?upscale=false&width=1000&quality=80 1000w"
                             alt="Customer: Healthcare Distributor of Products and Services">
            </div>
        <div class="pod__text">
                <h3 class="h5">Customer: Healthcare Distributor of Products and Services</h3>
            <p><strong>Category: Breach Management</strong></p>
<p><strong>Project: Breach Management Team</strong></p>

                <div class="button-wrap">

	<a href="/insights/breach-management-case-study/"  title="Breach Management Case Study" class="button button--default button--theme button--solid">Read Full Case Study</a>
                </div>
        </div>
    </article>
</div>                    </div>
                    <div class="col-33 col-s-100">


<div class="grid-item grid-item--pod pod   ">
    <article>
            <div class="pod__image">
                        <img class="lazyload"
                             src="/media/egalksy2/saas-case-study.jpg?width=10"
                             data-sizes="auto"
                             data-srcset="/media/egalksy2/saas-case-study.jpg?upscale=false&width=300&quality=80 300w,
                    	    /media/egalksy2/saas-case-study.jpg?upscale=false&width=500&quality=80 500w,
                    	    /media/egalksy2/saas-case-study.jpg?upscale=false&width=750&quality=80 750w,
                    	    /media/egalksy2/saas-case-study.jpg?upscale=false&width=1000&quality=80 1000w"
                             alt="Customer: SaaS Provider ">
            </div>
        <div class="pod__text">
                <h3 class="h5">Customer: SaaS Provider </h3>
            <p><strong>Category: Accountability /Data Transfer Management / Breach Management</strong></p>
<p><strong>Project:</strong> <strong>6 month compliance programme</strong></p>

                <div class="button-wrap">

	<a href="/saas-case-study/"  title="SaaS Case Study" class="button button--default button--theme button--solid">Read Full Case Study</a>
                </div>
        </div>
    </article>
</div>                    </div>
            </div>
        </div> 
    </div>


    <div class="block grid gray-bg    "  id="detcstab9" >
        <div class="container ">
            <div class="row  row--left row--v-top  ">

                    <div class="col-33 col-s-100">


<div class="grid-item grid-item--pod pod   ">
    <article>
            <div class="pod__image">
                        <img class="lazyload"
                             src="/media/hlnkmwrx/government-agency-case-study.jpg?width=10"
                             data-sizes="auto"
                             data-srcset="/media/hlnkmwrx/government-agency-case-study.jpg?upscale=false&width=300&quality=80 300w,
                    	    /media/hlnkmwrx/government-agency-case-study.jpg?upscale=false&width=500&quality=80 500w,
                    	    /media/hlnkmwrx/government-agency-case-study.jpg?upscale=false&width=750&quality=80 750w,
                    	    /media/hlnkmwrx/government-agency-case-study.jpg?upscale=false&width=1000&quality=80 1000w"
                             alt="Customer: Government Agency">
            </div>
        <div class="pod__text">
                <h3 class="h5">Customer: Government Agency</h3>
            <p><strong>Category: Security Management / Accountability</strong></p>
<p><strong>Project: Documenting the Technical and Organisational measures</strong></p>

                <div class="button-wrap">

	<a href="/insights/documenting-the-technical-and-organisational-measures/"  title="Documenting the Technical and Organisational measures" class="button button--default button--theme button--solid">Read Full Case Study</a>
                </div>
        </div>
    </article>
</div>                    </div>
                    <div class="col-33 col-s-100">


<div class="grid-item grid-item--pod pod   ">
    <article>
            <div class="pod__image">
                        <img class="lazyload"
                             src="/media/gmgbkhde/software-user-group-case-study.jpg?width=10"
                             data-sizes="auto"
                             data-srcset="/media/gmgbkhde/software-user-group-case-study.jpg?upscale=false&width=300&quality=80 300w,
                    	    /media/gmgbkhde/software-user-group-case-study.jpg?upscale=false&width=500&quality=80 500w,
                    	    /media/gmgbkhde/software-user-group-case-study.jpg?upscale=false&width=750&quality=80 750w,
                    	    /media/gmgbkhde/software-user-group-case-study.jpg?upscale=false&width=1000&quality=80 1000w"
                             alt="Customer: Industry user group for a software supplier">
            </div>
        <div class="pod__text">
                <h3 class="h5">Customer: Industry user group for a software supplier</h3>
            <p><strong>Category: Change Management / Transparency / Security Management</strong></p>
<p><strong>Project:</strong> <strong>Mobile app development</strong></p>

                <div class="button-wrap">

	<a href="/industry-user-group-case-study/"  title="Industry User Group Case Study" class="button button--default button--theme button--solid">Read Full Case Study</a>
                </div>
        </div>
    </article>
</div>                    </div>
            </div>
        </div> 
    </div>


    <div class="block grid gray-bg    "  id="detcstab10" >
        <div class="container ">
            <div class="row  row--left row--v-top  ">

                    <div class="col-33 col-s-100">


<div class="grid-item grid-item--pod pod   ">
    <article>
            <div class="pod__image">
                        <img class="lazyload"
                             src="/media/2cxpjoxt/kings-inn-case-study.jpg?width=10"
                             data-sizes="auto"
                             data-srcset="/media/2cxpjoxt/kings-inn-case-study.jpg?upscale=false&width=300&quality=80 300w,
                    	    /media/2cxpjoxt/kings-inn-case-study.jpg?upscale=false&width=500&quality=80 500w,
                    	    /media/2cxpjoxt/kings-inn-case-study.jpg?upscale=false&width=750&quality=80 750w,
                    	    /media/2cxpjoxt/kings-inn-case-study.jpg?upscale=false&width=1000&quality=80 1000w"
                             alt="Customer: The Honorable Society of King’s Inns">
            </div>
        <div class="pod__text">
                <h3 class="h5">Customer: The Honorable Society of King’s Inns</h3>
            <p><strong>Category: Change Management / Governance / Transparency / Data Transfer Management</strong></p>
<p><strong>Project:</strong> <strong>Move to Remote Examinations</strong></p>

                <div class="button-wrap">

	<a href="/kings-inn-case-study/"  title="Kings Inn Case Study" class="button button--default button--theme button--solid">Read Full Case Study</a>
                </div>
        </div>
    </article>
</div>                    </div>
                    <div class="col-33 col-s-100">


<div class="grid-item grid-item--pod pod   ">
    <article>
            <div class="pod__image">
                        <img class="lazyload"
                             src="/media/gmgbkhde/software-user-group-case-study.jpg?width=10"
                             data-sizes="auto"
                             data-srcset="/media/gmgbkhde/software-user-group-case-study.jpg?upscale=false&width=300&quality=80 300w,
                    	    /media/gmgbkhde/software-user-group-case-study.jpg?upscale=false&width=500&quality=80 500w,
                    	    /media/gmgbkhde/software-user-group-case-study.jpg?upscale=false&width=750&quality=80 750w,
                    	    /media/gmgbkhde/software-user-group-case-study.jpg?upscale=false&width=1000&quality=80 1000w"
                             alt="Customer: Industry user group for a software supplier">
            </div>
        <div class="pod__text">
                <h3 class="h5">Customer: Industry user group for a software supplier</h3>
            <p><strong>Category: Change Management / Transparency / Security Management</strong></p>
<p><strong>Project:</strong> <strong>Mobile app development</strong></p>

                <div class="button-wrap">

	<a href="/industry-user-group-case-study/"  title="Industry User Group Case Study" class="button button--default button--theme button--solid">Read Full Case Study</a>
                </div>
        </div>
    </article>
</div>                    </div>
            </div>
        </div> 
    </div>
            
            		</div>
        	    </div>
        
    </div>

</section>





<section class="block form white-bg "  id="homesection10" >
    
		<div class="block__header">
										<div class="block__header-text text-big">
					<h2>Contact Us</h2>
				</div>
		</div>
	
	<div class="block__body">
		<div class="container">
		
<div id="umbraco_form_69ef6c9820ef481c82791950f4578001" class="umbraco-forms-form contactform umbraco-forms-igloo">

<form action="/case-studies/" enctype="multipart/form-data" method="post"><input name="__RequestVerificationToken" type="hidden" value="KToeOKnfZiNnzSN1sYl0Kee6ox84RSopYFxd3hpdteZ9Wf26UKDx5zuanvFvCePP3k3ybFuPRZhwnhJLLCFfY9AXj6HK0XdydZ3cR1PfwRE1" /><input data-val="true" data-val-required="The FormId field is required." name="FormId" type="hidden" value="69ef6c98-20ef-481c-8279-1950f4578001" /><input name="FormName" type="hidden" value="Contact form" /><input data-val="true" data-val-required="The RecordId field is required." name="RecordId" type="hidden" value="00000000-0000-0000-0000-000000000000" /><input name="PreviousClicked" type="hidden" value="" /><input name="Theme" type="hidden" value="igloo" />            <input type="hidden" name="FormStep" value="0" />
            <input type="hidden" name="RecordState" value="MkUyRUFBMjNCNzAwRDk5NTAyNkIzRDNENUYyRDdFQUM0RDNCOUNEODc2NEQyMkMyMjk4NzMzNjdCOUQ3NjQ3RDBFQzQ0M0REODRBODREMDc4ODRFQzAzMEY2MENDRTYyODk4OTE3QUY5MEY4NDRGMjkzOTkyNzI0RTdDMzY2RTM1MzlBMkE1RDMzREEyRjFGREJFQjNGRkJFOEUyQUU2MUU2NDIxOTMxRjBEMTJFRjI1NzUwMjgzRDYxQzk0RkEyODI2NUQwNkM3RUE5NkMxRTg5QjIxQkM5NDBEM0I4QTAyQTk4OTY1MjkyODY3RUMyODgxMDJBNUFFQTk1QUQzRUNFQjAyNjI2NUI5RTA4RTQ5REYwRTE1NTQ0M0UyOTA5M0Y3ODlDNEQ4ODAwOUQyRjI2MjAxMjJCMUZBOENDNEUzREJBRjk2REY3MkYyQ0MyQTkxRTQxQUU1OTBGRDAwNzlCRURDRjFCRTBCQTRENDA3NjdFMUNCNjE0OTBEN0RDNEFEQUJCRDkyMDY3MjYyMEQ4NDQ1MjA0OEM1NEZFMzVDNzA5NkNGQUFFNUNBMDdERjE1MUU1NjU1MjhDMkExMTcxNzU4OEIxNzc2MjY5MjZFQzU5MkY1MDE3NTUwNEQyRTZCRUMwQ0Q3OUE2OEMwRDc1MEU2QTE3QkFGMkVDNzg1NUExMzRGMjM4MTQwRUFDNkYxRjM0NUNGMEY3ODM3RDNEQUE4MzNGMDZEN0FDNDk2NzIxMzNDRDUxMzgzMUFDQzhBMzk4RkMxNTgzM0JFMEFCNjY1QzBFNDc2N0ZDQUVERDI3MDM2MEIyQ0Y1ODg3MkM0NjY5RTI3NjM0QkMzRjBGNDc5NjkzQkJBQTUzNTVFRDc5RERCOTQ4MENFQ0JCQ0FCMzFGOTExMUVFMkYzMjZGQkQxNTZFNzAwNTYwQzEzMDlDN0Y5QjYwNEJBOUE4RkE3QTc0M0FBNzM0MDM0Qzg1NDJDMDY1QTY3NTczRUE2NTY0QjIwM0I4QUMxMkQ5MkQ5MTFDMjVEMTc4MzkxOTlCQTE4RTVBQjVEMjRDQkY3OUM5RDg4MTc0QzczQ0I0RTNBQUM3MzVDMTc0MjNBQ0E4QzBENjNBRTkyODRDN0QyODY2RTM0MDdEOUI0MUUzNjdERDU1MzZCRTY3MzA3MUU4RjE3MjYzREVEMjhBOUYyOTEzN0NGQ0IxNDdEMDlBOEJCMDlFMEJGMUUwNDY0NzE2OEYxQUZGMEI5RDUyQ0FGN0E2RjU5OUFDREM1NEI2NDAxQzExMEQwOEM3ODY0NENEMjI0MUVEN0U2ODAyODg1MjkwM0RENTZBRjUxODdBMEE5MDlENzZDOERBM0RBRTMwQTlGRjUwQTM4NTQ1NTdGOUE3MTVEQjAwRDI0OUFCRjAwMURFMzE1QjVGNzlGQTA3RTA0MEM5MjVCQzM4MDc0NzU1RDI5MjFDNDJGOEE1MUMxQzk1RkFENDkxNDE2NkMyNzM4ODc0QTc1QUYxNEEwRUY5QjZEQkU0MzRGRDU3NDdERENGN0JFOUE3NzNFRDc0Q0Q0MzAwN0U0QTUzNURBNjY2NEU3M0UxRkI2MkY3OUM1NTZBNDBCQjU5QzI0M0M5MTJCNTI1NEQ0MzZGRDkzNDZGQTVCQUQ5MDI0QzJFREY1MDU2NDZGRkYwRkRDODNDM0E4NUFEQjBFRThCQThCNEM3NThGQkFENUFGOEUwNUE5MTcxMEQ1M0Q3RUIyNzY0NzlFMzBEMDI4RjlCOUU0ODc2MUI5OUVDNzk1NzdEMDM4NkZGNTkwOTQwOUU5REQ4MjREREUwMzNDQkM1RDM5RjgxMDFDQUUwRTlCRjVDNTA3QkVCN0IwNjBEMTdGOEIzRDk5OTdBQTlGQjQ5QUUzQjdEQTkyNTZFRDA4MTQ5RDZFQjhBMjlDNENCOUZGNzlBQTNBOTk1NzE4N0M1Q0VCOTM4RjM2OEUwMzNBQTg4RUI4ODYwNkIzRTAxOThGOQ==" />





<div class="umbraco-forms-page">




        <fieldset class="umbraco-forms-fieldset" id="00000000-0000-0000-0000-000000000000">


            <div class="row">

                    <div class="umbraco-forms-container col col-s-100">

                            <div class=" umbraco-forms-field heading titleanddescription" >



                                <div class="umbraco-forms-field-wrapper">

                                    


<div id="11c98a9e-8c99-42fb-ef41-ea7653576959" class="">
            <p><centre><p style="font-size: 16px;">We’re here to help. Whether you’re unsure where to start, or need some extra guidance in developing your data protection programme.</p></centre></p>
</div>

<span class="field-validation-valid" data-valmsg-for="11c98a9e-8c99-42fb-ef41-ea7653576959" data-valmsg-replace="true"></span>
                                </div>

                            </div>

                    </div>
            </div>

        </fieldset>
        <fieldset class="umbraco-forms-fieldset" id="a9f6a54b-554d-4f65-be9b-e200d77c73f3">


            <div class="row">

                    <div class="umbraco-forms-container col col-s-100">

                            <div class=" umbraco-forms-field firstname shortanswer mandatory alternating" >

                                    <label for="f6718dda-0e45-48f9-bf8f-ecfe8a500a9e" class="umbraco-forms-label">
                                        First Name*                                                        <span class="umbraco-forms-indicator">*</span>
                                    </label>


                                <div class="umbraco-forms-field-wrapper">

                                    <input type="text" name="f6718dda-0e45-48f9-bf8f-ecfe8a500a9e" id="f6718dda-0e45-48f9-bf8f-ecfe8a500a9e" class="text" value="" maxlength="500"
       placeholder="Your first name"
data-val="true"
 data-val-required="Please provide a value for First Name*"

/>





<span class="field-validation-valid" data-valmsg-for="f6718dda-0e45-48f9-bf8f-ecfe8a500a9e" data-valmsg-replace="true"></span>
                                </div>

                            </div>

                    </div>
                    <div class="umbraco-forms-container col col-s-100">

                            <div class=" umbraco-forms-field lastname shortanswer mandatory" >

                                    <label for="7796ba9e-0c48-45e8-f480-107ddfe19a11" class="umbraco-forms-label">
                                        Last Name*                                                        <span class="umbraco-forms-indicator">*</span>
                                    </label>


                                <div class="umbraco-forms-field-wrapper">

                                    <input type="text" name="7796ba9e-0c48-45e8-f480-107ddfe19a11" id="7796ba9e-0c48-45e8-f480-107ddfe19a11" class="text" value="" maxlength="500"
       placeholder="Your last name"
data-val="true"
 data-val-required="Please provide a value for Last Name*"

/>





<span class="field-validation-valid" data-valmsg-for="7796ba9e-0c48-45e8-f480-107ddfe19a11" data-valmsg-replace="true"></span>
                                </div>

                            </div>

                    </div>
            </div>

        </fieldset>
        <fieldset class="umbraco-forms-fieldset" id="b1dcd5ef-9cd5-417a-baf7-18708fda98f5">


            <div class="row">

                    <div class="umbraco-forms-container col col-s-100">

                            <div class=" umbraco-forms-field email shortanswer mandatory alternating" >

                                    <label for="c9204231-7756-4e10-cb50-60870fb4bb73" class="umbraco-forms-label">
                                        Email*                                                        <span class="umbraco-forms-indicator">*</span>
                                    </label>


                                <div class="umbraco-forms-field-wrapper">

                                    <input type="text" name="c9204231-7756-4e10-cb50-60870fb4bb73" id="c9204231-7756-4e10-cb50-60870fb4bb73" class="text" value="" maxlength="500"
       placeholder="Your email address"
data-val="true"
 data-val-required="*"
 data-val-regex="invalid" data-regex=""
/>





<span class="field-validation-valid" data-valmsg-for="c9204231-7756-4e10-cb50-60870fb4bb73" data-valmsg-replace="true"></span>
                                </div>

                            </div>

                    </div>
                    <div class="umbraco-forms-container col col-s-100">

                            <div class=" umbraco-forms-field phonenumber shortanswer" >

                                    <label for="288ce607-5d25-49c0-8644-f9cf1adaa7d7" class="umbraco-forms-label">
                                        Phone Number                                     </label>


                                <div class="umbraco-forms-field-wrapper">

                                    <input type="text" name="288ce607-5d25-49c0-8644-f9cf1adaa7d7" id="288ce607-5d25-49c0-8644-f9cf1adaa7d7" class="text" value="" maxlength="500"
       placeholder="Optional - Your Phone number"



/>





<span class="field-validation-valid" data-valmsg-for="288ce607-5d25-49c0-8644-f9cf1adaa7d7" data-valmsg-replace="true"></span>
                                </div>

                            </div>

                    </div>
            </div>

        </fieldset>
        <fieldset class="umbraco-forms-fieldset" id="1ae5d53c-b15d-4ae7-c872-ae887995812e">


            <div class="row">

                    <div class="umbraco-forms-container col col-s-100">

                            <div class=" umbraco-forms-field organisation shortanswer mandatory alternating" >

                                    <label for="1bc69f36-2e34-44ed-d89f-79b5c9376d3f" class="umbraco-forms-label">
                                        Organisation*                                                        <span class="umbraco-forms-indicator">*</span>
                                    </label>


                                <div class="umbraco-forms-field-wrapper">

                                    <input type="text" name="1bc69f36-2e34-44ed-d89f-79b5c9376d3f" id="1bc69f36-2e34-44ed-d89f-79b5c9376d3f" class="text" value="" maxlength="500"
       placeholder="Your company / organisation"
data-val="true"
 data-val-required="Please provide a value for Organisation*"

/>





<span class="field-validation-valid" data-valmsg-for="1bc69f36-2e34-44ed-d89f-79b5c9376d3f" data-valmsg-replace="true"></span>
                                </div>

                            </div>
                            <div class=" umbraco-forms-field message longanswer mandatory" >

                                    <label for="d69e4ea5-4957-4b27-f572-cae872e2dc75" class="umbraco-forms-label">
                                        Message*                                                        <span class="umbraco-forms-indicator">*</span>
                                    </label>


                                <div class="umbraco-forms-field-wrapper">

                                    
<textarea class=""  
          name="d69e4ea5-4957-4b27-f572-cae872e2dc75" 
          id="d69e4ea5-4957-4b27-f572-cae872e2dc75" 
          rows="6" 
        
data-val="true"
 data-val-required="Please provide a value for Message*"

></textarea>



<span class="field-validation-valid" data-valmsg-for="d69e4ea5-4957-4b27-f572-cae872e2dc75" data-valmsg-replace="true"></span>
                                </div>

                            </div>
                            <div class=" umbraco-forms-field fortprivacyprocesses titleanddescription alternating" >



                                <div class="umbraco-forms-field-wrapper">

                                    


<div id="a4f512f1-a328-48fd-dd0e-8fb89135b700" class="">
            <p>Fort Privacy processes your personal data in order to respond to your query and provide you with information about our products and services. Please see our <a href='/data-protection-statement/' target='blank' title='Read Data Protection Statement'>Data Protection Statement</a> for further information.</p>
</div>

<span class="field-validation-valid" data-valmsg-for="a4f512f1-a328-48fd-dd0e-8fb89135b700" data-valmsg-replace="true"></span>
                                </div>

                            </div>

                    </div>
            </div>

        </fieldset>

    <div style="display: none">
        <input type="text" name="69ef6c9820ef481c82791950f4578001" />
    </div>


    <div class="umbraco-forms-navigation row">

        <div class="col-100">
                <input type="submit" 
                       class="button button--block" 
                       value="Send" 
                       name="__next" />
        </div>
    </div>
</div>

<input name="ufprt" type="hidden" value="679E5108B1051ACE07C7FAFE5633DC387FDE1517DD7CF2F14A53ABDFB8F5064F19C6BF8A5C8063AAACC3B43A3B3B64BBF090592AAF2EA1309CA4DB4BD8529D7A60D0B122825F3A0F1465B06D7F0068BCC8B5AC4806D417773DDA98E043CF1D402FFC37D733AD2F4A70AA81BC3AE2E3ED9620630EE69D91636B8BFB06F64544B6907816F24833F82A051A5D028585F031" /></form>

        



<script>
    if (typeof umbracoFormsCollection === 'undefined') var umbracoFormsCollection = [];
    umbracoFormsCollection.push('%7B%22formId%22:%2269ef6c9820ef481c82791950f4578001%22,%22fieldSetConditions%22:%7B%7D,%22fieldConditions%22:%7B%7D,%22recordValues%22:%7B%7D%7D');
</script>


<script src='/App_Plugins/UmbracoForms/Assets/Themes/Default/umbracoforms.js' defer='defer' ></script><link rel='stylesheet' href='/App_Plugins/UmbracoForms/Assets/Themes/Default/style.css' />    </div>		</div>
	</div>
	

</section>
