@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
	Layout = "master.cshtml";
}


    <!-- <section class="hero hero--70   hero--v-center" > -->

    <section class="hero hero--v-center in-view">

        <div class="hero__inner">
            <div class="container">
                <div class="row row--center">
                    <div class="hero__inner light-color col- col-m-100">

                        <div class="pre-head">Fort Privacy</div>
                        <h1>COOKIE NOTICE</h1>
                        <div class="hero__text text-big">
                            <p style="color: white;">Last Updated: 12 November 2021</p>
                        </div>

                    </div>
                </div>
            </div>
        </div>


        <div class="hero__background hide--m lazyloaded" data-bgset="
                    /media/e2zp3ju0/fort-privacy-cookie-policy.jpg?anchor=center&amp;mode=crop&amp;quality=80&amp;width=2560&amp;height=1008&amp;upscale=false&amp;rnd=132811997908630000 2560w,
                    /media/e2zp3ju0/fort-privacy-cookie-policy.jpg?anchor=center&amp;mode=crop&amp;quality=80&amp;width=1920&amp;height=756&amp;upscale=false&amp;rnd=132811997908630000 1920w,
                    /media/e2zp3ju0/fort-privacy-cookie-policy.jpg?anchor=center&amp;mode=crop&amp;quality=80&amp;width=1600&amp;height=630&amp;upscale=false&amp;rnd=132811997908630000 1600w" style="background-image: url(&quot;https://www.fortprivacy.ie/media/e2zp3ju0/fort-privacy-cookie-policy.jpg?anchor=center&amp;mode=crop&amp;quality=80&amp;width=2560&amp;height=1008&amp;upscale=false&amp;rnd=132811997908630000&quot;);">
            <picture style="display: none;"><source data-srcset=" /media/e2zp3ju0/fort-privacy-cookie-policy.jpg?anchor=center&amp;mode=crop&amp;quality=80&amp;width=2560&amp;height=1008&amp;upscale=false&amp;rnd=132811997908630000 2560w, /media/e2zp3ju0/fort-privacy-cookie-policy.jpg?anchor=center&amp;mode=crop&amp;quality=80&amp;width=1920&amp;height=756&amp;upscale=false&amp;rnd=132811997908630000 1920w, /media/e2zp3ju0/fort-privacy-cookie-policy.jpg?anchor=center&amp;mode=crop&amp;quality=80&amp;width=1600&amp;height=630&amp;upscale=false&amp;rnd=132811997908630000 1600w" sizes="1447px" srcset=" /media/e2zp3ju0/fort-privacy-cookie-policy.jpg?anchor=center&amp;mode=crop&amp;quality=80&amp;width=2560&amp;height=1008&amp;upscale=false&amp;rnd=132811997908630000 2560w, /media/e2zp3ju0/fort-privacy-cookie-policy.jpg?anchor=center&amp;mode=crop&amp;quality=80&amp;width=1920&amp;height=756&amp;upscale=false&amp;rnd=132811997908630000 1920w, /media/e2zp3ju0/fort-privacy-cookie-policy.jpg?anchor=center&amp;mode=crop&amp;quality=80&amp;width=1600&amp;height=630&amp;upscale=false&amp;rnd=132811997908630000 1600w"><img alt="" class="lazyautosizes lazyloaded" data-sizes="auto" data-parent-fit="cover" sizes="1447px"></picture>
        </div>
        <div class="hero__background show--m lazyload" data-bgset="
                    /media/e2zp3ju0/fort-privacy-cookie-policy.jpg?anchor=center&amp;mode=crop&amp;quality=80&amp;width=1800&amp;height=2240&amp;upscale=false&amp;rnd=132811997908630000 1800w,
                    /media/e2zp3ju0/fort-privacy-cookie-policy.jpg?anchor=center&amp;mode=crop&amp;quality=80&amp;width=1440&amp;height=1792&amp;upscale=false&amp;rnd=132811997908630000 1440w,
                    /media/e2zp3ju0/fort-privacy-cookie-policy.jpg?anchor=center&amp;mode=crop&amp;quality=80&amp;width=1080&amp;height=1344&amp;upscale=false&amp;rnd=132811997908630000 1080w,
                    /media/e2zp3ju0/fort-privacy-cookie-policy.jpg?anchor=center&amp;mode=crop&amp;quality=80&amp;width=750&amp;height=934&amp;upscale=false&amp;rnd=132811997908630000 750w" data-sizes="auto">
        </div>


        <div class="overlay " style="opacity:0.60"></div>


    </section>


    <section class="block text gray-bg ">

        <div class="block-text block-text--single">
            <div class="container">
                <div class="row">
                    <div class="col-100">
                        <p>We are <strong>Fort Privacy Partners Limited</strong></p>
                        <p>Please contact us if you have any questions about this Cookie Notice</p>
                        <p>Email: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a href="mailto:info@fortprivacy.ie">info@fortprivacy.ie</a></p>
                        <p>Address:&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Glandore Business Centre, City Quarter, Lapps Quay, Cork City, Ireland, T12 &nbsp;</p>
                        <p>Our website is:&nbsp; <a href="http://www.fortprivacy.ie">www.fortprivacy.ie</a></p>
                        <p>This Cookie Notice explains how we use Cookies on our website <a href="http://www.fortprivacy.ie">www.fortprivacy.ie</a>. It is a declaration of the cookies that are active on our website, the purpose of the cookies and what they track. This Cookie Notice also provides you with information on how to opt out of the cookies being used.</p>
                        <p>Further information about our use of cookies can be found in our <a href="/data-protection-statement/">Data Protection Statement</a>.</p>

                    </div>
                </div>
            </div>
        </div>

    </section>

    <div class="block grid gray-bg    ">
        <div class="container ">
            <div class="row  row--left row--v-top  ">

                <div class="col col-s-100">


                    <div class="grid-item grid-item--acc ">
                        <div class="acc">
                            <button class="acc__head">
                                WHAT ARE COOKIES
                                <i class="fa fa-chevron-down" aria-hidden="true"></i>
                            </button>
                            <div class="acc__body">
                                <p>Cookies are text files that are placed on your computer by websites that you visit which are then used to record information about your visit. They are widely used in order to make websites work, or work more efficiently, as well as to provide information to the owners of the website. &nbsp;</p>
                                <p>Cookies help us to remember things about your visit to our website, such as your preferred language and other choices/settings and to generally make the site easier for you to use. &nbsp;</p>
                                <p>They may also be used to collect information about you in order to deliver advertisements. Fort Privacy does not use any advertising cookies on our website.</p>
                            </div>
                        </div>
                        <div class="acc">
                            <button class="acc__head">
                                COOKIE DETAILS
                                <i class="fa fa-chevron-down" aria-hidden="true"></i>
                            </button>
                            <div class="acc__body">
                                <p>Further information on the cookies we use on <a href="http://www.fortprivacy.ie">www.fortprivacy.ie</a> and how to manage them is set out below.&nbsp;</p>
                                <p><strong>&nbsp;</strong></p>
                                <table border="0" width="605">
                                    <tbody>
                                        <tr>
                                            <td width="208">
                                                <p><strong>COOKIE</strong></p>
                                            </td>
                                            <td width="274">
                                                <p><strong>PURPOSE</strong></p>
                                            </td>
                                            <td width="123">
                                                <p><strong>RETENTION</strong></p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="3" width="605">
                                                <p><strong>Necessary Cookies</strong></p>
                                                <p>Necessary cookies help make a website usable by enabling basic functions like page navigation. We also set a cookie to remember your cookie preferences between visits which we also categorise as a necessary cookie.</p>
                                                <p>The website cannot function properly without these cookies.</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="208">
                                                <p><strong>CookieConsent&nbsp; (The “Cookie” cookie)</strong></p>
                                            </td>
                                            <td width="274">
                                                <p>Stores the user's cookie consent state for the current domain</p>
                                            </td>
                                            <td width="123">
                                                <p>3 Months</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="208">
                                                <p><strong>ASP.NET_SessionId</strong></p>
                                                <p><strong>&nbsp;</strong></p>
                                            </td>
                                            <td width="274">
                                                <p>General purpose platform session cookie used by sites written with Miscrosoft .NET based technologies.</p>
                                                <p>Usually used to maintain an anonymised user session by the server.</p>
                                            </td>
                                            <td width="123">
                                                <p>Session</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="208">
                                                <p><strong>RequestVerificationToken</strong></p>
                                                <p><strong>&nbsp;</strong></p>
                                            </td>
                                            <td width="274">
                                                <p>This is an anti-forgery cookie set by web applications built using ASP.NET MVC technologies.</p>
                                                <p>It is designed to stop unauthorised posting of content to a website, known as Cross-Site Request Forgery.</p>
                                            </td>
                                            <td width="123">
                                                <p>Session</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="3" width="605">
                                                <p><strong>Web Statistics Cookies</strong></p>
                                                <p>Web Statistic cookies help website owners to understand how visitors interact with websites by collecting and reporting information about the users visit to the site.</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="208">
                                                <p><strong>_ga</strong></p>
                                                <p>&nbsp;</p>
                                            </td>
                                            <td width="274">
                                                <p>_ga cookie is placed by Google Analytics to store a unique user ID, it expires after 1 minute.</p>
                                                <p>&nbsp;</p>
                                            </td>
                                            <td width="123">
                                                <p>1 minute</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="208">
                                                <p><strong>_gid</strong></p>
                                                <p>&nbsp;</p>
                                            </td>
                                            <td width="274">
                                                <p>_gid cookie is placed by Google Analytics to count and track pageviews and expires after 1 day</p>
                                                <p>&nbsp;</p>
                                            </td>
                                            <td width="123">
                                                <p>1 day</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="208">
                                                <p><strong>_gat_gtag_UA_&lt;Property_ID&gt; </strong></p>
                                                <p>&nbsp;</p>
                                            </td>
                                            <td width="274">
                                                <p>_gat_gtag_UA cookie is used to distinguish unique users by assigning a randomly generated number as a client identifier. It is included in each page request in a site and used to calculate visitor, session and campaign data for the site’s analytics reports.</p>
                                            </td>
                                            <td width="123">
                                                <p>1 year</p>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="acc">
                            <button class="acc__head">
                                MANAGING COOKIES
                                <i class="fa fa-chevron-down" aria-hidden="true"></i>
                            </button>
                            <div class="acc__body">
                                <p>We provide a cookie consent management tool that can be accessed at all times from a small widget on the bottom left corner of our website. You can vary consent for cookies at any time while visiting the website by interacting with this tool.&nbsp; Any change in consent will have immediate effect on the cookies that are dropped onto your device.</p>
                                <p>You can also adjust your browser settings to decline cookies or alert you when a website is attempting to place a cookie on your computer. Most browsers provide tools to enable you to set global settings regarding your cookie preferences.</p>
                                <p>These tools are usually to be found in the settings menu on your browser in a “Privacy &amp; Security” menu item.</p>
                            </div>
                        </div>
                        <div class="acc">
                            <button class="acc__head">
                                THIRD PARTY WEBSITES
                                <i class="fa fa-chevron-down" aria-hidden="true"></i>
                            </button>
                            <div class="acc__body">
                                <p>Our website may contain links to and from third party websites. If you follow a link to any of these websites, please note that these websites have their own privacy settings, and these are not endorsed by us.&nbsp; We do not accept any responsibility or liability for these third-party websites. Please undertake the appropriate due diligence before submitting any information to these websites.</p>
                            </div>
                        </div>
                        <div class="acc">
                            <button class="acc__head">
                                AMENDMENTS TO THIS COOKIE NOTICE
                                <i class="fa fa-chevron-down" aria-hidden="true"></i>
                            </button>
                            <div class="acc__body">
                                <p>We will post any changes to our Cookie Notice on the Website and when doing so will change the effective date at the top of this Cookie Notice.&nbsp; We will also update our Cookie Consent Management Tool.</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

