@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
	Layout = "master.cshtml";
}



  
        




<!-- <section class="hero hero--   hero--v-top" > -->

<section class="hero hero--v-top in-view">

    <div class="hero__inner">
        <div class="container">
            <div class="row row--center">
                <div class="hero__inner light-color col- col-m-100">

                                                <h1>Data Protection Projects</h1>
                                        
                </div>
            </div>
        </div>
    </div>
    
    
            <div class="hero__background hide--m lazyloaded" data-bgset="
                    /media/1fmery5i/data-protection-projects-ireland.jpg?anchor=center&amp;mode=crop&amp;quality=80&amp;width=2560&amp;height=720&amp;upscale=false&amp;rnd=132731708375530000 2560w,
        		    /media/1fmery5i/data-protection-projects-ireland.jpg?anchor=center&amp;mode=crop&amp;quality=80&amp;width=1920&amp;height=540&amp;upscale=false&amp;rnd=132731708375530000 1920w,
        		    /media/1fmery5i/data-protection-projects-ireland.jpg?anchor=center&amp;mode=crop&amp;quality=80&amp;width=1600&amp;height=450&amp;upscale=false&amp;rnd=132731708375530000 1600w" style="background-image: url(&quot;https://www.fortprivacy.ie/media/1fmery5i/data-protection-projects-ireland.jpg?anchor=center&amp;mode=crop&amp;quality=80&amp;width=2560&amp;height=720&amp;upscale=false&amp;rnd=132731708375530000&quot;);">
            <picture style="display: none;"><source data-srcset=" /media/1fmery5i/data-protection-projects-ireland.jpg?anchor=center&amp;mode=crop&amp;quality=80&amp;width=2560&amp;height=720&amp;upscale=false&amp;rnd=132731708375530000 2560w, /media/1fmery5i/data-protection-projects-ireland.jpg?anchor=center&amp;mode=crop&amp;quality=80&amp;width=1920&amp;height=540&amp;upscale=false&amp;rnd=132731708375530000 1920w, /media/1fmery5i/data-protection-projects-ireland.jpg?anchor=center&amp;mode=crop&amp;quality=80&amp;width=1600&amp;height=450&amp;upscale=false&amp;rnd=132731708375530000 1600w" sizes="1447px" srcset=" /media/1fmery5i/data-protection-projects-ireland.jpg?anchor=center&amp;mode=crop&amp;quality=80&amp;width=2560&amp;height=720&amp;upscale=false&amp;rnd=132731708375530000 2560w, /media/1fmery5i/data-protection-projects-ireland.jpg?anchor=center&amp;mode=crop&amp;quality=80&amp;width=1920&amp;height=540&amp;upscale=false&amp;rnd=132731708375530000 1920w, /media/1fmery5i/data-protection-projects-ireland.jpg?anchor=center&amp;mode=crop&amp;quality=80&amp;width=1600&amp;height=450&amp;upscale=false&amp;rnd=132731708375530000 1600w"><img alt="" class="lazyautosizes lazyloaded" data-sizes="auto" data-parent-fit="cover" sizes="1447px"></picture></div>
            <div class="hero__background show--m lazyload" data-bgset="
        		    /media/1fmery5i/data-protection-projects-ireland.jpg?anchor=center&amp;mode=crop&amp;quality=80&amp;width=1800&amp;height=1600&amp;upscale=false&amp;rnd=132731708375530000 1800w,
        		    /media/1fmery5i/data-protection-projects-ireland.jpg?anchor=center&amp;mode=crop&amp;quality=80&amp;width=1440&amp;height=1280&amp;upscale=false&amp;rnd=132731708375530000 1440w,
        		    /media/1fmery5i/data-protection-projects-ireland.jpg?anchor=center&amp;mode=crop&amp;quality=80&amp;width=1080&amp;height=960&amp;upscale=false&amp;rnd=132731708375530000 1080w,
        		    /media/1fmery5i/data-protection-projects-ireland.jpg?anchor=center&amp;mode=crop&amp;quality=80&amp;width=750&amp;height=667&amp;upscale=false&amp;rnd=132731708375530000 750w" data-sizes="auto">
            </div>
    
    
        <div class="overlay " style="opacity:0.60"></div>


</section>


<section class="split-wrap block gray-bg in-view">
    
    <div class="split split-- split--text-left split--big">
    			
    	<div class="split__text split__text--v-top split__text--text-left">
    		
    		<div class="split__text-inner">
    
    			    					<h2>Does your business need to get on track with Data Protection compliance? </h2>
    			<p>You may be starting from scratch, you could have discovered you need to address compliance issues or you want to build a solid foundation to see you into the future and help your business grow.</p>
<p>Every Data Protection Project is different and unique to each organisation.</p>    			
    							
    		</div>
    
    	</div>	
    	
    	
    		<div class="split__image split__image--1  ">
    				    <div class="split__image-item lazyloaded" data-bgset="
        				    /media/1gbpmucz/data-protection-experts-ireland.jpg?anchor=center&amp;mode=crop&amp;quality=80&amp;width=770&amp;height=581&amp;upscale=false&amp;rnd=132709160694200000 700w,
                    		/media/1gbpmucz/data-protection-experts-ireland.jpg?anchor=center&amp;mode=crop&amp;quality=80&amp;width=1100&amp;height=830&amp;upscale=false&amp;rnd=132709160694200000 1000w,
                    		/media/1gbpmucz/data-protection-experts-ireland.jpg?anchor=center&amp;mode=crop&amp;quality=80&amp;width=1650&amp;height=1245&amp;upscale=false&amp;rnd=132709160694200000 1500w" style="background-image: url(&quot;https://www.fortprivacy.ie/media/1gbpmucz/data-protection-experts-ireland.jpg?anchor=center&amp;mode=crop&amp;quality=80&amp;width=1100&amp;height=830&amp;upscale=false&amp;rnd=132709160694200000&quot;);"><picture style="display: none;"><source data-srcset=" /media/1gbpmucz/data-protection-experts-ireland.jpg?anchor=center&amp;mode=crop&amp;quality=80&amp;width=770&amp;height=581&amp;upscale=false&amp;rnd=132709160694200000 700w, /media/1gbpmucz/data-protection-experts-ireland.jpg?anchor=center&amp;mode=crop&amp;quality=80&amp;width=1100&amp;height=830&amp;upscale=false&amp;rnd=132709160694200000 1000w, /media/1gbpmucz/data-protection-experts-ireland.jpg?anchor=center&amp;mode=crop&amp;quality=80&amp;width=1650&amp;height=1245&amp;upscale=false&amp;rnd=132709160694200000 1500w" sizes="689px" srcset=" /media/1gbpmucz/data-protection-experts-ireland.jpg?anchor=center&amp;mode=crop&amp;quality=80&amp;width=770&amp;height=581&amp;upscale=false&amp;rnd=132709160694200000 700w, /media/1gbpmucz/data-protection-experts-ireland.jpg?anchor=center&amp;mode=crop&amp;quality=80&amp;width=1100&amp;height=830&amp;upscale=false&amp;rnd=132709160694200000 1000w, /media/1gbpmucz/data-protection-experts-ireland.jpg?anchor=center&amp;mode=crop&amp;quality=80&amp;width=1650&amp;height=1245&amp;upscale=false&amp;rnd=132709160694200000 1500w"><img alt="" class="lazyautosizes lazyloaded" data-sizes="auto" data-parent-fit="cover" sizes="689px"></picture></div>
    		</div>
    
    </div>

</section>

    <div class="block grid white-bg in-view" id="out_section2">
        <div class="container container--big ">
            <div class="row  row--left row--v-top  ">

                    <div class="col-100 col-s-100">


<div class="grid-item grid-item--text ">
    <h2 style="text-align: center;">Fort Privacy’s Data Protection Experts</h2>
</div>                    </div>
                    <div class="col-25 col-m-50 col-s-100">


<div class="grid-item grid-item--pod pod   ">
    <article>
            <div class="pod__image">
                        <img class="lazyautosizes ls-is-cached lazyloaded" src="./data-protection-projects_files/fort-privacy-icon-1.png" data-sizes="auto" data-srcset="/media/ft0jjwqt/fort-privacy-icon-1.png?upscale=false&amp;width=300&amp;quality=80 300w,
                    	    /media/ft0jjwqt/fort-privacy-icon-1.png?upscale=false&amp;width=500&amp;quality=80 500w,
                    	    /media/ft0jjwqt/fort-privacy-icon-1.png?upscale=false&amp;width=750&amp;quality=80 750w,
                    	    /media/ft0jjwqt/fort-privacy-icon-1.png?upscale=false&amp;width=1000&amp;quality=80 1000w" alt="immerse themselves in your business" sizes="100px" srcset="/media/ft0jjwqt/fort-privacy-icon-1.png?upscale=false&amp;width=300&amp;quality=80 300w,
                    	    /media/ft0jjwqt/fort-privacy-icon-1.png?upscale=false&amp;width=500&amp;quality=80 500w,
                    	    /media/ft0jjwqt/fort-privacy-icon-1.png?upscale=false&amp;width=750&amp;quality=80 750w,
                    	    /media/ft0jjwqt/fort-privacy-icon-1.png?upscale=false&amp;width=1000&amp;quality=80 1000w">
            </div>
        <div class="pod__text">
                <h3 class="h5">immerse themselves in your business</h3>
            

        </div>
    </article>
</div>                    </div>
                    <div class="col-25 col-m-50 col-s-100">


<div class="grid-item grid-item--pod pod   ">
    <article>
            <div class="pod__image">
                        <img class="lazyautosizes ls-is-cached lazyloaded" src="./data-protection-projects_files/fort-privacy-icon-1.png" data-sizes="auto" data-srcset="/media/ft0jjwqt/fort-privacy-icon-1.png?upscale=false&amp;width=300&amp;quality=80 300w,
                    	    /media/ft0jjwqt/fort-privacy-icon-1.png?upscale=false&amp;width=500&amp;quality=80 500w,
                    	    /media/ft0jjwqt/fort-privacy-icon-1.png?upscale=false&amp;width=750&amp;quality=80 750w,
                    	    /media/ft0jjwqt/fort-privacy-icon-1.png?upscale=false&amp;width=1000&amp;quality=80 1000w" alt="provide an assessment of your compliance level" sizes="100px" srcset="/media/ft0jjwqt/fort-privacy-icon-1.png?upscale=false&amp;width=300&amp;quality=80 300w,
                    	    /media/ft0jjwqt/fort-privacy-icon-1.png?upscale=false&amp;width=500&amp;quality=80 500w,
                    	    /media/ft0jjwqt/fort-privacy-icon-1.png?upscale=false&amp;width=750&amp;quality=80 750w,
                    	    /media/ft0jjwqt/fort-privacy-icon-1.png?upscale=false&amp;width=1000&amp;quality=80 1000w">
            </div>
        <div class="pod__text">
                <h3 class="h5">provide an assessment of your compliance level</h3>
            

        </div>
    </article>
</div>                    </div>
                    <div class="col-25 col-m-50 col-s-100">


<div class="grid-item grid-item--pod pod   ">
    <article>
            <div class="pod__image">
                        <img class="lazyautosizes ls-is-cached lazyloaded" src="./data-protection-projects_files/fort-privacy-icon-1.png" data-sizes="auto" data-srcset="/media/ft0jjwqt/fort-privacy-icon-1.png?upscale=false&amp;width=300&amp;quality=80 300w,
                    	    /media/ft0jjwqt/fort-privacy-icon-1.png?upscale=false&amp;width=500&amp;quality=80 500w,
                    	    /media/ft0jjwqt/fort-privacy-icon-1.png?upscale=false&amp;width=750&amp;quality=80 750w,
                    	    /media/ft0jjwqt/fort-privacy-icon-1.png?upscale=false&amp;width=1000&amp;quality=80 1000w" alt="plan a schedule of deliverables" sizes="100px" srcset="/media/ft0jjwqt/fort-privacy-icon-1.png?upscale=false&amp;width=300&amp;quality=80 300w,
                    	    /media/ft0jjwqt/fort-privacy-icon-1.png?upscale=false&amp;width=500&amp;quality=80 500w,
                    	    /media/ft0jjwqt/fort-privacy-icon-1.png?upscale=false&amp;width=750&amp;quality=80 750w,
                    	    /media/ft0jjwqt/fort-privacy-icon-1.png?upscale=false&amp;width=1000&amp;quality=80 1000w">
            </div>
        <div class="pod__text">
                <h3 class="h5">plan a schedule of deliverables</h3>
            

        </div>
    </article>
</div>                    </div>
                    <div class="col-25 col-m-50 col-s-100">


<div class="grid-item grid-item--pod pod   ">
    <article>
            <div class="pod__image">
                        <img class="lazyautosizes ls-is-cached lazyloaded" src="./data-protection-projects_files/fort-privacy-icon-1.png" data-sizes="auto" data-srcset="/media/ft0jjwqt/fort-privacy-icon-1.png?upscale=false&amp;width=300&amp;quality=80 300w,
                    	    /media/ft0jjwqt/fort-privacy-icon-1.png?upscale=false&amp;width=500&amp;quality=80 500w,
                    	    /media/ft0jjwqt/fort-privacy-icon-1.png?upscale=false&amp;width=750&amp;quality=80 750w,
                    	    /media/ft0jjwqt/fort-privacy-icon-1.png?upscale=false&amp;width=1000&amp;quality=80 1000w" alt="ensure the project will result in better compliance practices in the organisation" sizes="100px" srcset="/media/ft0jjwqt/fort-privacy-icon-1.png?upscale=false&amp;width=300&amp;quality=80 300w,
                    	    /media/ft0jjwqt/fort-privacy-icon-1.png?upscale=false&amp;width=500&amp;quality=80 500w,
                    	    /media/ft0jjwqt/fort-privacy-icon-1.png?upscale=false&amp;width=750&amp;quality=80 750w,
                    	    /media/ft0jjwqt/fort-privacy-icon-1.png?upscale=false&amp;width=1000&amp;quality=80 1000w">
            </div>
        <div class="pod__text">
                <h3 class="h5">ensure the project will result in better compliance practices in the organisation</h3>
            

        </div>
    </article>
</div>                    </div>
            </div>
        </div> 
    </div>


<section class="split-wrap block white-bg  ">
    
    <div class="split split-- split--text-right split--big">
    			
    	<div class="split__text split__text--v-top split__text--text-left">
    		
    		<div class="split__text-inner">
    
    			    					<h2>Does your business need to get on track with Data Protection compliance? </h2>
    			<p>From Data Protection Statements to Cookie EvaluationDPIA’s to Record of Processing Activities, Fort Privacy’s Data Protection Projects all work towards compliance with the GDPR within the 10 categories of our <a href="https://www.fortprivacy.ie/about/">GDPR Compliance Framework</a>.&nbsp;</p>
<p>Fort Privacy Data Protection Projects can be scaled up for a multinational or scaled back to suit an SME.&nbsp;</p>
<p>Working with Fort Privacy means we will always know your business and your compliance programme for future guidance and advice.</p>
<p>We will be ready to offer our compliance expertise when your company’s next big opportunity comes around or to simply give you peace of mind that your business is on the right track.</p>    			
    							
    		</div>
    
    	</div>	
    	
    	
    		<div class="split__image split__image--1  ">
    				    <div class="split__image-item lazyloaded" data-bgset="
        				    /media/x1epkn3u/data-protection-specialists.jpg?anchor=center&amp;mode=crop&amp;quality=80&amp;width=770&amp;height=581&amp;upscale=false&amp;rnd=132709160698670000 700w,
                    		/media/x1epkn3u/data-protection-specialists.jpg?anchor=center&amp;mode=crop&amp;quality=80&amp;width=1100&amp;height=830&amp;upscale=false&amp;rnd=132709160698670000 1000w,
                    		/media/x1epkn3u/data-protection-specialists.jpg?anchor=center&amp;mode=crop&amp;quality=80&amp;width=1650&amp;height=1245&amp;upscale=false&amp;rnd=132709160698670000 1500w" style="background-image: url(&quot;https://www.fortprivacy.ie/media/x1epkn3u/data-protection-specialists.jpg?anchor=center&amp;mode=crop&amp;quality=80&amp;width=1100&amp;height=830&amp;upscale=false&amp;rnd=132709160698670000&quot;);"><picture style="display: none;"><source data-srcset=" /media/x1epkn3u/data-protection-specialists.jpg?anchor=center&amp;mode=crop&amp;quality=80&amp;width=770&amp;height=581&amp;upscale=false&amp;rnd=132709160698670000 700w, /media/x1epkn3u/data-protection-specialists.jpg?anchor=center&amp;mode=crop&amp;quality=80&amp;width=1100&amp;height=830&amp;upscale=false&amp;rnd=132709160698670000 1000w, /media/x1epkn3u/data-protection-specialists.jpg?anchor=center&amp;mode=crop&amp;quality=80&amp;width=1650&amp;height=1245&amp;upscale=false&amp;rnd=132709160698670000 1500w" sizes="689px" srcset=" /media/x1epkn3u/data-protection-specialists.jpg?anchor=center&amp;mode=crop&amp;quality=80&amp;width=770&amp;height=581&amp;upscale=false&amp;rnd=132709160698670000 700w, /media/x1epkn3u/data-protection-specialists.jpg?anchor=center&amp;mode=crop&amp;quality=80&amp;width=1100&amp;height=830&amp;upscale=false&amp;rnd=132709160698670000 1000w, /media/x1epkn3u/data-protection-specialists.jpg?anchor=center&amp;mode=crop&amp;quality=80&amp;width=1650&amp;height=1245&amp;upscale=false&amp;rnd=132709160698670000 1500w"><img alt="" class="lazyautosizes lazyloaded" data-sizes="auto" data-parent-fit="cover" sizes="689px"></picture></div>
    		</div>
    
    </div>

</section>


<section class="block form white-bg " id="homesection10">
    
		<div class="block__header">
								<h2>Contact Us</h2>
							<div class="block__header-text text-big">
					<p>Complete this form if you would like to find out more about the service – in confidence and with no commitment other than an informal discussion.</p>
				</div>
		</div>
	
	<div class="block__body">
		<div class="container">
		
<div id="umbraco_form_69ef6c9820ef481c82791950f4578001" class="umbraco-forms-form contactform umbraco-forms-igloo">

<form action="https://www.fortprivacy.ie/services/data-protection-projects/" enctype="multipart/form-data" method="post"><input name="__RequestVerificationToken" type="hidden" value="LsVhyaKA_Nyf5d57u6H1L8Re_nbzPpEzHF3_U_haMOdsSkgFeE5gE50WYKvcSFgeEjpQYNYS-RL6NuSWXzRfHuhpa7wG-LGaTgSMPZLa2qE1"><input data-val="true" data-val-required="The FormId field is required." name="FormId" type="hidden" value="69ef6c98-20ef-481c-8279-1950f4578001"><input name="FormName" type="hidden" value="Contact form"><input data-val="true" data-val-required="The RecordId field is required." name="RecordId" type="hidden" value="00000000-0000-0000-0000-000000000000"><input name="PreviousClicked" type="hidden" value=""><input name="Theme" type="hidden" value="igloo">            <input type="hidden" name="FormStep" value="0">
            <input type="hidden" name="RecordState" value="MjQ1M0I5ODE3MDE5NTcxNUNBODBFMTczRjU3MURCM0NDRDI2QUIzMTRBRTNGQUVEQjBEQkM0NjlBRUVDRUZCNUI1Mzg5NzA0OEYwNUU3MDY5MEFEMDdFNkJBREQ1RjFFOUZFREVGMjg2MUMxRDkzMTQ1RTFGNDI0MUE3ODkxMDM0NjY1MjdBMzczQzI2RjQ4RkZBODYxM0I5N0JDN0M2RjVBMUZFQkY0NENCMEEwMkRBQzhBRTIxQTUzMURENzJGODAyMzdCOTNGMjI2RkRCNTM5ODE5OTQ1NjJFRjNGRUNGRUIxNUNBREQzMTg3MThDQkMwOEQ5QTY2MzVEMUQ3RThDQjhFMTY1MUU5MDA2N0Q3NUQxMEQ1RkE2M0Q3QkVCOUFEM0RDMURFNUI3MDVDMUFDNDZFRjNFNzE2MjlCMzRCOTQ1NENBODgzNDFEREY1OTBEQzkzMTNGQUM3M0Y1MEZCRDkyRENEOUM3NzM5Nzc3QTdEREU2RTg0NTUyMjg2NTAzNkFEQzFDREI1RTNGRDkwQTBFMDVCRjBEMjc1ODIyN0ExRUU3OThDQTQ3RkJCRTkxREQzMTYxMDMzOTQxMDJGQkIxMTNENTFFM0VENTE3MTUwNzVDQzA0MDU0RDdENzZBNTlEMDNDQUFFQzVDQjI5Mzg1MDk3MzZCRDY2MEI3MjNFRjRCNjQxMjAwNkQ0QkZGMURFMTQ4NjNEQjVGNDVDMDA5RTE5QjUyNDFCMzA0OTREOUQyODBDMUMyMTA0RTU5NDdFOTYwRjFEQUJDNzVGODIzQzVBOTFGOTg3RDdBRDJGREZGMjk4ODQ5ODVGN0IzRDI3NzQ2MjQxMkI2NjVBNzA5NjUyMTI4NzAyMjU5OEU3NEYxQUI3QkRDMjk2QTczRERBNDVDOTY0MTM1NkRCNUZBNUVGMzk0NjZEQUY3NzNGNTg5NkQzNDk2RUE2MkZGMTM4NThERDhDRUU4MEFCNzdFREEzMDBDNzIwMzA0NDg0QzM5ODQ1NjQwRDcwNjdGM0U4MjdGODNCREM3NjYwQzZEOUNCRTgxN0Q3RUE1MTUyQjM3MjI1MkI0NTE2RTU5MzFDMTYxNTE0NzZCNUI0QjQyOUUyNjIwQTY3RUI1RDhGMTY2NTM3NTdCMkY1QTRCMUQ0NjRGNUZGOTk0Mjg1NTQ5REIwOTA1ODE3NTQ5OEMyMkVCQ0UyMUQ5RjZCM0Y0ODU4ODY5RDk0QUY4NTEzNUQyRDZFQTdENUE4OTU0MEJEQkZFMDZFQjQ5QjdCNjA4OTJDQjM4NUQzNUJDNkE0NUZBRDYzMjQwRjA5MDE0NjhCOEEzM0MxOUJENzI2M0EwMUVDODVFNjFFMDczNzkyODgzNDBFRDFCRUYyMzYxQTkyMzUzRkY4MzYyMjFCOTVFNkNDMEFDNkMxNUFEM0U3RjI5NUZFNDgxMDBGMUE2NkY3NUY5RDVEMEE5MjAzRUExMjMyMkI0MEQwMkM0MzdDNkU5MjlDMTVCQkZGQjM4QkEzN0ZBNTEyODk3MDcwODNEOTkxRjUwNTAyMjFFMjQxOUVDQTM3OTc4QzIwQkRBRjNDRDJCMUI3RTU0RjgzQTNBRTE2MEUxQ0ZEOUQ4QzhEOTczRUM1NDMyMDJDRjRBMzQ0ODQwOTMyRERCMUMzMkEzN0M2NDRGNzBBQjA2RUMzMDhCRDU3QkUyQTkzNTYyMkQ5NkFFQjlFRTY1MjYyMzY1MTQ2MENBMEYyNjM5QzI0MzhGNjVDMUI1RTczQTRGRUVCMzE3NkQ5ODgxODA4NTBDOEQyNjA3QjVFODU4RDI0OEVDRjgzNjIyMURBRjM1MzkxOUJBMzA4NDg2ODI2QUY1QUU2REY1Mzc3Njg3MkZFNEZGMzFCNzlDMjRDQTg1RTRGQUE0MjgzRDQ5QTBEMzA0RjIxQjkyMDBDQzMxQzdCNjk4NDg1QTZBOEM5RDhDQUM5MzZFMEUzNDRCMzkzNDdFNzY4Njk0QzZDN0EzMw==">





<div class="umbraco-forms-page">




        <fieldset class="umbraco-forms-fieldset" id="00000000-0000-0000-0000-000000000000">


            <div class="row">

                    <div class="umbraco-forms-container col col-s-100">

                            <div class=" umbraco-forms-field heading titleanddescription">



                                <div class="umbraco-forms-field-wrapper">

                                    


<div id="11c98a9e-8c99-42fb-ef41-ea7653576959" class="">
            <p><centre></centre></p><p style="font-size: 16px;">We’re here to help. Whether you’re unsure where to start, or need some extra guidance in developing your data protection programme.</p><p></p>
</div>

<span class="field-validation-valid" data-valmsg-for="11c98a9e-8c99-42fb-ef41-ea7653576959" data-valmsg-replace="true"></span>
                                </div>

                            </div>

                    </div>
            </div>

        </fieldset>
        <fieldset class="umbraco-forms-fieldset" id="a9f6a54b-554d-4f65-be9b-e200d77c73f3">


            <div class="row">

                    <div class="umbraco-forms-container col col-s-100">

                            <div class=" umbraco-forms-field firstname shortanswer mandatory alternating">

                                    <label for="f6718dda-0e45-48f9-bf8f-ecfe8a500a9e" class="umbraco-forms-label">
                                        First Name*                                                        <span class="umbraco-forms-indicator">*</span>
                                    </label>


                                <div class="umbraco-forms-field-wrapper">

                                    <input type="text" name="f6718dda-0e45-48f9-bf8f-ecfe8a500a9e" id="f6718dda-0e45-48f9-bf8f-ecfe8a500a9e" class="text" value="" maxlength="500" placeholder="Your first name" data-val="true" data-val-required="Please provide a value for First Name*">





<span class="field-validation-valid" data-valmsg-for="f6718dda-0e45-48f9-bf8f-ecfe8a500a9e" data-valmsg-replace="true"></span>
                                </div>

                            </div>

                    </div>
                    <div class="umbraco-forms-container col col-s-100">

                            <div class=" umbraco-forms-field lastname shortanswer mandatory">

                                    <label for="7796ba9e-0c48-45e8-f480-107ddfe19a11" class="umbraco-forms-label">
                                        Last Name*                                                        <span class="umbraco-forms-indicator">*</span>
                                    </label>


                                <div class="umbraco-forms-field-wrapper">

                                    <input type="text" name="7796ba9e-0c48-45e8-f480-107ddfe19a11" id="7796ba9e-0c48-45e8-f480-107ddfe19a11" class="text" value="" maxlength="500" placeholder="Your last name" data-val="true" data-val-required="Please provide a value for Last Name*">





<span class="field-validation-valid" data-valmsg-for="7796ba9e-0c48-45e8-f480-107ddfe19a11" data-valmsg-replace="true"></span>
                                </div>

                            </div>

                    </div>
            </div>

        </fieldset>
        <fieldset class="umbraco-forms-fieldset" id="b1dcd5ef-9cd5-417a-baf7-18708fda98f5">


            <div class="row">

                    <div class="umbraco-forms-container col col-s-100">

                            <div class=" umbraco-forms-field email shortanswer mandatory alternating">

                                    <label for="c9204231-7756-4e10-cb50-60870fb4bb73" class="umbraco-forms-label">
                                        Email*                                                        <span class="umbraco-forms-indicator">*</span>
                                    </label>


                                <div class="umbraco-forms-field-wrapper">

                                    <input type="text" name="c9204231-7756-4e10-cb50-60870fb4bb73" id="c9204231-7756-4e10-cb50-60870fb4bb73" class="text" value="" maxlength="500" placeholder="Your email address" data-val="true" data-val-required="*" data-val-regex="invalid" data-regex="">





<span class="field-validation-valid" data-valmsg-for="c9204231-7756-4e10-cb50-60870fb4bb73" data-valmsg-replace="true"></span>
                                </div>

                            </div>

                    </div>
                    <div class="umbraco-forms-container col col-s-100">

                            <div class=" umbraco-forms-field phonenumber shortanswer">

                                    <label for="288ce607-5d25-49c0-8644-f9cf1adaa7d7" class="umbraco-forms-label">
                                        Phone Number                                     </label>


                                <div class="umbraco-forms-field-wrapper">

                                    <input type="text" name="288ce607-5d25-49c0-8644-f9cf1adaa7d7" id="288ce607-5d25-49c0-8644-f9cf1adaa7d7" class="text" value="" maxlength="500" placeholder="Optional - Your Phone number">





<span class="field-validation-valid" data-valmsg-for="288ce607-5d25-49c0-8644-f9cf1adaa7d7" data-valmsg-replace="true"></span>
                                </div>

                            </div>

                    </div>
            </div>

        </fieldset>
        <fieldset class="umbraco-forms-fieldset" id="1ae5d53c-b15d-4ae7-c872-ae887995812e">


            <div class="row">

                    <div class="umbraco-forms-container col col-s-100">

                            <div class=" umbraco-forms-field organisation shortanswer mandatory alternating">

                                    <label for="1bc69f36-2e34-44ed-d89f-79b5c9376d3f" class="umbraco-forms-label">
                                        Organisation*                                                        <span class="umbraco-forms-indicator">*</span>
                                    </label>


                                <div class="umbraco-forms-field-wrapper">

                                    <input type="text" name="1bc69f36-2e34-44ed-d89f-79b5c9376d3f" id="1bc69f36-2e34-44ed-d89f-79b5c9376d3f" class="text" value="" maxlength="500" placeholder="Your company / organisation" data-val="true" data-val-required="Please provide a value for Organisation*">





<span class="field-validation-valid" data-valmsg-for="1bc69f36-2e34-44ed-d89f-79b5c9376d3f" data-valmsg-replace="true"></span>
                                </div>

                            </div>
                            <div class=" umbraco-forms-field message longanswer mandatory">

                                    <label for="d69e4ea5-4957-4b27-f572-cae872e2dc75" class="umbraco-forms-label">
                                        Message*                                                        <span class="umbraco-forms-indicator">*</span>
                                    </label>


                                <div class="umbraco-forms-field-wrapper">

                                    
<textarea class="" name="d69e4ea5-4957-4b27-f572-cae872e2dc75" id="d69e4ea5-4957-4b27-f572-cae872e2dc75" rows="6" data-val="true" data-val-required="Please provide a value for Message*"></textarea>



<span class="field-validation-valid" data-valmsg-for="d69e4ea5-4957-4b27-f572-cae872e2dc75" data-valmsg-replace="true"></span>
                                </div>

                            </div>
                            <div class=" umbraco-forms-field fortprivacyprocesses titleanddescription alternating">



                                <div class="umbraco-forms-field-wrapper">

                                    


<div id="a4f512f1-a328-48fd-dd0e-8fb89135b700" class="">
            <p>Fort Privacy processes your personal data in order to respond to your query and provide you with information about our products and services. Please see our <a href="https://www.fortprivacy.ie/data-protection-statement/" target="blank" title="Read Data Protection Statement">Data Protection Statement</a> for further information.</p>
</div>

<span class="field-validation-valid" data-valmsg-for="a4f512f1-a328-48fd-dd0e-8fb89135b700" data-valmsg-replace="true"></span>
                                </div>

                            </div>

                    </div>
            </div>

        </fieldset>

    <div style="display: none">
        <input type="text" name="69ef6c9820ef481c82791950f4578001">
    </div>


    <div class="umbraco-forms-navigation row">

        <div class="col-100">
                <input type="submit" class="button button--block" value="Send" name="__next">
        </div>
    </div>
</div>

<input name="ufprt" type="hidden" value="3C78B37413C3B9CD31F64F4544764B96C2F132817377797775D717A8090276C6641FA37F4E81C50B8BF41077C9F7170C97E940ADCA031DFDD7153538D935E0EA2C064648158C004632BF0B0EC46770B0274EB134EAC58C4DE9C4AB6D1BCA5D3431797287CBDAD96D0185253B7D68AA7DC911259C5990883BC9A8F788D11A6CECBAF08EAAEE88D00C17D0C64B47B817ED"></form>

        



<script type="text/javascript">
    if (typeof umbracoFormsCollection === 'undefined') var umbracoFormsCollection = [];
    umbracoFormsCollection.push('%7B%22formId%22:%2269ef6c9820ef481c82791950f4578001%22,%22fieldSetConditions%22:%7B%7D,%22fieldConditions%22:%7B%7D,%22recordValues%22:%7B%7D%7D');
</script>


<script src="./data-protection-projects_files/umbracoforms.js.download" defer="defer" type="text/javascript"></script><link rel="stylesheet" href="./data-protection-projects_files/style.css">    </div>		</div>
	</div>
	

</section>

