@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
	Layout = "master.cshtml";
}




    <!-- <section class="hero hero--70   hero--v-top" > -->

    <section class="hero hero--v-top in-view">

        <div class="hero__inner">
            <div class="container">
                <div class="row row--center">
                    <div class="hero__inner light-color col- col-m-100">

                        <h1>Data Protection Statement</h1>
                        <div class="hero__text text-big">
                            <p style="color: white;">Last Update: 15th September 2021</p>
                        </div>

                    </div>
                </div>
            </div>
        </div>


        <div class="hero__background hide--m lazyloaded" data-bgset="
                    /media/a2gndgbh/data-protection-summary.jpg?anchor=center&amp;mode=crop&amp;quality=80&amp;width=2560&amp;height=1008&amp;upscale=false&amp;rnd=132761963872530000 2560w,
                    /media/a2gndgbh/data-protection-summary.jpg?anchor=center&amp;mode=crop&amp;quality=80&amp;width=1920&amp;height=756&amp;upscale=false&amp;rnd=132761963872530000 1920w,
                    /media/a2gndgbh/data-protection-summary.jpg?anchor=center&amp;mode=crop&amp;quality=80&amp;width=1600&amp;height=630&amp;upscale=false&amp;rnd=132761963872530000 1600w" style="background-image: url(&quot;https://www.fortprivacy.ie/media/a2gndgbh/data-protection-summary.jpg?anchor=center&amp;mode=crop&amp;quality=80&amp;width=2560&amp;height=1008&amp;upscale=false&amp;rnd=132761963872530000&quot;);">
            <picture style="display: none;"><source data-srcset=" /media/a2gndgbh/data-protection-summary.jpg?anchor=center&amp;mode=crop&amp;quality=80&amp;width=2560&amp;height=1008&amp;upscale=false&amp;rnd=132761963872530000 2560w, /media/a2gndgbh/data-protection-summary.jpg?anchor=center&amp;mode=crop&amp;quality=80&amp;width=1920&amp;height=756&amp;upscale=false&amp;rnd=132761963872530000 1920w, /media/a2gndgbh/data-protection-summary.jpg?anchor=center&amp;mode=crop&amp;quality=80&amp;width=1600&amp;height=630&amp;upscale=false&amp;rnd=132761963872530000 1600w" sizes="1447px" srcset=" /media/a2gndgbh/data-protection-summary.jpg?anchor=center&amp;mode=crop&amp;quality=80&amp;width=2560&amp;height=1008&amp;upscale=false&amp;rnd=132761963872530000 2560w, /media/a2gndgbh/data-protection-summary.jpg?anchor=center&amp;mode=crop&amp;quality=80&amp;width=1920&amp;height=756&amp;upscale=false&amp;rnd=132761963872530000 1920w, /media/a2gndgbh/data-protection-summary.jpg?anchor=center&amp;mode=crop&amp;quality=80&amp;width=1600&amp;height=630&amp;upscale=false&amp;rnd=132761963872530000 1600w"><img alt="" class="lazyautosizes lazyloaded" data-sizes="auto" data-parent-fit="cover" sizes="1447px"></picture>
        </div>
        <div class="hero__background show--m lazyload" data-bgset="
                    /media/a2gndgbh/data-protection-summary.jpg?anchor=center&amp;mode=crop&amp;quality=80&amp;width=1800&amp;height=2240&amp;upscale=false&amp;rnd=132761963872530000 1800w,
                    /media/a2gndgbh/data-protection-summary.jpg?anchor=center&amp;mode=crop&amp;quality=80&amp;width=1440&amp;height=1792&amp;upscale=false&amp;rnd=132761963872530000 1440w,
                    /media/a2gndgbh/data-protection-summary.jpg?anchor=center&amp;mode=crop&amp;quality=80&amp;width=1080&amp;height=1344&amp;upscale=false&amp;rnd=132761963872530000 1080w,
                    /media/a2gndgbh/data-protection-summary.jpg?anchor=center&amp;mode=crop&amp;quality=80&amp;width=750&amp;height=934&amp;upscale=false&amp;rnd=132761963872530000 750w" data-sizes="auto">
        </div>


        <div class="overlay " style="opacity:0.60"></div>


    </section>


    <section class="block text gray-bg in-view">

        <div class="block-text block-text--single">
            <div class="container">
                <div class="row">
                    <div class="col-100">
                        <p style="text-align: center;">For your convenience please find below links to both a brief summary of our Data Protection Statement and our full General Data Protection Statement.</p>

                    </div>
                </div>
            </div>
        </div>

    </section>
    <nav class="section-nav section-nav--white section-nav--big" id="anchor">
        <ul>
            <li>
                <a href="#anchor" class="">
                    <i class="fa fa-edit" aria-hidden="true"></i>
                    <span class="section-nav__label">Summary Data Protection Statement</span>
                </a>
            </li>
            <li>
                <a href="/full-data-protection-statement/" class="">
                    <i class="fa fa-edit" aria-hidden="true"></i>
                    <span class="section-nav__label">Full Data Protection Statmement</span>
                </a>
            </li>
        </ul>
    </nav>


    <div class="block grid gray-bg in-view">
        <div class="container ">
            <div class="row  row--left row--v-top  ">

                <div class="col col-s-100">

                    <div class="grid-item grid-item--header text-center">
                        <h2>Summary Data Protection Statement</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="block grid gray-bg    ">
        <div class="container ">
            <div class="row  row--left row--v-top  ">

                <div class="col col-s-100">


                    <div class="grid-item grid-item--text ">
                        <h3><strong>We encourage you to read the complete Statement <u><a href="/full-data-protection-statement/" title="Full Data Protection Statement">here</a>.</u></strong></h3>
                        <p>We are <strong>Fort Privacy Partners Limited </strong>referred to in this Data Protection Statement as “<strong>Fort Privacy</strong>”“<strong>we</strong>” and “<strong>us</strong>”<strong>. </strong>You can find us at:</p>
                        <p>Fort Privacy Partners Limited<br>Glandore Business Centre,<br>City Quarter, <br>Lapps Quay,<br>Cork,<br>Ireland</p>
                        <p>Email:&nbsp;&nbsp;&nbsp; info@fortprivacy.ie</p>
                        <p>Our website is <a href="http://www.fortprivacy.ie">www.fortprivacy.ie</a></p>
                        <p>Fort Privacy is a global data protection service company based in Ireland. We specialise in enabling organisations comply with the General Data Protection Regulation (“<strong>GDPR</strong>”). We are a business-centric data protection service company, focused on developing various services and products to assist in compliance with the GDPR and applicable domestic data protection legislation.</p>
                        <p>In order to provide our services, we need to process certain Personal Data. We are committed to protecting the rights of individuals in accordance with data protection legislation including the GDPR.</p>
                        <hr>
                        <p>“<strong>Personal Data</strong>” means data which identifies a person or could identify a person, such as their name, contact details and financial data. It applies to Personal Data that we process in connection with your relationship with us as a customer, supplier, partner, investor, visitor to our website or prospective employee.</p>
                        <hr>
                        <p>Every individual has a right to understand how their Personal Data is being used and to exercise control over it using data protection rights which are set out in the General Data Protection Regulation (“<strong>GDPR</strong>”).&nbsp; This Data Protection Statement seeks to ensure that you know:</p>
                        <ul>
                            <li>what Personal Data we collect from you</li>
                            <li>what we are doing with your Personal Data</li>
                            <li>that we will only use your Personal Data for appropriate purposes</li>
                            <li>your rights, and how you can exercise control over your Personal Data</li>
                        </ul>
                        <p>&nbsp;</p>
                        <p>We make the following commitments. We will:</p>
                        <ul>
                            <li>not send you marketing emails if you do not want to receive them</li>
                            <li>always ensure that we only share your Personal Data with third parties where absolutely necessary and with appropriate safeguards in place</li>
                            <li>ensure appropriate technical and organisational measures are in place to protect your Personal Data and keep it secure</li>
                        </ul>
                        <hr>
                        <p>You can access our full Data Protection Statement <a href="/full-data-protection-statement/" title="Full Data Protection Statement">here</a>. In it we provide further information about what Personal Data we collect, what we use it for, why we collect it and what our legal basis is, who we share it with and how long we retain it.&nbsp; We also provide detailed information about your rights in relation to your Personal Data.&nbsp;&nbsp; If you have further questions, please get in touch with us using the contact details above.</p>
                        <hr>
                        <p>You have the right to lodge a complaint with your supervisory authority, in the country where you reside, place of work or place of the alleged infringement if you consider we are not processing your Personal Data in compliance with the GDPR.</p>
                        <p>&nbsp;The contact details for the regulator in Ireland, the Data Protection Commission (DPC) are:</p>
                        <p><strong>Online Form</strong>: &nbsp;&nbsp;&nbsp; <a href="https://forms.dataprotection.ie/contact">https://forms.dataprotection.ie/contact</a></p>
                        <p><strong>Address</strong>:&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 21 Fitzwilliam Square South, Dublin 2, D02 RD28, Ireland</p>
                        <p><strong>Tel:</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; +353 578 684 800 or +353 761 104 800</p>
                        <p>You will be notified of any material changes to our Data Protection Statement.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>


