@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
	Layout = "master.cshtml";
}


 
        




<!-- <section class="hero hero--   hero--v-top" > -->

<section class="hero hero--v-top in-view">

    <div class="hero__inner">
        <div class="container">
            <div class="row row--center">
                <div class="hero__inner light-color col- col-m-100">

                                                <h1>Fort Privacy Audit</h1>
                                        
                </div>
            </div>
        </div>
    </div>
    
    
            <div class="hero__background hide--m lazyloaded" data-bgset="
                    /media/jzsb35er/fort-privacy-audit.jpg?anchor=center&amp;mode=crop&amp;quality=80&amp;width=2560&amp;height=720&amp;upscale=false&amp;rnd=132731686924900000 2560w,
        		    /media/jzsb35er/fort-privacy-audit.jpg?anchor=center&amp;mode=crop&amp;quality=80&amp;width=1920&amp;height=540&amp;upscale=false&amp;rnd=132731686924900000 1920w,
        		    /media/jzsb35er/fort-privacy-audit.jpg?anchor=center&amp;mode=crop&amp;quality=80&amp;width=1600&amp;height=450&amp;upscale=false&amp;rnd=132731686924900000 1600w" style="background-image: url(&quot;https://www.fortprivacy.ie/media/jzsb35er/fort-privacy-audit.jpg?anchor=center&amp;mode=crop&amp;quality=80&amp;width=2560&amp;height=720&amp;upscale=false&amp;rnd=132731686924900000&quot;);">
            <picture style="display: none;"><source data-srcset=" /media/jzsb35er/fort-privacy-audit.jpg?anchor=center&amp;mode=crop&amp;quality=80&amp;width=2560&amp;height=720&amp;upscale=false&amp;rnd=132731686924900000 2560w, /media/jzsb35er/fort-privacy-audit.jpg?anchor=center&amp;mode=crop&amp;quality=80&amp;width=1920&amp;height=540&amp;upscale=false&amp;rnd=132731686924900000 1920w, /media/jzsb35er/fort-privacy-audit.jpg?anchor=center&amp;mode=crop&amp;quality=80&amp;width=1600&amp;height=450&amp;upscale=false&amp;rnd=132731686924900000 1600w" sizes="1447px" srcset=" /media/jzsb35er/fort-privacy-audit.jpg?anchor=center&amp;mode=crop&amp;quality=80&amp;width=2560&amp;height=720&amp;upscale=false&amp;rnd=132731686924900000 2560w, /media/jzsb35er/fort-privacy-audit.jpg?anchor=center&amp;mode=crop&amp;quality=80&amp;width=1920&amp;height=540&amp;upscale=false&amp;rnd=132731686924900000 1920w, /media/jzsb35er/fort-privacy-audit.jpg?anchor=center&amp;mode=crop&amp;quality=80&amp;width=1600&amp;height=450&amp;upscale=false&amp;rnd=132731686924900000 1600w"><img alt="" class="lazyautosizes lazyloaded" data-sizes="auto" data-parent-fit="cover" sizes="1447px"></picture></div>
            <div class="hero__background show--m lazyload" data-bgset="
        		    /media/jzsb35er/fort-privacy-audit.jpg?anchor=center&amp;mode=crop&amp;quality=80&amp;width=1800&amp;height=1600&amp;upscale=false&amp;rnd=132731686924900000 1800w,
        		    /media/jzsb35er/fort-privacy-audit.jpg?anchor=center&amp;mode=crop&amp;quality=80&amp;width=1440&amp;height=1280&amp;upscale=false&amp;rnd=132731686924900000 1440w,
        		    /media/jzsb35er/fort-privacy-audit.jpg?anchor=center&amp;mode=crop&amp;quality=80&amp;width=1080&amp;height=960&amp;upscale=false&amp;rnd=132731686924900000 1080w,
        		    /media/jzsb35er/fort-privacy-audit.jpg?anchor=center&amp;mode=crop&amp;quality=80&amp;width=750&amp;height=667&amp;upscale=false&amp;rnd=132731686924900000 750w" data-sizes="auto">
            </div>
    
    
        <div class="overlay " style="opacity:0.60"></div>


</section>


<section class="split-wrap block white-bg in-view" id="outsourced02">
    
    <div class="split split-- split--text-right split--big">
    			
    	<div class="split__text split__text--v-center split__text--text-left">
    		
    		<div class="split__text-inner">
    
    			    					<h2>Why undertake an audit with Fort Privacy?</h2>
    			<div class="sc-section-heading container">
<div class="row">
<div class="col s12">
<ul>
<li style="font-weight: 400;" aria-level="1">Your organisation may have invested heavily in your Data Protection compliance but is it delivering?</li>
</ul>
<ul>
<li style="font-weight: 400;" aria-level="1">Are you struggling to communicate your compliance status to new customers?</li>
</ul>
<ul>
<li style="font-weight: 400;" aria-level="1">Are you looking at M&amp;A activity and need to undergo due diligence?</li>
</ul>
<ul>
<li>Have you lost clients because they don’t have confidence in your ability to handle their personal data?</li>
</ul>
<p>If the answer is yes to any of these questions, then it’s time to step back, take stock and undertake an Audit to help you identify your company’s strengths and weaknesses.</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
</div>
</div>
</div>    			
    							
    		</div>
    
    	</div>	
    	
    	
    		<div class="split__image split__image--1 split__image--no-border ">
    				    <div class="split__image-item lazyloaded" data-bgset="
        				    /media/1yudb3sx/privacy-audit-ireland.jpg?anchor=center&amp;mode=crop&amp;quality=80&amp;width=770&amp;height=581&amp;upscale=false&amp;rnd=132708553209600000 700w,
                    		/media/1yudb3sx/privacy-audit-ireland.jpg?anchor=center&amp;mode=crop&amp;quality=80&amp;width=1100&amp;height=830&amp;upscale=false&amp;rnd=132708553209600000 1000w,
                    		/media/1yudb3sx/privacy-audit-ireland.jpg?anchor=center&amp;mode=crop&amp;quality=80&amp;width=1650&amp;height=1245&amp;upscale=false&amp;rnd=132708553209600000 1500w" style="background-image: url(&quot;https://www.fortprivacy.ie/media/1yudb3sx/privacy-audit-ireland.jpg?anchor=center&amp;mode=crop&amp;quality=80&amp;width=1100&amp;height=830&amp;upscale=false&amp;rnd=132708553209600000&quot;);"><picture style="display: none;"><source data-srcset=" /media/1yudb3sx/privacy-audit-ireland.jpg?anchor=center&amp;mode=crop&amp;quality=80&amp;width=770&amp;height=581&amp;upscale=false&amp;rnd=132708553209600000 700w, /media/1yudb3sx/privacy-audit-ireland.jpg?anchor=center&amp;mode=crop&amp;quality=80&amp;width=1100&amp;height=830&amp;upscale=false&amp;rnd=132708553209600000 1000w, /media/1yudb3sx/privacy-audit-ireland.jpg?anchor=center&amp;mode=crop&amp;quality=80&amp;width=1650&amp;height=1245&amp;upscale=false&amp;rnd=132708553209600000 1500w" sizes="693px" srcset=" /media/1yudb3sx/privacy-audit-ireland.jpg?anchor=center&amp;mode=crop&amp;quality=80&amp;width=770&amp;height=581&amp;upscale=false&amp;rnd=132708553209600000 700w, /media/1yudb3sx/privacy-audit-ireland.jpg?anchor=center&amp;mode=crop&amp;quality=80&amp;width=1100&amp;height=830&amp;upscale=false&amp;rnd=132708553209600000 1000w, /media/1yudb3sx/privacy-audit-ireland.jpg?anchor=center&amp;mode=crop&amp;quality=80&amp;width=1650&amp;height=1245&amp;upscale=false&amp;rnd=132708553209600000 1500w"><img alt="" class="lazyautosizes lazyloaded" data-sizes="auto" data-parent-fit="cover" sizes="693px"></picture></div>
    		</div>
    
    </div>

</section>

<section class="split-wrap block white-bg  " id="outsourced01">
    
    <div class="split split-- split--text-left split--big">
    			
    	<div class="split__text split__text--v-center split__text--text-left">
    		
    		<div class="split__text-inner">
    
    			    					<h2>How will a Fort Privacy Audit Help Me?</h2>
    			<ul>
<li>Ensure your resources are in the right place</li>
<li>Benefit from a critical and bias free assessment</li>
<li>Discover what compliance level your organisation is at</li>
<li>Identify areas of weakness that contribute to data processing risks&nbsp;</li>
<li>Implement an Action Plan to take your compliance programme forward</li>
<li>Pre-empt expensive client audits</li>
<li>Speed up the client on-boarding process</li>
<li>Demonstrate your commitment to your compliance programme</li>
<li>Ensure your business sells for the right price when the time comes</li>
</ul>    			
    							
    		</div>
    
    	</div>	
    	
    	
    		<div class="split__image split__image--1 split__image--no-border ">
    				    <div class="split__image-item lazyloaded" data-bgset="
        				    /media/zbemkl4p/data-protection-audit.jpg?anchor=center&amp;mode=crop&amp;quality=80&amp;width=770&amp;height=581&amp;upscale=false&amp;rnd=132705831473630000 700w,
                    		/media/zbemkl4p/data-protection-audit.jpg?anchor=center&amp;mode=crop&amp;quality=80&amp;width=1100&amp;height=830&amp;upscale=false&amp;rnd=132705831473630000 1000w,
                    		/media/zbemkl4p/data-protection-audit.jpg?anchor=center&amp;mode=crop&amp;quality=80&amp;width=1650&amp;height=1245&amp;upscale=false&amp;rnd=132705831473630000 1500w" style="background-image: url(&quot;https://www.fortprivacy.ie/media/zbemkl4p/data-protection-audit.jpg?anchor=center&amp;mode=crop&amp;quality=80&amp;width=1100&amp;height=830&amp;upscale=false&amp;rnd=132705831473630000&quot;);"><picture style="display: none;"><source data-srcset=" /media/zbemkl4p/data-protection-audit.jpg?anchor=center&amp;mode=crop&amp;quality=80&amp;width=770&amp;height=581&amp;upscale=false&amp;rnd=132705831473630000 700w, /media/zbemkl4p/data-protection-audit.jpg?anchor=center&amp;mode=crop&amp;quality=80&amp;width=1100&amp;height=830&amp;upscale=false&amp;rnd=132705831473630000 1000w, /media/zbemkl4p/data-protection-audit.jpg?anchor=center&amp;mode=crop&amp;quality=80&amp;width=1650&amp;height=1245&amp;upscale=false&amp;rnd=132705831473630000 1500w" sizes="693px" srcset=" /media/zbemkl4p/data-protection-audit.jpg?anchor=center&amp;mode=crop&amp;quality=80&amp;width=770&amp;height=581&amp;upscale=false&amp;rnd=132705831473630000 700w, /media/zbemkl4p/data-protection-audit.jpg?anchor=center&amp;mode=crop&amp;quality=80&amp;width=1100&amp;height=830&amp;upscale=false&amp;rnd=132705831473630000 1000w, /media/zbemkl4p/data-protection-audit.jpg?anchor=center&amp;mode=crop&amp;quality=80&amp;width=1650&amp;height=1245&amp;upscale=false&amp;rnd=132705831473630000 1500w"><img alt="" class="lazyautosizes lazyloaded ls-is-cached" data-sizes="auto" data-parent-fit="cover" sizes="693px"></picture></div>
    		</div>
    
    </div>

</section>

<section class="split-wrap block white-bg  ">
    
    <div class="split split-- split--text-right split--big">
    			
    	<div class="split__text split__text--v-center split__text--text-left">
    		
    		<div class="split__text-inner">
    
    			    					<h2>What is unique about the Fort Privacy Audit?</h2>
    			<div class="sc-section-heading container">
<div class="row">
<div class="col s12">
<p>Your business needs to set realistic targets for compliance programmes and the Fort Privacy Audit helps you to do this by measuring your current level of compliance.&nbsp; We have a structured desk-based audit that is modelled on the ICO Audit</p>
<p>We also have the Fort Privacy Maturity Model Audit for more in depth audits.&nbsp; This looks at the 5 levels of maturity&nbsp;for a Data Protection programme, from ad hoc to optimised.</p>
<p>All audits will provide a defined list of actions against any gaps that are identified so that you can build a compliance project plan to address the issues.</p>
<p>No matter what level you find your business is at, Fort Privacy is here to guide and advise you, set realistic goals and ensure your company’s compliance.</p>
<p>&nbsp;</p>
</div>
</div>
</div>    			
    							
    		</div>
    
    	</div>	
    	
    	
    		<div class="split__image split__image--1 split__image--no-border split__image--contain">
        				<div class="split__image-item lazyload" data-sizes="auto" data-bgset="/media/2een35i5/fort-privacy-maturity-model.jpg?upscale=false&amp;width=770&amp;height=581&amp;quality=80 700w,
                    		/media/2een35i5/fort-privacy-maturity-model.jpg?upscale=false&amp;width=1100&amp;height=830&amp;quality=80 1000w,
                    		/media/2een35i5/fort-privacy-maturity-model.jpg?upscale=false&amp;width=1650&amp;height=1245&amp;quality=80 1500w"></div>
    		</div>
    
    </div>

</section>

    <div class="block grid gray-bg    " id="out_section2">
        <div class="container container--big ">
            <div class="row  row--left row--v-top  ">

                    <div class="col-100 col-s-100">


<div class="grid-item grid-item--text ">
    <h2 style="text-align: center;">Our Process</h2>
</div>                    </div>
                    <div class="col-25 col-m-50 col-s-100">


<div class="grid-item grid-item--pod pod   ">
    <article>
            <div class="pod__image">
                        <img class="lazyload" src="./ort-privacy-audit_files/fort-privacy-icon-1.png" data-sizes="auto" data-srcset="/media/ft0jjwqt/fort-privacy-icon-1.png?upscale=false&amp;width=300&amp;quality=80 300w,
                    	    /media/ft0jjwqt/fort-privacy-icon-1.png?upscale=false&amp;width=500&amp;quality=80 500w,
                    	    /media/ft0jjwqt/fort-privacy-icon-1.png?upscale=false&amp;width=750&amp;quality=80 750w,
                    	    /media/ft0jjwqt/fort-privacy-icon-1.png?upscale=false&amp;width=1000&amp;quality=80 1000w" alt="Scoping the Audit">
            </div>
        <div class="pod__text">
                <h3 class="h5">Scoping the Audit</h3>
            <p>We start by talking to you about your compliance program and getting to know and understand your business and its risk profile.</p>
<p>We want to understand why you are undertaking an audit and what outcomes you want to achieve. This helps us to scope the audit and adapt it to best fit your needs.</p>
<p>We like to understand where your Data Protection risks lie and in which areas you need your compliance program to reach higher standards of maturity.</p>
<p>Based on your input we will suggest an appropriate scope for your audit.</p>

        </div>
    </article>
</div>                    </div>
                    <div class="col-25 col-m-50 col-s-100">


<div class="grid-item grid-item--pod pod   ">
    <article>
            <div class="pod__image">
                        <img class="lazyload" src="./ort-privacy-audit_files/fort-privacy-icon-1.png" data-sizes="auto" data-srcset="/media/ft0jjwqt/fort-privacy-icon-1.png?upscale=false&amp;width=300&amp;quality=80 300w,
                    	    /media/ft0jjwqt/fort-privacy-icon-1.png?upscale=false&amp;width=500&amp;quality=80 500w,
                    	    /media/ft0jjwqt/fort-privacy-icon-1.png?upscale=false&amp;width=750&amp;quality=80 750w,
                    	    /media/ft0jjwqt/fort-privacy-icon-1.png?upscale=false&amp;width=1000&amp;quality=80 1000w" alt="Audit Preparation and Information Gathering">
            </div>
        <div class="pod__text">
                <h3 class="h5">Audit Preparation and Information Gathering</h3>
            <p>Once we have agreed on a high-level scope and you are happy to proceed, we start the audit preparation.</p>
<p>This involves agreeing the detailed audit schedule for audit interviews and audit activities.</p>
<p>We will identify who should be involved in the audit.</p>
<p>We ask you to start gathering the key documents together and get them to us to complete our preparation steps.</p>

        </div>
    </article>
</div>                    </div>
                    <div class="col-25 col-m-50 col-s-100">


<div class="grid-item grid-item--pod pod   ">
    <article>
            <div class="pod__image">
                        <img class="lazyload" src="./ort-privacy-audit_files/fort-privacy-icon-1.png" data-sizes="auto" data-srcset="/media/ft0jjwqt/fort-privacy-icon-1.png?upscale=false&amp;width=300&amp;quality=80 300w,
                    	    /media/ft0jjwqt/fort-privacy-icon-1.png?upscale=false&amp;width=500&amp;quality=80 500w,
                    	    /media/ft0jjwqt/fort-privacy-icon-1.png?upscale=false&amp;width=750&amp;quality=80 750w,
                    	    /media/ft0jjwqt/fort-privacy-icon-1.png?upscale=false&amp;width=1000&amp;quality=80 1000w" alt="Interviews and Evidence">
            </div>
        <div class="pod__text">
                <h3 class="h5">Interviews and Evidence</h3>
            <p style="background: white; vertical-align: baseline; margin: 0cm 0cm 18.0pt 0cm;">When we have completed the preparation stage we carry-out the onsite or online interviews and evidence gathering.</p>
<p style="background: white; vertical-align: baseline; margin: 0cm 0cm 18.0pt 0cm;"><br>Fort Privacy auditors have the right combination of Data Protection and audit skillsets to evaluate interview responses and evidence to accurately assess your compliance programme.</p>

        </div>
    </article>
</div>                    </div>
                    <div class="col-25 col-m-50 col-s-100">


<div class="grid-item grid-item--pod pod   ">
    <article>
            <div class="pod__image">
                        <img class="lazyload" src="./ort-privacy-audit_files/fort-privacy-icon-1.png" data-sizes="auto" data-srcset="/media/ft0jjwqt/fort-privacy-icon-1.png?upscale=false&amp;width=300&amp;quality=80 300w,
                    	    /media/ft0jjwqt/fort-privacy-icon-1.png?upscale=false&amp;width=500&amp;quality=80 500w,
                    	    /media/ft0jjwqt/fort-privacy-icon-1.png?upscale=false&amp;width=750&amp;quality=80 750w,
                    	    /media/ft0jjwqt/fort-privacy-icon-1.png?upscale=false&amp;width=1000&amp;quality=80 1000w" alt="Report Generation">
            </div>
        <div class="pod__text">
                <h3 class="h5">Report Generation</h3>
            <p>On completion, we provide an initial assessment of the findings followed up by a detailed audit report.</p>
<p>Our report identifies any gaps and includes a detailed list of actions required to close them.</p>
<p>We will have a closing meeting with the board and management team to review the findings.</p>

        </div>
    </article>
</div>                    </div>
            </div>
        </div> 
    </div>



<section class="block form white-bg " id="homesection10">
    
		<div class="block__header">
								<h2>Contact Us</h2>
							<div class="block__header-text text-big">
					<p>Complete this form if you would like to find out more about the service – in confidence and with no commitment other than an informal discussion.</p>
				</div>
		</div>
	
	<div class="block__body">
		<div class="container">
		
<div id="umbraco_form_69ef6c9820ef481c82791950f4578001" class="umbraco-forms-form contactform umbraco-forms-igloo">

<form action="https://www.fortprivacy.ie/services/fort-privacy-audit/" enctype="multipart/form-data" method="post"><input name="__RequestVerificationToken" type="hidden" value="tIiNxnrnyykwNCmsWFw4YrBteJFnOBX85vqytbiL0wC1oHjyZTQsiVPojkdrtGG6a6W-vQY_NoAQnuDY9Z5HqXh3M0F-szRoOeJLwolgZGY1"><input data-val="true" data-val-required="The FormId field is required." name="FormId" type="hidden" value="69ef6c98-20ef-481c-8279-1950f4578001"><input name="FormName" type="hidden" value="Contact form"><input data-val="true" data-val-required="The RecordId field is required." name="RecordId" type="hidden" value="00000000-0000-0000-0000-000000000000"><input name="PreviousClicked" type="hidden" value=""><input name="Theme" type="hidden" value="igloo">            <input type="hidden" name="FormStep" value="0">
            <input type="hidden" name="RecordState" value="MjZGOURDODc0NzczQTc5QkY0MjQxQjU0N0MzMERGRjk2MkZFNjNCQjE5NUQzMTk1QUQzOTYyNUM4RUMwODExODg5RjhGNjhDRjZFMjVGQTJFM0ZGNkJBOTY3NUNBRkE0NDE1NTRGMEEyMzk2MDkyRjY4NTQ2REEzMkYxRjdBM0ZEQUMzNTU4ODNCRkM1QUQyQjYyRTdFNDk4RDRFM0VCMDNCRTkzMTdDNzE3NDM3MjZBRDVFREFERUJCNUY1ODBFODc0NjgwM0FFQkIyM0U5RTRGMTQxNENCOUNGOUNCRTU1Rjk0NTg1MjRDRUU2Nzk2MTFGODY5RkE4QTg0NUQ2Nzk3ODZFNzY4QkQyRTYwRkU4MjZDMDRGMDAyMDM5NkNEMzlGMTM1RjU4MjJGOUUyQjY4NjIwODdBQkQ4OEQ5QzcyNzgzQzlGQUIyMzVGNTUzNDBGODlDRjVFMzdCNzI3NEJFQUEzOTBFNjBDMThGRkU4Nzc0M0VFN0I0M0JDQ0FFQzFGMkJBNjhBRUNFQUUyMDE2QTdGMzA0NDU0MDhERkM5NUFEMkI4RURENzExMTRCRTdGQjEyQjA5NUVFMEJDODI0RkVGNjc4MTdFQjlEM0UwMzgwMjY4MUM1QUU1OUY2N0RGOEE1RjQwNDQxOTg3OTMyMTE0MkQ4MEU2MzcyMDk0NDhBODgzRjlENjhFRERENjExMkI2QUQ1OEVDRkY4N0QyNjhBN0UyQzI4QTAxMTQ5NTM5MkUyODEwNUFGRjk5NzJBREE3NUY0NDBDREUwQzNGNzNBNEUzNUQ1MThENzJCODc3QzE0ODU4RTEzNzEyRDAzNjFERjhCOUQ4NzQyQThBMjQxNzhEQzlFRkQ5NkI5Q0M5RDFEMUY4MTg4RDgyRjZBOENCNTRBMkQ0RUI2NjUyMDk2ODVGRjBEQUJGNDg3NkE0QzVDRUU1MTJEOEQ1RTI5QjM5RDZGOTcxMDI5MkE4MEFFNEI2N0U0OUU1OTU1MzAzNjIxNzhENEMyNjI2RURGNjlDMzQ2MERBQ0E1NjM3ODkxMTU1ODIxREUzRTAzN0U4OEJENTIxQzI4NDdDMTdBMzFGMTJGMENEQTg5NzI5RkE3MjUyNUEyNTg0REQyRjZCREE2NjczRjY1Q0NCQUI5QjZENzU3QkQ1NjdBQUIxNzkyRjEyQjBCMjMyNDlBMzE4NTUxQjgwMjZFNDI3NUJDMzBFMkFDMDRDNTFGMENCNEQxRjlBMzJERDA4QUFBRDM5OERCOEJDN0Q0NERDMTBBRkJEMTRDOEQwQUE2RTZCQ0YyMzY4QkFEODk3QkI0N0UyRjVBQUQ3NTU4RTRFQTJCRjNEMkFDRjJEMjBCQzJEOUQ0Q0QzMDlEQjc0M0QzMjJFRTkzRDcyODVGQTZGQ0VENjg5NEIxNDc5MUFFMEE4QkI1QTQ5RDRFN0E3NTYwNjZGOUMwQzlFRjVGNDRBNDMwMkVCNzdCQ0NGQjRCNjAyNDlGQjQ4MDA4MkE5RTFGMEM5MDlBOTUxNkMzNDQzRTlFRDlFNEI3NUM5RDA1OTcwQjE5Q0UzNDNGMzNGMzg5NEMxNTREQzEyRTlCREVBRDhBMTExQ0U0ODkyRDkwMjExOUNCRkEwODEwM0U1MTQ1NDNBRDZDRTAxNDVFQUQ3Q0Y4NUMzN0E5RjE1QzQ3NURFNUZEOTRBRDBEMUI5REEyOTM4RTIwQ0Y3NUFEQTFCNzYzNzBCMzgyMEI2Nzc3QjkwNjAwMUI0ODlEOEZFNDIxRkVGMTQ3N0Y5NkM2QkQ5OTRDQ0Y1MDU5MzkyQTJCNzcwMjI2Qjg0NTUxQjJCRkI1ODMyM0M3M0NDMDk3NjIwQ0NGQzY3REYwRDA5OEE3RjRGMzI4NkU5RDg0RjFGNjc0NTFDN0E5NjRGMTkyOTA4NTZENDk0NjFEMEExQkE0MjhERjc4NUY4NEQ2RUJBQkQyNTcwOUU2QjkyQTgxQjA4QzAyRDBEODgyQTM1MDc0RA==">





<div class="umbraco-forms-page">




        <fieldset class="umbraco-forms-fieldset" id="00000000-0000-0000-0000-000000000000">


            <div class="row">

                    <div class="umbraco-forms-container col col-s-100">

                            <div class=" umbraco-forms-field heading titleanddescription">



                                <div class="umbraco-forms-field-wrapper">

                                    


<div id="11c98a9e-8c99-42fb-ef41-ea7653576959" class="">
            <p><centre></centre></p><p style="font-size: 16px;">We’re here to help. Whether you’re unsure where to start, or need some extra guidance in developing your data protection programme.</p><p></p>
</div>

<span class="field-validation-valid" data-valmsg-for="11c98a9e-8c99-42fb-ef41-ea7653576959" data-valmsg-replace="true"></span>
                                </div>

                            </div>

                    </div>
            </div>

        </fieldset>
        <fieldset class="umbraco-forms-fieldset" id="a9f6a54b-554d-4f65-be9b-e200d77c73f3">


            <div class="row">

                    <div class="umbraco-forms-container col col-s-100">

                            <div class=" umbraco-forms-field firstname shortanswer mandatory alternating">

                                    <label for="f6718dda-0e45-48f9-bf8f-ecfe8a500a9e" class="umbraco-forms-label">
                                        First Name*                                                        <span class="umbraco-forms-indicator">*</span>
                                    </label>


                                <div class="umbraco-forms-field-wrapper">

                                    <input type="text" name="f6718dda-0e45-48f9-bf8f-ecfe8a500a9e" id="f6718dda-0e45-48f9-bf8f-ecfe8a500a9e" class="text" value="" maxlength="500" placeholder="Your first name" data-val="true" data-val-required="Please provide a value for First Name*">





<span class="field-validation-valid" data-valmsg-for="f6718dda-0e45-48f9-bf8f-ecfe8a500a9e" data-valmsg-replace="true"></span>
                                </div>

                            </div>

                    </div>
                    <div class="umbraco-forms-container col col-s-100">

                            <div class=" umbraco-forms-field lastname shortanswer mandatory">

                                    <label for="7796ba9e-0c48-45e8-f480-107ddfe19a11" class="umbraco-forms-label">
                                        Last Name*                                                        <span class="umbraco-forms-indicator">*</span>
                                    </label>


                                <div class="umbraco-forms-field-wrapper">

                                    <input type="text" name="7796ba9e-0c48-45e8-f480-107ddfe19a11" id="7796ba9e-0c48-45e8-f480-107ddfe19a11" class="text" value="" maxlength="500" placeholder="Your last name" data-val="true" data-val-required="Please provide a value for Last Name*">





<span class="field-validation-valid" data-valmsg-for="7796ba9e-0c48-45e8-f480-107ddfe19a11" data-valmsg-replace="true"></span>
                                </div>

                            </div>

                    </div>
            </div>

        </fieldset>
        <fieldset class="umbraco-forms-fieldset" id="b1dcd5ef-9cd5-417a-baf7-18708fda98f5">


            <div class="row">

                    <div class="umbraco-forms-container col col-s-100">

                            <div class=" umbraco-forms-field email shortanswer mandatory alternating">

                                    <label for="c9204231-7756-4e10-cb50-60870fb4bb73" class="umbraco-forms-label">
                                        Email*                                                        <span class="umbraco-forms-indicator">*</span>
                                    </label>


                                <div class="umbraco-forms-field-wrapper">

                                    <input type="text" name="c9204231-7756-4e10-cb50-60870fb4bb73" id="c9204231-7756-4e10-cb50-60870fb4bb73" class="text" value="" maxlength="500" placeholder="Your email address" data-val="true" data-val-required="*" data-val-regex="invalid" data-regex="">





<span class="field-validation-valid" data-valmsg-for="c9204231-7756-4e10-cb50-60870fb4bb73" data-valmsg-replace="true"></span>
                                </div>

                            </div>

                    </div>
                    <div class="umbraco-forms-container col col-s-100">

                            <div class=" umbraco-forms-field phonenumber shortanswer">

                                    <label for="288ce607-5d25-49c0-8644-f9cf1adaa7d7" class="umbraco-forms-label">
                                        Phone Number                                     </label>


                                <div class="umbraco-forms-field-wrapper">

                                    <input type="text" name="288ce607-5d25-49c0-8644-f9cf1adaa7d7" id="288ce607-5d25-49c0-8644-f9cf1adaa7d7" class="text" value="" maxlength="500" placeholder="Optional - Your Phone number">





<span class="field-validation-valid" data-valmsg-for="288ce607-5d25-49c0-8644-f9cf1adaa7d7" data-valmsg-replace="true"></span>
                                </div>

                            </div>

                    </div>
            </div>

        </fieldset>
        <fieldset class="umbraco-forms-fieldset" id="1ae5d53c-b15d-4ae7-c872-ae887995812e">


            <div class="row">

                    <div class="umbraco-forms-container col col-s-100">

                            <div class=" umbraco-forms-field organisation shortanswer mandatory alternating">

                                    <label for="1bc69f36-2e34-44ed-d89f-79b5c9376d3f" class="umbraco-forms-label">
                                        Organisation*                                                        <span class="umbraco-forms-indicator">*</span>
                                    </label>


                                <div class="umbraco-forms-field-wrapper">

                                    <input type="text" name="1bc69f36-2e34-44ed-d89f-79b5c9376d3f" id="1bc69f36-2e34-44ed-d89f-79b5c9376d3f" class="text" value="" maxlength="500" placeholder="Your company / organisation" data-val="true" data-val-required="Please provide a value for Organisation*">





<span class="field-validation-valid" data-valmsg-for="1bc69f36-2e34-44ed-d89f-79b5c9376d3f" data-valmsg-replace="true"></span>
                                </div>

                            </div>
                            <div class=" umbraco-forms-field message longanswer mandatory">

                                    <label for="d69e4ea5-4957-4b27-f572-cae872e2dc75" class="umbraco-forms-label">
                                        Message*                                                        <span class="umbraco-forms-indicator">*</span>
                                    </label>


                                <div class="umbraco-forms-field-wrapper">

                                    
<textarea class="" name="d69e4ea5-4957-4b27-f572-cae872e2dc75" id="d69e4ea5-4957-4b27-f572-cae872e2dc75" rows="6" data-val="true" data-val-required="Please provide a value for Message*"></textarea>



<span class="field-validation-valid" data-valmsg-for="d69e4ea5-4957-4b27-f572-cae872e2dc75" data-valmsg-replace="true"></span>
                                </div>

                            </div>
                            <div class=" umbraco-forms-field fortprivacyprocesses titleanddescription alternating">



                                <div class="umbraco-forms-field-wrapper">

                                    


<div id="a4f512f1-a328-48fd-dd0e-8fb89135b700" class="">
            <p>Fort Privacy processes your personal data in order to respond to your query and provide you with information about our products and services. Please see our <a href="https://www.fortprivacy.ie/data-protection-statement/" target="blank" title="Read Data Protection Statement">Data Protection Statement</a> for further information.</p>
</div>

<span class="field-validation-valid" data-valmsg-for="a4f512f1-a328-48fd-dd0e-8fb89135b700" data-valmsg-replace="true"></span>
                                </div>

                            </div>

                    </div>
            </div>

        </fieldset>

    <div style="display: none">
        <input type="text" name="69ef6c9820ef481c82791950f4578001">
    </div>


    <div class="umbraco-forms-navigation row">

        <div class="col-100">
                <input type="submit" class="button button--block" value="Send" name="__next">
        </div>
    </div>
</div>

<input name="ufprt" type="hidden" value="797FF346586D79933A08D5091F26CAFD4EE68E09D88F24965E99F758AB1972FA9A448C58DA85D454FA5D637BACC06123477CFB2495A71A8D349CA3262881F2BAD158D51AF82BF41F69AFA00C94090A992BF57B693475AA74960D93CEE073686CAB2A4CB6BA81F7FB6546B5E3FFF364CA9952856EFA0AF18D1ADDDA977A9DE1331DABD7EBE2B650D1B628A891BB297DF7"></form>

        



<script type="text/javascript">
    if (typeof umbracoFormsCollection === 'undefined') var umbracoFormsCollection = [];
    umbracoFormsCollection.push('%7B%22formId%22:%2269ef6c9820ef481c82791950f4578001%22,%22fieldSetConditions%22:%7B%7D,%22fieldConditions%22:%7B%7D,%22recordValues%22:%7B%7D%7D');
</script>


<script src="./ort-privacy-audit_files/umbracoforms.js.download" defer="defer" type="text/javascript"></script><link rel="stylesheet" href="./ort-privacy-audit_files/style.css">    </div>		</div>
	</div>
	

</section>


    