@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
	Layout = "master.cshtml";
}

<!-- <section class="hero hero--70   hero--v-center" > -->

<section class="hero hero--v-center in-view">

    <div class="hero__inner">
        <div class="container">
            <div class="row row--center">
                <div class="hero__inner light-color col- col-m-100">

                        <div class="pre-head">Fort Privacy</div>
                                                <h1>DATA PROTECTION STATEMENT</h1>
                                            <div class="hero__text text-big">
                            <p style="color: white;">Last Updated: 20 September 2021</p>
                        </div>
                    
                </div>
            </div>
        </div>
    </div>
    
    
            <div class="hero__background hide--m lazyloaded" data-bgset="
                    /media/kp4bh5mi/data-protection-statement.jpg?anchor=center&amp;mode=crop&amp;quality=80&amp;width=2560&amp;height=1008&amp;upscale=false&amp;rnd=132761967032200000 2560w,
        		    /media/kp4bh5mi/data-protection-statement.jpg?anchor=center&amp;mode=crop&amp;quality=80&amp;width=1920&amp;height=756&amp;upscale=false&amp;rnd=132761967032200000 1920w,
        		    /media/kp4bh5mi/data-protection-statement.jpg?anchor=center&amp;mode=crop&amp;quality=80&amp;width=1600&amp;height=630&amp;upscale=false&amp;rnd=132761967032200000 1600w" style="background-image: url(&quot;https://www.fortprivacy.ie/media/kp4bh5mi/data-protection-statement.jpg?anchor=center&amp;mode=crop&amp;quality=80&amp;width=2560&amp;height=1008&amp;upscale=false&amp;rnd=132761967032200000&quot;);">
            <picture style="display: none;"><source data-srcset=" /media/kp4bh5mi/data-protection-statement.jpg?anchor=center&amp;mode=crop&amp;quality=80&amp;width=2560&amp;height=1008&amp;upscale=false&amp;rnd=132761967032200000 2560w, /media/kp4bh5mi/data-protection-statement.jpg?anchor=center&amp;mode=crop&amp;quality=80&amp;width=1920&amp;height=756&amp;upscale=false&amp;rnd=132761967032200000 1920w, /media/kp4bh5mi/data-protection-statement.jpg?anchor=center&amp;mode=crop&amp;quality=80&amp;width=1600&amp;height=630&amp;upscale=false&amp;rnd=132761967032200000 1600w" sizes="1447px" srcset=" /media/kp4bh5mi/data-protection-statement.jpg?anchor=center&amp;mode=crop&amp;quality=80&amp;width=2560&amp;height=1008&amp;upscale=false&amp;rnd=132761967032200000 2560w, /media/kp4bh5mi/data-protection-statement.jpg?anchor=center&amp;mode=crop&amp;quality=80&amp;width=1920&amp;height=756&amp;upscale=false&amp;rnd=132761967032200000 1920w, /media/kp4bh5mi/data-protection-statement.jpg?anchor=center&amp;mode=crop&amp;quality=80&amp;width=1600&amp;height=630&amp;upscale=false&amp;rnd=132761967032200000 1600w"><img alt="" class="lazyautosizes lazyloaded ls-is-cached" data-sizes="auto" data-parent-fit="cover" sizes="1447px"></picture></div>
            <div class="hero__background show--m lazyload" data-bgset="
        		    /media/kp4bh5mi/data-protection-statement.jpg?anchor=center&amp;mode=crop&amp;quality=80&amp;width=1800&amp;height=2240&amp;upscale=false&amp;rnd=132761967032200000 1800w,
        		    /media/kp4bh5mi/data-protection-statement.jpg?anchor=center&amp;mode=crop&amp;quality=80&amp;width=1440&amp;height=1792&amp;upscale=false&amp;rnd=132761967032200000 1440w,
        		    /media/kp4bh5mi/data-protection-statement.jpg?anchor=center&amp;mode=crop&amp;quality=80&amp;width=1080&amp;height=1344&amp;upscale=false&amp;rnd=132761967032200000 1080w,
        		    /media/kp4bh5mi/data-protection-statement.jpg?anchor=center&amp;mode=crop&amp;quality=80&amp;width=750&amp;height=934&amp;upscale=false&amp;rnd=132761967032200000 750w" data-sizes="auto">
            </div>
    
    
        <div class="overlay " style="opacity:0.60"></div>


</section>


    <div class="block grid white-bg in-view">
        <div class="container ">
            <div class="row  row--left row--v-top  ">

                    <div class="col col-s-100">

<div class="grid-item grid-item--header ">
                <h2>Read our Full Data Protection Statement</h2>
        </div>                    </div>
            </div>
        </div> 
    </div>


    <div class="block grid gray-bg    ">
        <div class="container ">
            <div class="row  row--left row--v-top  ">

                    <div class="col col-s-100">


<div class="grid-item grid-item--acc ">
            <div class="acc">
                <button class="acc__head">
                    Full Data Protection Statement
                    <i class="fa fa-chevron-down" aria-hidden="true"></i>
                </button>
                <div class="acc__body">
                    <h2>1. ABOUT US</h2>
<p>We are <strong>Fort Privacy Partners Limited </strong>referred to in this Data Protection Statement as “<strong>Fort Privacy</strong>”“<strong>we</strong>“and “<strong>us</strong>”.You can find us at:</p>
<p>Fort Privacy Partners Limited<br>Glandore Business Centre,<br>City Quarter, <br>Lapps Quay,<br>Cork,<br>Ireland</p>
<p>Email:&nbsp;&nbsp;&nbsp; <a href="mailto:info@fortprivacy.ie">info@fortprivacy.ie</a></p>
<p>Our website is <a href="http://www.fortprivacy.ie">www.fortprivacy.ie</a></p>
<p>Fort Privacy is a global data protection service company based in Ireland. We specialise in enabling organisations comply with the General Data Protection Regulation (“<strong>GDPR</strong>”). We are a business-centric data protection service company, focused on developing various services and products to assist in compliance with the GDPR and applicable domestic data protection legislation.</p>
<p>In order to provide our services, we need to process certain Personal Data. We are committed to protecting the rights of individuals in accordance with data protection legislation including the GDPR.</p>
<h2>2. CONTACT DETAILS</h2>
<p>If you have any questions about this Data Protection Statement or the way in which your Personal Data is being used by us, please contact:</p>
<p>Fort Privacy<br>Glandore Business Centre,<br>City Quarter, Lapps Quay,<br>Cork City, Co. Cork,<br>Ireland</p>
<p>Email:&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; dataprotection@fortprivacy.ie</p>
<h2>3. THE PURPOSE OF THIS DATA PROTECTION STATEMENT</h2>
<p>This Data Protection Statement applies to Personal Data.&nbsp; The definition of Personal Data is as follows:</p>
<p>“<strong>Personal Data</strong>” means any information relating to an identified or identifiable natural person (‘<strong>data subject</strong>’); an identifiable natural person is one who can be identified, directly or indirectly, in particular by reference to an identifier such as a name, an identification number, location data, an online identifier or to one or more factors specific to the physical, physiological, genetic, mental, economic, cultural or social identity of that natural person.</p>
<p>This Data Protection Statement describes our approach to data protection and sets out the basis on which any Personal Data e collect from you, or that you provide to us, will be used by us where we are controllers of that Personal Data for the purposes of the GDPR.&nbsp; Please read this Data Protection Statement carefully to understand our practices regarding the Personal Data we collect,as controllers under the GDPR.</p>
<h2>4. WHO THIS DATA PROTECTION STATEMENT APPLIES TO</h2>
<p>This Data Protection Statement provides specific information relating to the following individuals whose Personal Data we process:</p>
<ul>
<li>business contact data including clients, suppliers, investorsand business prospects “<strong>Business Contacts</strong>”;</li>
<li>prospective employees/those applying for jobs with us“<strong>Candidates</strong>”; and</li>
<li>users/guests of our Website “<strong>Website Users</strong>”.</li>
</ul>
<p>Personal Data of employees of Fort Privacy is dealt with in a separate internal Data Protection Notice.</p>
<h2>5. SOURCES OF PERSONAL DATA</h2>
<p><strong>BUSINESS CONTACT PERSONAL DATA</strong></p>
<p>We collect Business Contact Personal Data from our business contacts including – clients, suppliers,partners and business prospects.</p>
<p>We source Business Contact Personal Data in order to serve the business relationship. We will only ever source Personal Data that is necessary and in a way that would be generally expected.</p>
<p>We receive Personal Data about Business Contacts from a variety of sources, as follows:</p>
<ul>
<li>the Personal Data is often provided by the Business Contact as part of the business relationship;</li>
<li>the Personal Data may be collected from public sources like LinkedIn;</li>
<li>the Personal Data may be collected indirectly from another person within the company of the Business Contact;</li>
<li>the Personal Data may be collected through our website;</li>
<li>the Personal Data may be collected at an event or webinar;</li>
<li>the Personal Data may be collected indirectly from a website or from a third party.</li>
</ul>
<p><strong>&nbsp;</strong><strong>WEB DATA</strong></p>
<p>We may collect Website User Personal Data from all visitors to our website in order to improve our services and develop the Website.</p>
<p>For more details please refer to our Cookie Notice.</p>
<p><strong>CANDIDATE PERSONAL DATA</strong></p>
<p>We will only ever source Personal Data in a way that would be generally expected.</p>
<p>We receive Personal Data relating to Candidates from a variety of sources. The primary source is from Candidates directly. Examples of the sources of Personal Data of Candidates are as follows:</p>
<ul>
<li>the Candidate may send a speculative CV to us with the intention of registering with us to be informed of potential job vacancies;</li>
<li>the Candidate may apply directly to a position advertised on our website;</li>
<li>the Candidate may be referred to us from an agency or by an individual; or</li>
<li>the Candidate may apply to a position advertised on a third-party jobs’ website.</li>
</ul>
<h2>6. CATEGORIES OF PERSONAL DATA</h2>
<p>We process the following categories of Personal Data.&nbsp; For each category we have included an example of the type of Personal Data that may be part of that category:</p>
<table border="0" width="604">
<tbody>
<tr>
<td width="245">
<p><strong>Personal Data Category</strong></p>
</td>
<td width="359">
<p><strong>Description</strong></p>
</td>
</tr>
<tr>
<td width="245">
<p><strong>Contact Data</strong></p>
</td>
<td width="359">
<p>may include a person’s name, address, phone number, profession, company and department.</p>
</td>
</tr>
<tr>
<td width="245">
<p><strong>Identification Data</strong></p>
</td>
<td width="359">
<p>may include a person’s name, identification card such as passport/drivers license or identification number and social media identification (e.g. skype/MS Teams/zoom name).</p>
</td>
</tr>
<tr>
<td width="245">
<p><strong>Communication Data</strong></p>
<p><strong>&nbsp;</strong></p>
</td>
<td width="359">
<p>may include phone calls, texts, email correspondence, chat history (e.g. MS Teams/Zoom) and hard copy correspondence.</p>
</td>
</tr>
<tr>
<td width="245">
<p><strong>Marketing Data</strong></p>
</td>
<td width="359">
<p>may include Identification Data and Contact Data and any preferences in receiving marketing from us and your communication preferences.</p>
</td>
</tr>
<tr>
<td width="245">
<p><strong>Recruitment Data</strong></p>
<p><strong>&nbsp;</strong></p>
</td>
<td width="359">
<p>may include recruitment related data such as Identification &amp;Contact Data, Communication Data,CV and job application data.</p>
<p>When processing CV data, we may process certain Personal Data including the following: employment history, skills/ experience, languages, educational history, qualifications, membership of professional associations, contact details of employer references/character references, licenses held, interests and hobbies, languages, locations, nationality, passport, eligibility to work in certain jurisdictions, salary expectations,&nbsp; interview/screening answers and notes.</p>
</td>
</tr>
<tr>
<td width="245">
<p><strong>Special Category Recruitment Data</strong></p>
</td>
<td width="359">
<p>If we interact with you for the purposes of a job with us, we may collect Recruitment Data that is of a special category per the GDPR definition: this can include diversity data such as gender, religion, racial or ethnic origin, sexual orientation, trade union membership or data relating to health.</p>
</td>
</tr>
<tr>
<td width="245">
<p><strong>Financial Data</strong></p>
</td>
<td width="359">
<p>may include Identification &amp; Contact Data and payment related information or bank account details and financial data received as part of the services that we provide.</p>
</td>
</tr>
<tr>
<td width="245">
<p><strong>Web Data</strong></p>
</td>
<td width="359">
<p>may include Personal Data provided on any forms on our website and, to the extent that it includes Personal Data, information on the type of device you’re using, its IP address, operating system, referral source, length of visit, page views and website navigation paths, as well as information about the timing, frequency and pattern of your service use.</p>
</td>
</tr>
</tbody>
</table>
<p><strong>&nbsp;</strong></p>
<h2>7. OUR LEGAL BASIS FOR PROCESSING PERSONAL DATA</h2>
<p>We process all Personal Data lawfully and in accordance with the requirements of the law. The GDPR sets out the legal grounds for processing Personal Data.</p>
<p>When weprocesses Personal Data it is generally on one of the following legal basis:</p>
<p><strong><u>C</u></strong><strong><u>ONTRACT</u></strong></p>
<p>We will process Personal Data where necessary to perform our obligations relating to or in accordance with any contract that we may have with you or to take steps at your request prior to entering into that contract e.g.our Client Services Agreement.</p>
<p><strong><u>CONSENT</u></strong></p>
<p>For certain processing activities we may rely on your consent.</p>
<p>Where we are unable to collect consent for a particular processing activity, we will only process the Personal Data if we have another lawful basis for doing so.</p>
<p>You can withdraw consent provided by you at any time by contacting us at <a href="mailto:info@fortprivacy.ie">info@fortprivacy.ie</a></p>
<p><strong><u>LEGITIMATE INTEREST</u></strong></p>
<p>At times we will need to process your Personal Data to pursue our legitimate business interests, for example for administrative purposes, to collect debts owing to us, to provide information to you, to expand our business opportunities, to operate, evaluate, maintain, develop and improve our websites and services or to maintain their security and protect intellectual property rights.&nbsp;</p>
<p>We will not process your Personal Data on a legitimate interest basis where the impact of the processing on your interests or fundamental rights and freedoms outweigh our legitimate interests.</p>
<p>You may object to any processing we undertake on this basis. If you do not want us to process your Personal Data on the basis of our legitimate interests, contact us at <a href="mailto:info@fortprivacy.ie">info@fortprivacy.ie</a> and we will review our processing activities.</p>
<p><strong><u>LEGAL OBLIGATION</u></strong></p>
<p>If we have a legal obligation to process Personal Data, such as the payment of taxes, we will process Personal Data on this legal ground.</p>
<h2>8. OUR PROCESSING ACTIVITIES</h2>
<p>We use your Personal Data to provide you with our services and to assist us in the operation of our business.&nbsp; Under data protection law, we must ensure that the purpose of processing is clear.</p>
<p>We have set out below the general purpose of processing, the categories of Personal Data processed and the related lawful basis for processing.</p>
<table border="0">
<tbody>
<tr>
<td width="316">
<p><strong>Purpose of Processing</strong></p>
</td>
<td width="152">
<p><strong>Categories of Personal Data</strong></p>
</td>
<td>
<p><strong>Lawful Basis </strong></p>
</td>
</tr>
<tr>
<td width="316">
<p><strong><u>Service Delivery activities</u></strong></p>
<ul>
<li>to contact you about payments to and from you</li>
<li>for customer relationship management and support</li>
<li>to send notifications about changes/updates to our products and services</li>
<li>to fulfil our legal and contractual obligations</li>
</ul>
</td>
<td width="152">
<ul>
<li>Identification Data</li>
<li>Contact Data</li>
<li>Communications Data</li>
</ul>
</td>
<td>
<ul>
<li>Contract</li>
<li>Legitimate Interest in managing our customer relationships</li>
</ul>
</td>
</tr>
<tr>
<td width="316">
<p><strong><u>Marketing &amp; Promotion activities</u></strong></p>
<ul>
<li>to respond to any requests from you</li>
<li>to send newsletters and other information that maybe of interest</li>
<li>to contact you as part of our business relationship or for lead generation and general administration</li>
<li>to inform you of events or webinars that might be of interest</li>
<li>to deliver and organise our conferences, seminars, events&nbsp;</li>
</ul>
</td>
<td width="152">
<ul>
<li>Marketing Data</li>
<li>Contact Data</li>
<li>Web Data</li>
</ul>
</td>
<td>
<ul>
<li>Consent</li>
<li>Legitimate Interest in promoting our business</li>
</ul>
<p>&nbsp;</p>
</td>
</tr>
<tr>
<td width="316">
<p><strong><u>Recruitment Activities</u></strong></p>
<ul>
<li>as part of agency shortlisting</li>
<li>to select the right Candidate</li>
<li>to interview the Candidate</li>
<li>to hire and seek to onboard the Candidate (pre contract)</li>
<li>to manage our database of prospective Candidates</li>
</ul>
</td>
<td width="152">
<ul>
<li>Identification Data</li>
<li>Contact Data</li>
<li>Communication Data</li>
<li>Recruitment Data</li>
<li>Web Data</li>
<li>Marketing Data</li>
<li>Special Category Recruitment Data</li>
</ul>
</td>
<td>
<ul>
<li>Consent</li>
<li>Legitimate Interest in recruiting for our business</li>
<li>Contract</li>
<li>Legal Obligation</li>
</ul>
</td>
</tr>
<tr>
<td width="316">
<p><strong><u>Website Delivery </u></strong></p>
<ul>
<li>to respond to web forms completed by you</li>
<li>to promote our products and services</li>
<li>to improve and administer the Website; and</li>
<li>for internal operations, including support, troubleshooting, data analysis, testing, research, statistical and survey purposes</li>
<li>to ensure the safety and security of our website and our services.</li>
</ul>
</td>
<td width="152">
<ul>
<li>Web Data</li>
</ul>
</td>
<td>
<ul>
<li>Consent</li>
<li>Legitimate Interest managing our website</li>
</ul>
<p>&nbsp;</p>
</td>
</tr>
<tr>
<td width="316">
<p><strong><u>Administration of Customer Relationship</u></strong></p>
<ul>
<li>to manage/respond to a complaint/appeal</li>
<li>to notify you of updates to this Data Protection Statement</li>
</ul>
<p><strong>&nbsp;</strong></p>
</td>
<td width="152">
<ul>
<li>Identification Data</li>
<li>Contact Data</li>
<li>Communication Data</li>
<li>Financial Data</li>
</ul>
<p>&nbsp;</p>
</td>
<td>
<ul>
<li>Contract</li>
<li>Legitimate Interest in managing our customer relationships</li>
</ul>
</td>
</tr>
<tr>
<td width="316">
<p><strong><u>Managing payments and administration of&nbsp; contract</u></strong></p>
<ul>
<li>to process payments to and from our business</li>
<li>to manage and administer our contracts</li>
</ul>
</td>
<td width="152">
<ul>
<li>Identification Data</li>
<li>Contact Data</li>
<li>Communication Data</li>
<li>Financial Data</li>
</ul>
</td>
<td>
<ul>
<li>Contract</li>
<li>Legitimate Interest in securing payments</li>
</ul>
</td>
</tr>
<tr>
<td width="316">
<p><strong><u>Management of Corporate Affairs</u></strong></p>
<ul>
<li>to take minutes at board meetings</li>
<li>to contact shareholders/investors</li>
<li>to enterinto partnerships and other commercial relations</li>
<li>to undertake appropriate due diligence</li>
</ul>
</td>
<td width="152">
<ul>
<li>Identification Data</li>
<li>Contact Data</li>
<li>Communication Data</li>
<li>Financial Data</li>
</ul>
</td>
<td>
<ul>
<li>Contract</li>
<li>Legitimate Interestin the management of our business</li>
<li>Legal Obligation</li>
</ul>
</td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>
<h2>9. DISCLOSURE OF PERSONAL DATA</h2>
<p>In certain circumstances, we may disclose Personal Data to third parties as follows:</p>
<ul>
<li>to business partners and subcontractors for the performance of any contract relating to our services, including email, Skype, Communication Platforms, Customer Relationship Management system, web developers, payment processors, data aggregators, hosting service providers, external consultants, auditors, IT consultants and lawyers;</li>
<li>to any recruitment agency who is helping us to recruit Candidates;</li>
<li>to analytics and search engine providers that assist us in the improvement and optimisation of the Website;</li>
<li>to the HSE (or any health authority) to facilitate any pandemic contact tracing activity;</li>
<li>if we or substantially all of our company is merged with another company or acquired by a third party, in which case Personal Data held by us will be one of the transferred assets;</li>
<li>if we are under a duty to disclose or share Personal Data in order to comply with any legal obligation (including tax, audit or other authorities), or in order to enforce or apply any contracts that we have;</li>
<li>to protect our rights, property, or safety, or that of our Candidates or Business Contacts or others. This may include exchanging Personal Data with other companies and organisations for the purpose of fraud protection.When we engage another organisation to perform services for us, we may provide them with information including Personal Data, in connection with the performance of those functions. We do not allow third parties to use Personal Data except for the purpose of providing these services.</li>
</ul>
<h2>10. SECURITY MEASURES</h2>
<p>We will take all steps reasonably necessary to ensure that all Personal Data is treated securely in accordance with this Data Protection Statement and the relevant law, including the GDPR.</p>
<p>In particular, we have put in place appropriate technical and organisational procedures to safeguard and secure the Personal Data we process.</p>
<p>We monitor for and do everything we can to prevent security breaches of the Personal Data that we process.</p>
<p>Once we have received your Personal Data, we will use strict procedures and security features for the purpose of preventing unauthorised access and ensuring that only those who need to have access to your Personal Data can access it.</p>
<p>We also use secure connections to protect Personal Data during its transmission. Where you have been given (or where you have chosen) a password which enables you to access services, you are responsible for keeping this password confidential.&nbsp; Please do not share your password with anyone.</p>
<p>If you think that there has been any loss or unauthorised access to Personal Data of any individual, please let us know immediately.</p>
<h2>11. TRANSFERS OUTSIDE THE EEA</h2>
<p>In order to provide our products and services we may need to transfer Personal Data outside the European Economic Area (EEA). We ensure that any transfer of Personal Data outside the EEA is undertaken using legally compliant transfer mechanisms and in accordance with the GDPR.</p>
<p>If we transfer Personal Data outside of the EEA, we generally rely on the Standard Contractual Clauses under Article 46.2 of the GDPR adopted by the EU Commission. We may also rely on some of the other legally compliant transfer mechanisms provided under the GDPR.</p>
<h2>12. COOKIES</h2>
<p>Cookies are small text files placed on your computer or mobile device by websites that you visit, and they help us improve the products and services that we offer you. They are used in order to make websites work, or work more efficiently, as well as to provide information to the owners of the site. Cookies may allow a website to remember your activity over a period of time. Cookies are optional and you do not have to accept them.&nbsp;</p>
<p>Further information on the cookies we use on the website and the purpose behind their respective uses are set out in our <a href="/cookie-notice/" title="Cookie Notice">Cookie Notice</a>.</p>
<h2>13. THIRD PARTY WEBSITES</h2>
<p>Our Website may contain links to and from third party websites. If you follow a link to any of these websites, please note that these websites have their own privacy settings, and these are not endorsed by us.&nbsp; We do not accept any responsibility or liability for these third-party websites. Please undertake the appropriate due diligence before submitting any Personal Data to these websites.</p>
<h2>14. RETENTION</h2>
<p>In some circumstances it is not possible for us to specify in advance the period for which we will retain your Personal Data. In such cases we will determine the appropriate retention period based on balancing your rights against our legitimate business interests.&nbsp; We may also retain certain Personal Data beyond the periods specified herein in some circumstances such as where required for the purposes of legal claims.</p>
<p>Further information about our retention practices are set out below:</p>
<table border="0" width="538">
<tbody>
<tr>
<td width="179">
<p><strong>Purpose of Processing</strong></p>
</td>
<td width="359">
<p><strong>Retention Period </strong></p>
</td>
</tr>
<tr>
<td width="179">
<p><strong>Service Delivery Activities</strong></p>
<p><strong>&nbsp;</strong></p>
<p><strong>&nbsp;</strong></p>
</td>
<td width="359">
<p>36 months after completion of service delivery activities in the case where there is no further meaningful engagement.</p>
</td>
</tr>
<tr>
<td width="179">
<p><strong>Marketing and Promotion Activities</strong></p>
</td>
<td width="359">
<p>12 months in the case where no meaningful engagement or earlier in the case you unsubscribe.</p>
</td>
</tr>
<tr>
<td width="179">
<p><strong>Recruitment Activity</strong></p>
</td>
<td width="359">
<p>18 months for Candidates who are unsuccessful.</p>
</td>
</tr>
<tr>
<td width="179">
<p><strong>Website Delivery </strong></p>
</td>
<td width="359">
<p>12 months</p>
</td>
</tr>
<tr>
<td width="179">
<p><strong>Managing Payments and administration of the contract</strong></p>
</td>
<td width="359">
<p>7 years</p>
</td>
</tr>
<tr>
<td width="179">
<p><strong>Management of Corporate Affairs</strong></p>
</td>
<td width="359">
<p>7 years unless required toretain indefinitely</p>
</td>
</tr>
</tbody>
</table>
<h2>15. YOUR RIGHTS</h2>
<p>You have various rights relating to how your Personal Data is used.</p>
<p><strong><u>Right of access to the Personal Data we hold on you</u></strong></p>
<p>You have the right to ask for all the Personal Data we have&nbsp;about you. When we receive a request from you in writing, we must give you access to everything we’ve recorded about you as well as details of the processing, the categories of Personal Data concerned and the recipients of the Personal Data.</p>
<p>We will provide the first copy of your Personal Data free of charge, but we may charge you a reasonable fee for any additional copies.</p>
<p>We cannot give you access to a copy of your Personal Data in some limited cases including where this might adversely affect the rights and freedoms of others.</p>
<p><strong><u>Right of rectification of Personal Data </u></strong></p>
<p>You should let us know if there is something inaccurate in your Personal Data.</p>
<p>We may not always be able to change or remove that Personal Data, but we will correct factual inaccuracies and may include your comments in the record to show that you disagree with it.&nbsp;&nbsp;</p>
<p><strong><u>Right of erasure of Personal Data (right to be forgotten)</u></strong></p>
<p>In some circumstances you can ask for your Personal Data to be deleted, for example, where:&nbsp;</p>
<ul>
<li>your Personal Data is no longer needed for the reason that it was collected in the first place</li>
<li>you have removed your consent for us to use your Personal Data (where there is no other lawful basis for us to use it)</li>
<li>there is no lawful basis for the use of your Personal Data</li>
<li>deleting the Personal Data is a legal requirement</li>
</ul>
<p>Where your Personal Data has been shared with others, we will do what we can to make sure those using your Personal Data comply with your request for erasure.</p>
<p>Please note that we can’t delete your Personal Data where:</p>
<ul>
<li>we are required to have it by law</li>
<li>it is used for freedom of expression&nbsp;</li>
<li>it is&nbsp;used for public health purposes</li>
<li>it is used for scientific or historical research or statistical purposes where deleting the Personal Data would make it difficult or impossible to achieve the objectives of the processing</li>
<li>it is necessary for legal claims.&nbsp;</li>
</ul>
<p><strong><u>Right to restrict what we use your Personal Data for</u></strong></p>
<p>You have the right to ask us to restrict what we use your Personal Data for where:</p>
<ul>
<li>you have identified inaccurate Personal Data, and have told us of it</li>
<li>where we have no legal reason to use the Personal Data, but you want us to restrict what we use it for rather than erase the Personal Data altogether</li>
</ul>
<p>When Personal Data is restricted it can’t be used other than to securely store the Personal Data and with your consent to handle legal claims and protect others, or where it’s for important public interests.</p>
<p><strong><u>Right to have your Personal Data moved to another provider (dataportability)</u></strong></p>
<p>You have the right to ask for your Personal Data to be given back to you or another service provider of your choice in a commonly used format. This is called data portability.</p>
<p>This right only applies if we’re using your Personal Data with consent and if decisions were made by a computer and not a human being.&nbsp;It does not apply where it would adversely affect the rights and freedoms of others.</p>
<p><strong><u>Right to object</u></strong></p>
<p>You have the right to object to processing of your Personal Data which is based on public interest or legitimate interest processing.&nbsp; We will no longer process the Personal Data unless we can demonstrate a compelling ground for the processing.</p>
<p><strong><u>Right not to be subject to automated decision-making</u></strong></p>
<p>You have the right not to be subject to a decision based solely on automated processing.&nbsp; This right shall not apply where the processing is necessary for a contract with you, or the processing is undertaken with your explicit consent or the processing is authorised by law.</p>
<p><strong><u>You can make a complaint</u></strong></p>
<p>You have the right to lodge a complaint with the local supervisory authority for data protection in the EU member state where you usually reside, where you work or where you think an infringement of data protection law took place.</p>
<h2>16. AMENDMENTS TO THIS DATA PROTECTION STATEMENT</h2>
<p>We will post any changes on the Website and when doing so will change the effective date at the top of this Data Protection Statement.&nbsp; Please make sure to check the date when you use our services to see if there have been any changes since you last used those services.</p>
<p>In some cases, we may provide you with additional notice of changes to this Data Protection Statement, such as via email. We will always provide you with any notice in advance of the changes taking effect where we consider the changes to be material.</p>
<p>Thank you for reading our Data Protection Statement.&nbsp; Please <a href="mailto:dataprotection@fortprivacy.ie?subject=Question%20about%20your%20Privacy%20Notice">contact us</a> if you have any questions.&nbsp; If we are unable to resolve your concerns, you have the right to contact the supervisory authority in the country where you live or work, or where you consider that the data protection rules have been breached</p>
<p>Contact Details for the relevant Supervisory Authorities are set out below for your information:</p>
<table border="0">
<tbody>
<tr>
<td width="139">
<p><strong>Country</strong></p>
</td>
<td width="209">
<p><strong>Supervisory Authority</strong></p>
</td>
<td width="253">
<p><strong>Contact Details</strong></p>
</td>
</tr>
<tr>
<td width="139">
<p>Ireland</p>
</td>
<td width="209">
<p>Data Protection Commission</p>
</td>
<td width="253">
<p><strong>Online Form</strong>: <a href="https://forms.dataprotection.ie/contact">https://forms.dataprotection.ie/contact</a></p>
<p><strong>Address</strong>:&nbsp; 21 Fitzwilliam Square South, Dublin 2, D02 RD28, Ireland</p>
<p><strong>Tel:</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; +353 578 684 800 or</p>
<p>+353 761 104 800</p>
<p>&nbsp;</p>
</td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>
                </div>
            </div>
</div>

                    </div>
            </div>
        </div> 
    </div>


    <div class="block grid white-bg    ">
        <div class="container ">
            <div class="row  row--left row--v-top  ">

                    <div class="col col-s-100">

<div class="grid-item grid-item--header ">
                <h2>Or Navigate by Section</h2>
        </div>                    </div>
            </div>
        </div> 
    </div>


    <div class="block grid gray-bg    ">
        <div class="container ">
            <div class="row  row--left row--v-top  ">

                    <div class="col col-s-100">


<div class="grid-item grid-item--acc ">
            <div class="acc">
                <button class="acc__head">
                    1.	ABOUT US
                    <i class="fa fa-chevron-down" aria-hidden="true"></i>
                </button>
                <div class="acc__body">
                    <p>We are <strong>Fort Privacy Partners Limited </strong>referred to in this Data Protection Statement as “<strong>Fort Privacy</strong>”“<strong>we</strong>“and “<strong>us</strong>”.You can find us at:</p>
<p>Fort Privacy Partners Limited<br>Glandore Business Centre,<br>City Quarter, <br>Lapps Quay,<br>Cork,<br>Ireland</p>
<p>Email:&nbsp;&nbsp;&nbsp; <a href="mailto:info@fortprivacy.ie">info@fortprivacy.ie</a></p>
<p>Our website is <a href="http://www.fortprivacy.ie">www.fortprivacy.ie</a></p>
<p>Fort Privacy is a global data protection service company based in Ireland. We specialise in enabling organisations comply with the General Data Protection Regulation (“<strong>GDPR</strong>”). We are a business-centric data protection service company, focused on developing various services and products to assist in compliance with the GDPR and applicable domestic data protection legislation.</p>
<p>In order to provide our services, we need to process certain Personal Data. We are committed to protecting the rights of individuals in accordance with data protection legislation including the GDPR.</p>
                </div>
            </div>
            <div class="acc">
                <button class="acc__head">
                    2.	CONTACT DETAILS
                    <i class="fa fa-chevron-down" aria-hidden="true"></i>
                </button>
                <div class="acc__body">
                    <p>If you have any questions about this Data Protection Statement or the way in which your Personal Data is being used by us, please contact:</p>
<p>Fort Privacy<br>Glandore Business Centre,<br>City Quarter, Lapps Quay,<br>Cork City, Co. Cork,<br>Ireland</p>
<p>Email:&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; dataprotection@fortprivacy.ie</p>
                </div>
            </div>
            <div class="acc">
                <button class="acc__head">
                    3.	THE PURPOSE OF THIS DATA PROTECTION STATEMENT
                    <i class="fa fa-chevron-down" aria-hidden="true"></i>
                </button>
                <div class="acc__body">
                    <p>This Data Protection Statement applies to Personal Data.&nbsp; The definition of Personal Data is as follows:</p>
<p>“<strong>Personal Data</strong>” means any information relating to an identified or identifiable natural person (‘<strong>data subject</strong>’); an identifiable natural person is one who can be identified, directly or indirectly, in particular by reference to an identifier such as a name, an identification number, location data, an online identifier or to one or more factors specific to the physical, physiological, genetic, mental, economic, cultural or social identity of that natural person.</p>
<p>This Data Protection Statement describes our approach to data protection and sets out the basis on which any Personal Data e collect from you, or that you provide to us, will be used by us where we are controllers of that Personal Data for the purposes of the GDPR.&nbsp; Please read this Data Protection Statement carefully to understand our practices regarding the Personal Data we collect,as controllers under the GDPR.</p>
                </div>
            </div>
            <div class="acc">
                <button class="acc__head">
                    4.	WHO THIS DATA PROTECTION STATEMENT APPLIES TO
                    <i class="fa fa-chevron-down" aria-hidden="true"></i>
                </button>
                <div class="acc__body">
                    <p>This Data Protection Statement provides specific information relating to the following individuals whose Personal Data we process:</p>
<ul>
<li>business contact data including clients, suppliers, investorsand business prospects “<strong>Business Contacts</strong>”;</li>
<li>prospective employees/those applying for jobs with us“<strong>Candidates</strong>”; and</li>
<li>users/guests of our Website “<strong>Website Users</strong>”.</li>
</ul>
<p>Personal Data of employees of Fort Privacy is dealt with in a separate internal Data Protection Notice.</p>
                </div>
            </div>
            <div class="acc">
                <button class="acc__head">
                    5.	SOURCES OF PERSONAL DATA
                    <i class="fa fa-chevron-down" aria-hidden="true"></i>
                </button>
                <div class="acc__body">
                    <p><strong>BUSINESS CONTACT PERSONAL DATA</strong></p>
<p>We collect Business Contact Personal Data from our business contacts including – clients, suppliers,partners and business prospects.</p>
<p>We source Business Contact Personal Data in order to serve the business relationship. We will only ever source Personal Data that is necessary and in a way that would be generally expected.</p>
<p>We receive Personal Data about Business Contacts from a variety of sources, as follows:</p>
<ul>
<li>the Personal Data is often provided by the Business Contact as part of the business relationship;</li>
<li>the Personal Data may be collected from public sources like LinkedIn;</li>
<li>the Personal Data may be collected indirectly from another person within the company of the Business Contact;</li>
<li>the Personal Data may be collected through our website;</li>
<li>the Personal Data may be collected at an event or webinar;</li>
<li>the Personal Data may be collected indirectly from a website or from a third party.</li>
</ul>
<p><strong>&nbsp;</strong><strong>WEB DATA</strong></p>
<p>We may collect Website User Personal Data from all visitors to our website in order to improve our services and develop the Website.</p>
<p>For more details please refer to our Cookie Notice.</p>
<p><strong>CANDIDATE PERSONAL DATA</strong></p>
<p>We will only ever source Personal Data in a way that would be generally expected.</p>
<p>We receive Personal Data relating to Candidates from a variety of sources. The primary source is from Candidates directly. Examples of the sources of Personal Data of Candidates are as follows:</p>
<ul>
<li>the Candidate may send a speculative CV to us with the intention of registering with us to be informed of potential job vacancies;</li>
<li>the Candidate may apply directly to a position advertised on our website;</li>
<li>the Candidate may be referred to us from an agency or by an individual; or</li>
<li>the Candidate may apply to a position advertised on a third-party jobs’ website.</li>
</ul>
                </div>
            </div>
            <div class="acc">
                <button class="acc__head">
                    6.	CATEGORIES OF PERSONAL DATA
                    <i class="fa fa-chevron-down" aria-hidden="true"></i>
                </button>
                <div class="acc__body">
                    <p>We process the following categories of Personal Data.&nbsp; For each category we have included an example of the type of Personal Data that may be part of that category:</p>
<table border="0" width="604">
<tbody>
<tr>
<td width="245">
<p><strong>Personal Data Category</strong></p>
</td>
<td width="359">
<p><strong>Description</strong></p>
</td>
</tr>
<tr>
<td width="245">
<p><strong>Contact Data</strong></p>
</td>
<td width="359">
<p>may include a person’s name, address, phone number, profession, company and department.</p>
</td>
</tr>
<tr>
<td width="245">
<p><strong>Identification Data</strong></p>
</td>
<td width="359">
<p>may include a person’s name, identification card such as passport/drivers license or identification number and social media identification (e.g. skype/MS Teams/zoom name).</p>
</td>
</tr>
<tr>
<td width="245">
<p><strong>Communication Data</strong></p>
<p><strong>&nbsp;</strong></p>
</td>
<td width="359">
<p>may include phone calls, texts, email correspondence, chat history (e.g. MS Teams/Zoom) and hard copy correspondence.</p>
</td>
</tr>
<tr>
<td width="245">
<p><strong>Marketing Data</strong></p>
</td>
<td width="359">
<p>may include Identification Data and Contact Data and any preferences in receiving marketing from us and your communication preferences.</p>
</td>
</tr>
<tr>
<td width="245">
<p><strong>Recruitment Data</strong></p>
<p><strong>&nbsp;</strong></p>
</td>
<td width="359">
<p>may include recruitment related data such as Identification &amp;Contact Data, Communication Data,CV and job application data.</p>
<p>When processing CV data, we may process certain Personal Data including the following: employment history, skills/ experience, languages, educational history, qualifications, membership of professional associations, contact details of employer references/character references, licenses held, interests and hobbies, languages, locations, nationality, passport, eligibility to work in certain jurisdictions, salary expectations,&nbsp; interview/screening answers and notes.</p>
</td>
</tr>
<tr>
<td width="245">
<p><strong>Special Category Recruitment Data</strong></p>
</td>
<td width="359">
<p>If we interact with you for the purposes of a job with us, we may collect Recruitment Data that is of a special category per the GDPR definition: this can include diversity data such as gender, religion, racial or ethnic origin, sexual orientation, trade union membership or data relating to health.</p>
</td>
</tr>
<tr>
<td width="245">
<p><strong>Financial Data</strong></p>
</td>
<td width="359">
<p>may include Identification &amp; Contact Data and payment related information or bank account details and financial data received as part of the services that we provide.</p>
</td>
</tr>
<tr>
<td width="245">
<p><strong>Web Data</strong></p>
</td>
<td width="359">
<p>may include Personal Data provided on any forms on our website and, to the extent that it includes Personal Data, information on the type of device you’re using, its IP address, operating system, referral source, length of visit, page views and website navigation paths, as well as information about the timing, frequency and pattern of your service use.</p>
</td>
</tr>
</tbody>
</table>
<p><strong>&nbsp;</strong></p>
                </div>
            </div>
            <div class="acc">
                <button class="acc__head">
                    7.	OUR LEGAL BASIS FOR PROCESSING PERSONAL DATA
                    <i class="fa fa-chevron-down" aria-hidden="true"></i>
                </button>
                <div class="acc__body">
                    <p>We process all Personal Data lawfully and in accordance with the requirements of the law. The GDPR sets out the legal grounds for processing Personal Data.</p>
<p>When weprocesses Personal Data it is generally on one of the following legal basis:</p>
<p><strong><u>C</u></strong><strong><u>ONTRACT</u></strong></p>
<p>We will process Personal Data where necessary to perform our obligations relating to or in accordance with any contract that we may have with you or to take steps at your request prior to entering into that contract e.g.our Client Services Agreement.</p>
<p><strong><u>CONSENT</u></strong></p>
<p>For certain processing activities we may rely on your consent.</p>
<p>Where we are unable to collect consent for a particular processing activity, we will only process the Personal Data if we have another lawful basis for doing so.</p>
<p>You can withdraw consent provided by you at any time by contacting us at <a href="mailto:info@fortprivacy.ie">info@fortprivacy.ie</a></p>
<p><strong><u>LEGITIMATE INTEREST</u></strong></p>
<p>At times we will need to process your Personal Data to pursue our legitimate business interests, for example for administrative purposes, to collect debts owing to us, to provide information to you, to expand our business opportunities, to operate, evaluate, maintain, develop and improve our websites and services or to maintain their security and protect intellectual property rights.&nbsp;</p>
<p>We will not process your Personal Data on a legitimate interest basis where the impact of the processing on your interests or fundamental rights and freedoms outweigh our legitimate interests.</p>
<p>You may object to any processing we undertake on this basis. If you do not want us to process your Personal Data on the basis of our legitimate interests, contact us at <a href="mailto:info@fortprivacy.ie">info@fortprivacy.ie</a> and we will review our processing activities.</p>
<p><strong><u>LEGAL OBLIGATION</u></strong></p>
<p>If we have a legal obligation to process Personal Data, such as the payment of taxes, we will process Personal Data on this legal ground.</p>
                </div>
            </div>
            <div class="acc">
                <button class="acc__head">
                    8.	OUR PROCESSING ACTIVITIES
                    <i class="fa fa-chevron-down" aria-hidden="true"></i>
                </button>
                <div class="acc__body">
                    <p>We use your Personal Data to provide you with our services and to assist us in the operation of our business.&nbsp; Under data protection law, we must ensure that the purpose of processing is clear.</p>
<p>We have set out below the general purpose of processing, the categories of Personal Data processed and the related lawful basis for processing.</p>
<table border="0">
<tbody>
<tr>
<td width="316" style="width: 187px;">
<p><strong>Purpose of Processing</strong></p>
</td>
<td width="152" style="width: 161px;">
<p><strong>Categories of Personal Data</strong></p>
</td>
<td style="width: 110px;">
<p><strong>Lawful Basis </strong></p>
</td>
</tr>
<tr>
<td width="316" style="width: 187px;">
<p><strong><u>Service Delivery activities</u></strong></p>
<ul>
<li>to contact you about payments to and from you</li>
<li>for customer relationship management and support</li>
<li>to send notifications about changes/updates to our products and services</li>
<li>to fulfil our legal and contractual obligations</li>
</ul>
</td>
<td width="152" style="width: 161px;">
<ul>
<li>Identification Data</li>
<li>Contact Data</li>
<li>Communications Data</li>
</ul>
</td>
<td style="width: 110px;">
<ul>
<li>Contract</li>
<li>Legitimate Interest in managing our customer relationships</li>
</ul>
</td>
</tr>
<tr>
<td width="316" style="width: 187px;">
<p><strong><u>Marketing &amp; Promotion activities</u></strong></p>
<ul>
<li>to respond to any requests from you</li>
<li>to send newsletters and other information that maybe of interest</li>
<li>to contact you as part of our business relationship or for lead generation and general administration</li>
<li>to inform you of events or webinars that might be of interest</li>
<li>to deliver and organise our conferences, seminars, events&nbsp;</li>
</ul>
</td>
<td width="152" style="width: 161px;">
<ul>
<li>Marketing Data</li>
<li>Contact Data</li>
<li>Web Data</li>
</ul>
</td>
<td style="width: 110px;">
<ul>
<li>Consent</li>
<li>Legitimate Interest in promoting our business</li>
</ul>
<p>&nbsp;</p>
</td>
</tr>
<tr>
<td width="316" style="width: 187px;">
<p><strong><u>Recruitment Activities</u></strong></p>
<ul>
<li>as part of agency shortlisting</li>
<li>to select the right Candidate</li>
<li>to interview the Candidate</li>
<li>to hire and seek to onboard the Candidate (pre contract)</li>
<li>to manage our database of prospective Candidates</li>
</ul>
</td>
<td width="152" style="width: 161px;">
<ul>
<li>Identification Data</li>
<li>Contact Data</li>
<li>Communication Data</li>
<li>Recruitment Data</li>
<li>Web Data</li>
<li>Marketing Data</li>
<li>Special Category Recruitment Data</li>
</ul>
<p>&nbsp;</p>
</td>
<td style="width: 110px;">
<ul>
<li>Consent</li>
<li>Legitimate Interest in recruiting for our business</li>
<li>Contract</li>
<li>Legal Obligation</li>
</ul>
</td>
</tr>
<tr>
<td width="316" style="width: 187px;">
<p><strong><u>Website Delivery </u></strong></p>
<ul>
<li>to respond to web forms completed by you</li>
<li>to promote our products and services</li>
<li>to improve and administer the Website; and</li>
<li>for internal operations, including support, troubleshooting, data analysis, testing, research, statistical and survey purposes</li>
<li>to ensure the safety and security of our website and our services.</li>
</ul>
</td>
<td width="152" style="width: 161px;">
<ul>
<li>Web Data</li>
</ul>
</td>
<td style="width: 110px;">
<ul>
<li>Consent</li>
<li>Legitimate Interest managing our website</li>
</ul>
</td>
</tr>
<tr>
<td width="316" style="width: 187px;">
<p><strong><u>Administration of Customer Relationship</u></strong></p>
<ul>
<li>to manage/respond to a complaint/appeal</li>
<li>to notify you of updates to this Data Protection Statement</li>
</ul>
</td>
<td width="152" style="width: 161px;">
<ul>
<li>Identification Data</li>
<li>Contact Data</li>
<li>Communication Data</li>
<li>Financial Data</li>
</ul>
</td>
<td style="width: 110px;">
<ul>
<li>Contract</li>
<li>Legitimate Interest in managing our customer relationships</li>
</ul>
</td>
</tr>
<tr>
<td width="316" style="width: 187px;">
<p><strong><u>Managing payments and administration of&nbsp; contract</u></strong></p>
<ul>
<li>to process payments to and from our business</li>
<li>to manage and administer our contracts</li>
</ul>
</td>
<td width="152" style="width: 161px;">
<ul>
<li>Identification Data</li>
<li>Contact Data</li>
<li>Communication Data</li>
<li>Financial Data</li>
</ul>
</td>
<td style="width: 110px;">
<ul>
<li>Contract</li>
<li>Legitimate Interest in securing payments</li>
</ul>
</td>
</tr>
<tr>
<td width="316" style="width: 187px;">
<p><strong><u>Management of Corporate Affairs</u></strong></p>
<ul>
<li>to take minutes at board meetings</li>
<li>to contact shareholders/investors</li>
<li>to enterinto partnerships and other commercial relations</li>
<li>to undertake appropriate due diligence</li>
</ul>
</td>
<td width="152" style="width: 161px;">
<ul>
<li>Identification Data</li>
<li>Contact Data</li>
<li>Communication Data</li>
<li>Financial Data</li>
</ul>
</td>
<td style="width: 110px;">
<ul>
<li>Contract</li>
<li>Legitimate Interestin the management of our business</li>
<li>Legal Obligation</li>
</ul>
</td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>
                </div>
            </div>
            <div class="acc">
                <button class="acc__head">
                    9.	DISCLOSURE OF PERSONAL DATA
                    <i class="fa fa-chevron-down" aria-hidden="true"></i>
                </button>
                <div class="acc__body">
                    <p>In certain circumstances, we may disclose Personal Data to third parties as follows:</p>
<ul>
<li>to business partners and subcontractors for the performance of any contract relating to our services, including email, Skype, Communication Platforms, Customer Relationship Management system, web developers, payment processors, data aggregators, hosting service providers, external consultants, auditors, IT consultants and lawyers;</li>
<li>to any recruitment agency who is helping us to recruit Candidates;</li>
<li>to analytics and search engine providers that assist us in the improvement and optimisation of the Website;</li>
<li>to the HSE (or any health authority) to facilitate any pandemic contact tracing activity;</li>
<li>if we or substantially all of our company is merged with another company or acquired by a third party, in which case Personal Data held by us will be one of the transferred assets;</li>
<li>if we are under a duty to disclose or share Personal Data in order to comply with any legal obligation (including tax, audit or other authorities), or in order to enforce or apply any contracts that we have;</li>
<li>to protect our rights, property, or safety, or that of our Candidates or Business Contacts or others. This may include exchanging Personal Data with other companies and organisations for the purpose of fraud protection.When we engage another organisation to perform services for us, we may provide them with information including Personal Data, in connection with the performance of those functions. We do not allow third parties to use Personal Data except for the purpose of providing these services.</li>
</ul>
                </div>
            </div>
            <div class="acc">
                <button class="acc__head">
                    10.	SECURITY MEASURES
                    <i class="fa fa-chevron-down" aria-hidden="true"></i>
                </button>
                <div class="acc__body">
                    <p>We will take all steps reasonably necessary to ensure that all Personal Data is treated securely in accordance with this Data Protection Statement and the relevant law, including the GDPR.</p>
<p>In particular, we have put in place appropriate technical and organisational procedures to safeguard and secure the Personal Data we process.</p>
<p>We monitor for and do everything we can to prevent security breaches of the Personal Data that we process.</p>
<p>Once we have received your Personal Data, we will use strict procedures and security features for the purpose of preventing unauthorised access and ensuring that only those who need to have access to your Personal Data can access it.</p>
<p>We also use secure connections to protect Personal Data during its transmission. Where you have been given (or where you have chosen) a password which enables you to access services, you are responsible for keeping this password confidential.&nbsp; Please do not share your password with anyone.</p>
<p>If you think that there has been any loss or unauthorised access to Personal Data of any individual, please let us know immediately.</p>
                </div>
            </div>
            <div class="acc">
                <button class="acc__head">
                    11.	TRANSFERS OUTSIDE THE EEA
                    <i class="fa fa-chevron-down" aria-hidden="true"></i>
                </button>
                <div class="acc__body">
                    <p>In order to provide our products and services we may need to transfer Personal Data outside the European Economic Area (EEA). We ensure that any transfer of Personal Data outside the EEA is undertaken using legally compliant transfer mechanisms and in accordance with the GDPR.</p>
<p>If we transfer Personal Data outside of the EEA, we generally rely on the Standard Contractual Clauses under Article 46.2 of the GDPR adopted by the EU Commission. We may also rely on some of the other legally compliant transfer mechanisms provided under the GDPR.</p>
                </div>
            </div>
            <div class="acc">
                <button class="acc__head">
                    12.	COOKIES
                    <i class="fa fa-chevron-down" aria-hidden="true"></i>
                </button>
                <div class="acc__body">
                    <p>Cookies are small text files placed on your computer or mobile device by websites that you visit, and they help us improve the products and services that we offer you. They are used in order to make websites work, or work more efficiently, as well as to provide information to the owners of the site. Cookies may allow a website to remember your activity over a period of time. Cookies are optional and you do not have to accept them.&nbsp;</p>
<p>Further information on the cookies we use on the website and the purpose behind their respective uses are set out in our <a href="/cookie-notice/" title="Cookie Notice">Cookie Notice</a>.</p>
                </div>
            </div>
            <div class="acc">
                <button class="acc__head">
                    13.	THIRD PARTY WEBSITES
                    <i class="fa fa-chevron-down" aria-hidden="true"></i>
                </button>
                <div class="acc__body">
                    <p>Our Website may contain links to and from third party websites. If you follow a link to any of these websites, please note that these websites have their own privacy settings, and these are not endorsed by us.&nbsp; We do not accept any responsibility or liability for these third-party websites. Please undertake the appropriate due diligence before submitting any Personal Data to these websites.</p>
                </div>
            </div>
            <div class="acc">
                <button class="acc__head">
                    14.	RETENTION
                    <i class="fa fa-chevron-down" aria-hidden="true"></i>
                </button>
                <div class="acc__body">
                    <p>In some circumstances it is not possible for us to specify in advance the period for which we will retain your Personal Data. In such cases we will determine the appropriate retention period based on balancing your rights against our legitimate business interests.&nbsp; We may also retain certain Personal Data beyond the periods specified herein in some circumstances such as where required for the purposes of legal claims.</p>
<p>Further information about our retention practices are set out below:</p>
<table border="0" width="538">
<tbody>
<tr>
<td width="179">
<p><strong>Purpose of Processing</strong></p>
</td>
<td width="359">
<p><strong>Retention Period </strong></p>
</td>
</tr>
<tr>
<td width="179">
<p><strong>Service Delivery Activities</strong></p>
<p><strong>&nbsp;</strong></p>
<p><strong>&nbsp;</strong></p>
</td>
<td width="359">
<p>36 months after completion of service delivery activities in the case where there is no further meaningful engagement.</p>
</td>
</tr>
<tr>
<td width="179">
<p><strong>Marketing and Promotion Activities</strong></p>
</td>
<td width="359">
<p>12 months in the case where no meaningful engagement or earlier in the case you unsubscribe.</p>
</td>
</tr>
<tr>
<td width="179">
<p><strong>Recruitment Activity</strong></p>
</td>
<td width="359">
<p>18 months for Candidates who are unsuccessful.</p>
</td>
</tr>
<tr>
<td width="179">
<p><strong>Website Delivery </strong></p>
</td>
<td width="359">
<p>12 months</p>
</td>
</tr>
<tr>
<td width="179">
<p><strong>Managing Payments and administration of the contract</strong></p>
</td>
<td width="359">
<p>7 years</p>
</td>
</tr>
<tr>
<td width="179">
<p><strong>Management of Corporate Affairs</strong></p>
</td>
<td width="359">
<p>7 years unless required toretain indefinitely</p>
</td>
</tr>
</tbody>
</table>
                </div>
            </div>
            <div class="acc">
                <button class="acc__head">
                    15.	YOUR RIGHTS
                    <i class="fa fa-chevron-down" aria-hidden="true"></i>
                </button>
                <div class="acc__body">
                    <p>You have various rights relating to how your Personal Data is used.</p>
<p><strong><u>Right of access to the Personal Data we hold on you</u></strong></p>
<p>You have the right to ask for all the Personal Data we have&nbsp;about you. When we receive a request from you in writing, we must give you access to everything we’ve recorded about you as well as details of the processing, the categories of Personal Data concerned and the recipients of the Personal Data.</p>
<p>We will provide the first copy of your Personal Data free of charge, but we may charge you a reasonable fee for any additional copies.</p>
<p>We cannot give you access to a copy of your Personal Data in some limited cases including where this might adversely affect the rights and freedoms of others.</p>
<p><strong><u>Right of rectification of Personal Data </u></strong></p>
<p>You should let us know if there is something inaccurate in your Personal Data.</p>
<p>We may not always be able to change or remove that Personal Data, but we will correct factual inaccuracies and may include your comments in the record to show that you disagree with it.&nbsp;&nbsp;</p>
<p><strong><u>Right of erasure of Personal Data (right to be forgotten)</u></strong></p>
<p>In some circumstances you can ask for your Personal Data to be deleted, for example, where:&nbsp;</p>
<ul>
<li>your Personal Data is no longer needed for the reason that it was collected in the first place</li>
<li>you have removed your consent for us to use your Personal Data (where there is no other lawful basis for us to use it)</li>
<li>there is no lawful basis for the use of your Personal Data</li>
<li>deleting the Personal Data is a legal requirement</li>
</ul>
<p>Where your Personal Data has been shared with others, we will do what we can to make sure those using your Personal Data comply with your request for erasure.</p>
<p>Please note that we can’t delete your Personal Data where:</p>
<ul>
<li>we are required to have it by law</li>
<li>it is used for freedom of expression&nbsp;</li>
<li>it is&nbsp;used for public health purposes</li>
<li>it is used for scientific or historical research or statistical purposes where deleting the Personal Data would make it difficult or impossible to achieve the objectives of the processing</li>
<li>it is necessary for legal claims.&nbsp;</li>
</ul>
<p><strong><u>Right to restrict what we use your Personal Data for</u></strong></p>
<p>You have the right to ask us to restrict what we use your Personal Data for where:</p>
<ul>
<li>you have identified inaccurate Personal Data, and have told us of it</li>
<li>where we have no legal reason to use the Personal Data, but you want us to restrict what we use it for rather than erase the Personal Data altogether</li>
</ul>
<p>When Personal Data is restricted it can’t be used other than to securely store the Personal Data and with your consent to handle legal claims and protect others, or where it’s for important public interests.</p>
<p><strong><u>Right to have your Personal Data moved to another provider (dataportability)</u></strong></p>
<p>You have the right to ask for your Personal Data to be given back to you or another service provider of your choice in a commonly used format. This is called data portability.</p>
<p>This right only applies if we’re using your Personal Data with consent and if decisions were made by a computer and not a human being.&nbsp;It does not apply where it would adversely affect the rights and freedoms of others.</p>
<p><strong><u>Right to object</u></strong></p>
<p>You have the right to object to processing of your Personal Data which is based on public interest or legitimate interest processing.&nbsp; We will no longer process the Personal Data unless we can demonstrate a compelling ground for the processing.</p>
<p><strong><u>Right not to be subject to automated decision-making</u></strong></p>
<p>You have the right not to be subject to a decision based solely on automated processing.&nbsp; This right shall not apply where the processing is necessary for a contract with you, or the processing is undertaken with your explicit consent or the processing is authorised by law.</p>
<p><strong><u>You can make a complaint</u></strong></p>
<p>You have the right to lodge a complaint with the local supervisory authority for data protection in the EU member state where you usually reside, where you work or where you think an infringement of data protection law took place.</p>
                </div>
            </div>
            <div class="acc">
                <button class="acc__head">
                    16.	AMENDMENTS TO THIS DATA PROTECTION STATEMENT
                    <i class="fa fa-chevron-down" aria-hidden="true"></i>
                </button>
                <div class="acc__body">
                    <p>We will post any changes on the Website and when doing so will change the effective date at the top of this Data Protection Statement.&nbsp; Please make sure to check the date when you use our services to see if there have been any changes since you last used those services.</p>
<p>In some cases, we may provide you with additional notice of changes to this Data Protection Statement, such as via email. We will always provide you with any notice in advance of the changes taking effect where we consider the changes to be material.</p>
<p>Thank you for reading our Data Protection Statement.&nbsp; Please <a href="mailto:dataprotection@fortprivacy.ie?subject=Question%20about%20your%20Privacy%20Notice">contact us</a>if you have any questions.&nbsp; If we are unable to resolve your concerns, you have the right to contact the supervisory authority in the country where you live or work, or where you consider that the data protection rules have been breached</p>
<p>Contact Details for the relevant Supervisory Authorities are set out below for your information:</p>
<table border="0">
<tbody>
<tr>
<td width="139">
<p><strong>Country</strong></p>
</td>
<td width="209">
<p><strong>Supervisory Authority</strong></p>
</td>
<td width="253">
<p><strong>Contact Details</strong></p>
</td>
</tr>
<tr>
<td width="139">
<p>Ireland</p>
</td>
<td width="209">
<p>Data Protection Commission</p>
</td>
<td width="253">
<p><strong>Online Form</strong>: <a href="https://forms.dataprotection.ie/contact">https://forms.dataprotection.ie/contact</a></p>
<p><strong>Address</strong>:&nbsp; 21 Fitzwilliam Square South, Dublin 2, D02 RD28, Ireland</p>
<p><strong>Tel:</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; +353 578 684 800 or</p>
<p>+353 761 104 800</p>
<p>&nbsp;</p>
</td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>
                </div>
            </div>
</div>

                    </div>
            </div>
        </div> 
    </div>



