@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
	Layout = "master.cshtml";
}
   




<!-- <section class="hero hero--   hero--v-top" > -->

<section class="hero hero--v-top in-view">

    <div class="hero__inner">
        <div class="container">
            <div class="row row--center">
                <div class="hero__inner light-color col- col-m-100">

                                                <h1>Our Services</h1>
                                            <div class="hero__text text-big">
                            <p style="color: white;">Our services are client centric and personally delivered.</p>
                        </div>
                    
                </div>
            </div>
        </div>
    </div>
    
    
            <div class="hero__background hide--m lazyloaded" data-bgset="
                    /media/dgcp3s2p/services.jpg?anchor=center&amp;mode=crop&amp;quality=80&amp;width=2560&amp;height=720&amp;upscale=false&amp;rnd=132724793439830000 2560w,
        		    /media/dgcp3s2p/services.jpg?anchor=center&amp;mode=crop&amp;quality=80&amp;width=1920&amp;height=540&amp;upscale=false&amp;rnd=132724793439830000 1920w,
        		    /media/dgcp3s2p/services.jpg?anchor=center&amp;mode=crop&amp;quality=80&amp;width=1600&amp;height=450&amp;upscale=false&amp;rnd=132724793439830000 1600w" style="background-image: url(&quot;https://www.fortprivacy.ie/media/dgcp3s2p/services.jpg?anchor=center&amp;mode=crop&amp;quality=80&amp;width=2560&amp;height=720&amp;upscale=false&amp;rnd=132724793439830000&quot;);">
            <picture style="display: none;"><source data-srcset=" /media/dgcp3s2p/services.jpg?anchor=center&amp;mode=crop&amp;quality=80&amp;width=2560&amp;height=720&amp;upscale=false&amp;rnd=132724793439830000 2560w, /media/dgcp3s2p/services.jpg?anchor=center&amp;mode=crop&amp;quality=80&amp;width=1920&amp;height=540&amp;upscale=false&amp;rnd=132724793439830000 1920w, /media/dgcp3s2p/services.jpg?anchor=center&amp;mode=crop&amp;quality=80&amp;width=1600&amp;height=450&amp;upscale=false&amp;rnd=132724793439830000 1600w" sizes="1447px" srcset=" /media/dgcp3s2p/services.jpg?anchor=center&amp;mode=crop&amp;quality=80&amp;width=2560&amp;height=720&amp;upscale=false&amp;rnd=132724793439830000 2560w, /media/dgcp3s2p/services.jpg?anchor=center&amp;mode=crop&amp;quality=80&amp;width=1920&amp;height=540&amp;upscale=false&amp;rnd=132724793439830000 1920w, /media/dgcp3s2p/services.jpg?anchor=center&amp;mode=crop&amp;quality=80&amp;width=1600&amp;height=450&amp;upscale=false&amp;rnd=132724793439830000 1600w"><img alt="" class="lazyautosizes lazyloaded" data-sizes="auto" data-parent-fit="cover" sizes="1447px"></picture></div>
            <div class="hero__background show--m lazyload" data-bgset="
        		    /media/dgcp3s2p/services.jpg?anchor=center&amp;mode=crop&amp;quality=80&amp;width=1800&amp;height=1600&amp;upscale=false&amp;rnd=132724793439830000 1800w,
        		    /media/dgcp3s2p/services.jpg?anchor=center&amp;mode=crop&amp;quality=80&amp;width=1440&amp;height=1280&amp;upscale=false&amp;rnd=132724793439830000 1440w,
        		    /media/dgcp3s2p/services.jpg?anchor=center&amp;mode=crop&amp;quality=80&amp;width=1080&amp;height=960&amp;upscale=false&amp;rnd=132724793439830000 1080w,
        		    /media/dgcp3s2p/services.jpg?anchor=center&amp;mode=crop&amp;quality=80&amp;width=750&amp;height=667&amp;upscale=false&amp;rnd=132724793439830000 750w" data-sizes="auto">
            </div>
    
    
        <div class="overlay " style="opacity:0.60"></div>


</section>


    <div class="block grid gray-bg in-view" id="homebox01">
        <div class="container container--big ">
            <div class="row  row--left row--v-top  ">

                    <div class="col-100 col-s-100">

<div class="grid-item grid-item--header ">
                <div class="text-big">
            <h2>How We Work</h2>
<h3>Our goal is to provide comfort and reassurance for our clients no matter what journey you undertake with us – long, short, simple or complex.</h3>
<p>We believe that Data Protection compliance requires a multidisciplinary approach. We follow through on that belief in the way we develop and deliver our services. We also believe that our clients – and their customers – will benefit from a common-sense approach. Our framework enables us to focus on delivering compliance without the hype. Above all, the relationship we build with our clients helps us to understand your business and its unique situation and match your needs.</p>
        </div>
    </div>                    </div>
            </div>
        </div> 
    </div>


<section class="split-wrap block white-bg in-view" id="txt001">

    <div class="split split-- split--text-right split--full">

        <div class="split__text split__text--v-center split__text--text-left">

            <div class="split__text-inner">

                <h2>Outsourced DPO</h2>
                <h3>A cost-effective alternative to hiring and training in-house.</h3>
                <p>Our outsourced DPO service is efficient and cost effective. We become a trusted and dependable part of your team, keeping you focused on getting and staying compliant through our structured O-DPO programme. You get the benefit of a qualified DPO who has the support of a multidisciplinary team delivering a professionally tailored compliance program.</p>
                <div class="button-wrap">

                    <a href="/services/outsourced-dpo/" title="Outsourced DPO" class="button button--default button--theme button--solid">Learn More</a>
                </div>

            </div>

        </div>


        <div class="split__image split__image--1 split__image--no-border split__image--contain">
            <div class="split__image-item lazyloaded" data-bgset="/media/vuxmk3qr/outsourced-dpo-ireland.jpg?upscale=false&amp;width=770&amp;height=581&amp;quality=80 700w,
                            /media/vuxmk3qr/outsourced-dpo-ireland.jpg?upscale=false&amp;width=1100&amp;height=830&amp;quality=80 1000w,
                            /media/vuxmk3qr/outsourced-dpo-ireland.jpg?upscale=false&amp;width=1650&amp;height=1245&amp;quality=80 1500w" style="background-image: url(&quot;/media/vuxmk3qr/outsourced-dpo-ireland.jpg?upscale=false&amp;width=1650&amp;height=1245&amp;quality=80&quot;);">
                <picture style="display: none;"><source data-srcset="/media/vuxmk3qr/outsourced-dpo-ireland.jpg?upscale=false&amp;width=770&amp;height=581&amp;quality=80 700w, /media/vuxmk3qr/outsourced-dpo-ireland.jpg?upscale=false&amp;width=1100&amp;height=830&amp;quality=80 1000w, /media/vuxmk3qr/outsourced-dpo-ireland.jpg?upscale=false&amp;width=1650&amp;height=1245&amp;quality=80 1500w" sizes="723px" srcset="/media/vuxmk3qr/outsourced-dpo-ireland.jpg?upscale=false&amp;width=770&amp;height=581&amp;quality=80 700w, /media/vuxmk3qr/outsourced-dpo-ireland.jpg?upscale=false&amp;width=1100&amp;height=830&amp;quality=80 1000w, /media/vuxmk3qr/outsourced-dpo-ireland.jpg?upscale=false&amp;width=1650&amp;height=1245&amp;quality=80 1500w"><img alt="" class="lazyautosizes lazyloaded ls-is-cached" data-sizes="auto" data-parent-fit="contain" sizes="723px"></picture>
            </div>
        </div>

    </div>

</section>

<section class="split-wrap block gray-bg  animate" id="txt001">
    
    <div class="split split-- split--text-left split--full">
    			
    	<div class="split__text split__text--v-center split__text--text-left">
    		
    		<div class="split__text-inner">
    
    			    			<h2>Data Protection Services</h2>
<h3>We deliver compliance programmes designed to focus on the needs of your business.</h3>
<p>Whether you need help to address specific challenges, like a Data Protection Impact Assessment (DPIA), or additional support for your DPO, we design focused projects that elevate your compliance with the GDPR and enhance your confidence in your own service delivery.</p>    			
                    <div class="button-wrap">

	<a href="https://www.fortprivacy.ie/services/data-protection-projects/" title="Data Protection Service" class="button button--default button--theme button--solid">Learn More</a>
                    </div>
    							
    		</div>
    
    	</div>	
    	
    	
    		<div class="split__image split__image--1 split__image--no-border split__image--contain">
        				<div class="split__image-item lazyloaded" data-bgset="/media/x1epkn3u/data-protection-specialists.jpg?upscale=false&amp;width=770&amp;height=581&amp;quality=80 700w,
                    		/media/x1epkn3u/data-protection-specialists.jpg?upscale=false&amp;width=1100&amp;height=830&amp;quality=80 1000w,
                    		/media/x1epkn3u/data-protection-specialists.jpg?upscale=false&amp;width=1650&amp;height=1245&amp;quality=80 1500w" style="background-image: url(&quot;https://www.fortprivacy.ie/media/x1epkn3u/data-protection-specialists.jpg?upscale=false&amp;width=1650&amp;height=1245&amp;quality=80&quot;);"><picture style="display: none;"><source data-srcset="/media/x1epkn3u/data-protection-specialists.jpg?upscale=false&amp;width=770&amp;height=581&amp;quality=80 700w, /media/x1epkn3u/data-protection-specialists.jpg?upscale=false&amp;width=1100&amp;height=830&amp;quality=80 1000w, /media/x1epkn3u/data-protection-specialists.jpg?upscale=false&amp;width=1650&amp;height=1245&amp;quality=80 1500w" sizes="723px" srcset="/media/x1epkn3u/data-protection-specialists.jpg?upscale=false&amp;width=770&amp;height=581&amp;quality=80 700w, /media/x1epkn3u/data-protection-specialists.jpg?upscale=false&amp;width=1100&amp;height=830&amp;quality=80 1000w, /media/x1epkn3u/data-protection-specialists.jpg?upscale=false&amp;width=1650&amp;height=1245&amp;quality=80 1500w"><img alt="" class="lazyautosizes lazyloaded ls-is-cached" data-sizes="auto" data-parent-fit="contain" sizes="723px"></picture></div>
    		</div>
    
    </div>

</section>

<section class="split-wrap block white-bg  animate" id="txt001">
    
    <div class="split split-- split--text-left split--full">
    			
    	<div class="split__text split__text--v-center split__text--text-left">
    		
    		<div class="split__text-inner">
    
    			    			<h2>Audit Services</h2>
<h3>Independent Targeted Assessment</h3>
<p>Our audit service provides an objective measure of your current level of compliance with the GDPR. It helps us to understand not just where you are today, but where you need to be and how to close the gaps.</p>    			
                    <div class="button-wrap">

	<a href="https://www.fortprivacy.ie/services/fort-privacy-audit/" title="Fort Privacy Audit" class="button button--default button--theme button--solid">Learn More</a>
                    </div>
    							
    		</div>
    
    	</div>	
    	
    	
    		<div class="split__image split__image--1 split__image--no-border split__image--contain">
        				<div class="split__image-item lazyload" data-sizes="auto" data-bgset="/media/1yudb3sx/privacy-audit-ireland.jpg?upscale=false&amp;width=770&amp;height=581&amp;quality=80 700w,
                    		/media/1yudb3sx/privacy-audit-ireland.jpg?upscale=false&amp;width=1100&amp;height=830&amp;quality=80 1000w,
                    		/media/1yudb3sx/privacy-audit-ireland.jpg?upscale=false&amp;width=1650&amp;height=1245&amp;quality=80 1500w"></div>
    		</div>
    
    </div>

</section>

<section class="split-wrap block white-bg  animate" id="txt001">
    
    <div class="split split-- split--text-left split--full">
    			
    	<div class="split__text split__text--v-center split__text--text-left">
    		
    		<div class="split__text-inner">
    
    			    			<h2>Credit Union Outsourced Data Protection Officer Solution</h2>
<h3>DPO As A Service</h3>
<p>Fort Privacy has been a trusted partner in the Credit Union sector since 2017, providing comprehensive data protection services to over 60 Credit Unions. Our expertise has enabled Credit Unions to navigate the challenges of GDPR compliance, equip their staff with essential training, and appoint us as their dedicated Data Protection Officer (DPO).</p>    			
                    <div class="button-wrap">

	<a href="https://www.fortprivacy.ie/services/credit-union-outsourced-data-protection-officer/" title="Credit Union Outsourced Data Protection Officer" class="button button--default button--theme button--solid">Learn More</a>
                    </div>
    							
    		</div>
    
    	</div>	
    	
    	
    		<div class="split__image split__image--1 split__image--no-border split__image--contain">
        				<div class="split__image-item lazyload" data-sizes="auto" data-bgset="/media/r1hpl0ll/credit-union-image.webp?upscale=false&amp;width=770&amp;height=581&amp;quality=80 700w,
                    		/media/r1hpl0ll/credit-union-image.webp?upscale=false&amp;width=1100&amp;height=830&amp;quality=80 1000w,
                    		/media/r1hpl0ll/credit-union-image.webp?upscale=false&amp;width=1650&amp;height=1245&amp;quality=80 1500w"></div>
    		</div>
    
    </div>

</section>

<section class="split-wrap block gray-bg  animate" id="txt001">
    
    <div class="split split-- split--text-right split--full">
    			
    	<div class="split__text split__text--v-center split__text--text-left">
    		
    		<div class="split__text-inner">
    
    			    			<h2>Artificial Intelligence</h2>
<h3>Fort Privacy is here to help you deploy AI Responsibly</h3>
<p>Fort Privacy has identified a three-step process to get AI Guidance and Oversight in place while facilitating ongoing deployment and experimentation.</p>    			
                    <div class="button-wrap">

	<a href="https://www.fortprivacy.ie/services/ai-governance/" title="AI Governance" class="button button--default button--theme button--solid">Learn More</a>
                    </div>
    							
    		</div>
    
    	</div>	
    	
    	
    		<div class="split__image split__image--1  ">
    				    <div class="split__image-item lazyload" data-sizes="auto" data-bgset="
        				    /media/wlpl5vod/ai-governance.jpg?anchor=center&amp;mode=crop&amp;quality=80&amp;width=770&amp;height=581&amp;upscale=false&amp;rnd=133626810852800000 700w,
                    		/media/wlpl5vod/ai-governance.jpg?anchor=center&amp;mode=crop&amp;quality=80&amp;width=1100&amp;height=830&amp;upscale=false&amp;rnd=133626810852800000 1000w,
                    		/media/wlpl5vod/ai-governance.jpg?anchor=center&amp;mode=crop&amp;quality=80&amp;width=1650&amp;height=1245&amp;upscale=false&amp;rnd=133626810852800000 1500w"></div>
    		</div>
    
    </div>

</section>

    <div class="block grid white-bg    " id="services_section1">
        <div class="container container--big ">
            <div class="row  row--left row--v-top  ">

                    <div class="col col-s-100">

<div class="grid-item grid-item--header ">
                <div class="text-big">
            <h2 style="text-align: center;">Get in Touch</h2>
<p>Fort Privacy helps our clients to capture key information about their personal data processing activities as a foundation for all their ongoing compliance activities. Knowing what personal data you collect and understanding your processing activities is fundamental to achieving and maintaining compliance with the GDPR.</p>
        </div>
    </div>                    </div>
            </div>
        </div> 
    </div>



<section class="block form white-bg " id="homesection10">
    
		<div class="block__header">
										<div class="block__header-text text-big">
					<h2>Contact Us</h2>
				</div>
		</div>
	
	<div class="block__body">
		<div class="container">
		
<div id="umbraco_form_69ef6c9820ef481c82791950f4578001" class="umbraco-forms-form contactform umbraco-forms-igloo">

<form action="https://www.fortprivacy.ie/services/" enctype="multipart/form-data" method="post"><input name="__RequestVerificationToken" type="hidden" value="YO71FF0YurrZ2iQjjvDsNWd_4plon4gLo-K7cBkPvzmuYxJSL2OFkLPPDeFs5Tnht1B0kpDRPSkLdbbOCubu7bc4EWQ9YBlnMP_kTKkZIA81"><input data-val="true" data-val-required="The FormId field is required." name="FormId" type="hidden" value="69ef6c98-20ef-481c-8279-1950f4578001"><input name="FormName" type="hidden" value="Contact form"><input data-val="true" data-val-required="The RecordId field is required." name="RecordId" type="hidden" value="00000000-0000-0000-0000-000000000000"><input name="PreviousClicked" type="hidden" value=""><input name="Theme" type="hidden" value="igloo">            <input type="hidden" name="FormStep" value="0">
            <input type="hidden" name="RecordState" value="QkRDNTRCQzBCQjNFQURGOTExQjVFMjhGMDUzRkFEODU5MjNDNDY4MzdGNTUzNUY4RTIyRjU3QTNCMDZCOEFFOTAxRTBFODZDRTZFQUQyOTQ3NjRBRENFRTUxMTFDMjQ2QjJDRTkzNUQxQTMxNUQ1RTgyMUUyNERFRTA1REZDOTgxODAyMzU0OUY4MEMwMjYxNkFFMkM2NTExM0RDRjlCRUE0RjAxRDE5NzU4NUM4OUQ5RDU5Qjg1NUNEQjBEQTVDOERGREIzOTU1N0ZFOENFMThGMjIxMjg5NUREQzMzMzQ4MDc5MDc3REExNUJEQ0RBMEQzNDYwQzJCRTIyNEQ2QjczMDRBOTE5QzgwRjNGQUE2NTRCNkEyNzk1ODdEQjQ3MEM1MjU0N0RCMzNBMzU0MjVGQ0NCMEIzQzU0Q0VGNEU3NTIyMjA2ODZERUVGRUFDRjBGQkU1NEY1ODY2QzcwQ0Q5MEQ2RjAzOEI1NUI5OUFBQjYzOUZBOTBBRjgwMkUyQjMxNjc2Q0Y4QjJGRENBNjA5N0E1MjE5ODAwOEFENzcyRUM2NzU4RTYxRUNBQTMxQUFDMTdEOTZGMkY4NzU5RjNFRDk4MkVCQjIzQzk2M0YxRDBDNUQyQUQxMzQ2QTdBMTM3QkZFNDJGQkUyNzU4MkJDMzIyNDJCNzc3NDM3RDEwQTg4NzU4QTNBMDdGMjQwNTAxMTcyMjM0MjUzQUEwOUQxNzQ2RjczRUQ1RUQ1OTUwNTg4NUE5MTc4NjNGOTUzNkQ4MTUzQzg5ODFFMkVBNEUwNkUxNkRBNTAzMEE2QUIzMDg3NkQ4MUIzRDZCOUUyNjQ1NEVEOUM2MEVDQzc1MzdBMDcyNzI2REY1NUI3NUIwNEJBQTIxNUE2MThGNzFBRjgwN0Q2RDkzODAwNTFFNzk4NTcxREYxN0VCMDJBOUQ1NUM1Rjc2NkI4NzhBRTVBRTVCNjUzM0JCQjRBOEQ4MzMyQkUyODNFMzQ2RjRDN0ZEODlBNzM5QkFERTYzQjQ1RkE0REQwMDAyRDJENTlCMzZCQkNFRTZFMzM3MUE0MDFEOEJDNjQ2QTJDNjM2N0IxQjBFNTZCODdFNThENzM1RDJEODNBNzQ2QzU5QUI4REUzOTFDMzQ5NDI1OTJEMDg2QzU5RUE0QTk1NUQwOTU5QzM0OURFMkQ5MzhGODJDQ0JDRkU2RTNFNUY0MUYxOUU3RjNDNkUxNkI3MUY2MTUwMjFBQjY1Q0JDNDBEQkE3MDAzQ0I5OUZDMTc5MUY0NzJBRkFDNUQ0RDAyQjFEOTY5NjZFMENEOTg3M0YwN0M1QzdDQTYzQzc2MkUzMzYyRUU5OTQwRjRCMEQ0RjI3NUJERUQ2RTlBNkEyMkJBNzcxN0FBNDQxQ0VGQkI1QjIzMDFDODg1QzE5QjFGRDE1MDY2NTMxRTc5MjlFODBENDg3MUFCNkVCM0ZCMDA0NDAzMjEzQUE4ODE0NUZGRjVFOUQ4NkZBODIzNDBBMjIzMTlCRTcwN0YyRjhGM0MzRDQ0NzQxQjJDQzE4NDE2NTBBMUE0QjYzQkE3QjY1QTUxMkQzODZCMzZEMzU5RDk0MzI4MjMwNkYyMTAzRjQyRTRCMjYwMDc2ODdCRkU5MDQxNEFGREJBMkQ2RkUwQ0MyN0E2REMwNTlBMjU3QUYzQjZDNzcwQkVEQjkwQzQwOUVGRkQ2QUU3MTVCOEE1ODg3QzlCQ0I1OEZBODAxQzBFMzNDOTgwNjk3RTFEQzJFNjQ4NjY1Q0IwMUUwNDk5QTFEMzk5OEYxOEIzRkY3MjdBRUJBODBFNkNFMkU3QTdGMzRFQzdENjcyNTEzOUEzNkQ4QzcwMUI2NTYwRkZBOTBGODUxQjNFRDJCMEQ3N0FBNUI2NzkwQUMyRjQwMjAwMEIyOEIyM0ZCOTA5MTc0QUQzRTFFNTQ4QzUyMkQwNzk5NjlEQzREMzE0MTAxOThFQ0VFQjRBOEI3MkY0NDMwREU0MTI1MDk0Ng==">





<div class="umbraco-forms-page">




        <fieldset class="umbraco-forms-fieldset" id="00000000-0000-0000-0000-000000000000">


            <div class="row">

                    <div class="umbraco-forms-container col col-s-100">

                            <div class=" umbraco-forms-field heading titleanddescription">



                                <div class="umbraco-forms-field-wrapper">

                                    


<div id="11c98a9e-8c99-42fb-ef41-ea7653576959" class="">
            <p><centre></centre></p><p style="font-size: 16px;">We’re here to help. Whether you’re unsure where to start, or need some extra guidance in developing your data protection programme.</p><p></p>
</div>

<span class="field-validation-valid" data-valmsg-for="11c98a9e-8c99-42fb-ef41-ea7653576959" data-valmsg-replace="true"></span>
                                </div>

                            </div>

                    </div>
            </div>

        </fieldset>
        <fieldset class="umbraco-forms-fieldset" id="a9f6a54b-554d-4f65-be9b-e200d77c73f3">


            <div class="row">

                    <div class="umbraco-forms-container col col-s-100">

                            <div class=" umbraco-forms-field firstname shortanswer mandatory alternating">

                                    <label for="f6718dda-0e45-48f9-bf8f-ecfe8a500a9e" class="umbraco-forms-label">
                                        First Name*                                                        <span class="umbraco-forms-indicator">*</span>
                                    </label>


                                <div class="umbraco-forms-field-wrapper">

                                    <input type="text" name="f6718dda-0e45-48f9-bf8f-ecfe8a500a9e" id="f6718dda-0e45-48f9-bf8f-ecfe8a500a9e" class="text" value="" maxlength="500" placeholder="Your first name" data-val="true" data-val-required="Please provide a value for First Name*">





<span class="field-validation-valid" data-valmsg-for="f6718dda-0e45-48f9-bf8f-ecfe8a500a9e" data-valmsg-replace="true"></span>
                                </div>

                            </div>

                    </div>
                    <div class="umbraco-forms-container col col-s-100">

                            <div class=" umbraco-forms-field lastname shortanswer mandatory">

                                    <label for="7796ba9e-0c48-45e8-f480-107ddfe19a11" class="umbraco-forms-label">
                                        Last Name*                                                        <span class="umbraco-forms-indicator">*</span>
                                    </label>


                                <div class="umbraco-forms-field-wrapper">

                                    <input type="text" name="7796ba9e-0c48-45e8-f480-107ddfe19a11" id="7796ba9e-0c48-45e8-f480-107ddfe19a11" class="text" value="" maxlength="500" placeholder="Your last name" data-val="true" data-val-required="Please provide a value for Last Name*">





<span class="field-validation-valid" data-valmsg-for="7796ba9e-0c48-45e8-f480-107ddfe19a11" data-valmsg-replace="true"></span>
                                </div>

                            </div>

                    </div>
            </div>

        </fieldset>
        <fieldset class="umbraco-forms-fieldset" id="b1dcd5ef-9cd5-417a-baf7-18708fda98f5">


            <div class="row">

                    <div class="umbraco-forms-container col col-s-100">

                            <div class=" umbraco-forms-field email shortanswer mandatory alternating">

                                    <label for="c9204231-7756-4e10-cb50-60870fb4bb73" class="umbraco-forms-label">
                                        Email*                                                        <span class="umbraco-forms-indicator">*</span>
                                    </label>


                                <div class="umbraco-forms-field-wrapper">

                                    <input type="text" name="c9204231-7756-4e10-cb50-60870fb4bb73" id="c9204231-7756-4e10-cb50-60870fb4bb73" class="text" value="" maxlength="500" placeholder="Your email address" data-val="true" data-val-required="*" data-val-regex="invalid" data-regex="">





<span class="field-validation-valid" data-valmsg-for="c9204231-7756-4e10-cb50-60870fb4bb73" data-valmsg-replace="true"></span>
                                </div>

                            </div>

                    </div>
                    <div class="umbraco-forms-container col col-s-100">

                            <div class=" umbraco-forms-field phonenumber shortanswer">

                                    <label for="288ce607-5d25-49c0-8644-f9cf1adaa7d7" class="umbraco-forms-label">
                                        Phone Number                                     </label>


                                <div class="umbraco-forms-field-wrapper">

                                    <input type="text" name="288ce607-5d25-49c0-8644-f9cf1adaa7d7" id="288ce607-5d25-49c0-8644-f9cf1adaa7d7" class="text" value="" maxlength="500" placeholder="Optional - Your Phone number">





<span class="field-validation-valid" data-valmsg-for="288ce607-5d25-49c0-8644-f9cf1adaa7d7" data-valmsg-replace="true"></span>
                                </div>

                            </div>

                    </div>
            </div>

        </fieldset>
        <fieldset class="umbraco-forms-fieldset" id="1ae5d53c-b15d-4ae7-c872-ae887995812e">


            <div class="row">

                    <div class="umbraco-forms-container col col-s-100">

                            <div class=" umbraco-forms-field organisation shortanswer mandatory alternating">

                                    <label for="1bc69f36-2e34-44ed-d89f-79b5c9376d3f" class="umbraco-forms-label">
                                        Organisation*                                                        <span class="umbraco-forms-indicator">*</span>
                                    </label>


                                <div class="umbraco-forms-field-wrapper">

                                    <input type="text" name="1bc69f36-2e34-44ed-d89f-79b5c9376d3f" id="1bc69f36-2e34-44ed-d89f-79b5c9376d3f" class="text" value="" maxlength="500" placeholder="Your company / organisation" data-val="true" data-val-required="Please provide a value for Organisation*">





<span class="field-validation-valid" data-valmsg-for="1bc69f36-2e34-44ed-d89f-79b5c9376d3f" data-valmsg-replace="true"></span>
                                </div>

                            </div>
                            <div class=" umbraco-forms-field message longanswer mandatory">

                                    <label for="d69e4ea5-4957-4b27-f572-cae872e2dc75" class="umbraco-forms-label">
                                        Message*                                                        <span class="umbraco-forms-indicator">*</span>
                                    </label>


                                <div class="umbraco-forms-field-wrapper">

                                    
<textarea class="" name="d69e4ea5-4957-4b27-f572-cae872e2dc75" id="d69e4ea5-4957-4b27-f572-cae872e2dc75" rows="6" data-val="true" data-val-required="Please provide a value for Message*"></textarea>



<span class="field-validation-valid" data-valmsg-for="d69e4ea5-4957-4b27-f572-cae872e2dc75" data-valmsg-replace="true"></span>
                                </div>

                            </div>
                            <div class=" umbraco-forms-field fortprivacyprocesses titleanddescription alternating">



                                <div class="umbraco-forms-field-wrapper">

                                    


<div id="a4f512f1-a328-48fd-dd0e-8fb89135b700" class="">
            <p>Fort Privacy processes your personal data in order to respond to your query and provide you with information about our products and services. Please see our <a href="https://www.fortprivacy.ie/data-protection-statement/" target="blank" title="Read Data Protection Statement">Data Protection Statement</a> for further information.</p>
</div>

<span class="field-validation-valid" data-valmsg-for="a4f512f1-a328-48fd-dd0e-8fb89135b700" data-valmsg-replace="true"></span>
                                </div>

                            </div>

                    </div>
            </div>

        </fieldset>

    <div style="display: none">
        <input type="text" name="69ef6c9820ef481c82791950f4578001">
    </div>


    <div class="umbraco-forms-navigation row">

        <div class="col-100">
                <input type="submit" class="button button--block" value="Send" name="__next">
        </div>
    </div>
</div>

<input name="ufprt" type="hidden" value="1330E27541C26734DA9B8CE4E3CC0398A9505F1A09C2905A3F0D629C74D6771D5C60D1F303FCCDFC0AAE75162E547CA35345F9B3721598F22A9D2725BB625251E88C277DD1EF7B7228AEF6466627009BE6CF306FF42031F1302EDC0AF0030E8F6ED3FDD34D914804E64C8C53FE69BC908C36DDA65499128A0DF2A530C25647D77138DA739EEA90501160457F20A32904"></form>

        



<script type="text/javascript">
    if (typeof umbracoFormsCollection === 'undefined') var umbracoFormsCollection = [];
    umbracoFormsCollection.push('%7B%22formId%22:%2269ef6c9820ef481c82791950f4578001%22,%22fieldSetConditions%22:%7B%7D,%22fieldConditions%22:%7B%7D,%22recordValues%22:%7B%7D%7D');
</script>


<script src="./Services_files/umbracoforms.js.download" defer="defer" type="text/javascript"></script><link rel="stylesheet" href="./Services_files/style.css">    </div>		</div>
	</div>
	

</section>


