@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
	Layout = "master.cshtml";
}




    <!-- <section class="hero hero--   hero--v-top" > -->

    <section class="hero hero--v-top in-view">

        <div class="hero__inner">
            <div class="container">
                <div class="row row--left">
                    <div class="hero__inner light-color col- col-m-100">

                        <div class="pre-head">Trust Centre</div>
                        <h1>How Fort Privacy delivers GDPR Compliant Services</h1>

                    </div>
                </div>
            </div>
        </div>


        <div class="hero__background hide--m lazyloaded" data-bgset="
                    /media/se5kz1kh/trust-centre.jpg?anchor=center&amp;mode=crop&amp;quality=80&amp;width=2560&amp;height=720&amp;upscale=false&amp;rnd=133595576469330000 2560w,
                    /media/se5kz1kh/trust-centre.jpg?anchor=center&amp;mode=crop&amp;quality=80&amp;width=1920&amp;height=540&amp;upscale=false&amp;rnd=133595576469330000 1920w,
                    /media/se5kz1kh/trust-centre.jpg?anchor=center&amp;mode=crop&amp;quality=80&amp;width=1600&amp;height=450&amp;upscale=false&amp;rnd=133595576469330000 1600w" style="background-image: url(&quot;https://www.fortprivacy.ie/media/se5kz1kh/trust-centre.jpg?anchor=center&amp;mode=crop&amp;quality=80&amp;width=2560&amp;height=720&amp;upscale=false&amp;rnd=133595576469330000&quot;);">
            <picture style="display: none;"><source data-srcset=" /media/se5kz1kh/trust-centre.jpg?anchor=center&amp;mode=crop&amp;quality=80&amp;width=2560&amp;height=720&amp;upscale=false&amp;rnd=133595576469330000 2560w, /media/se5kz1kh/trust-centre.jpg?anchor=center&amp;mode=crop&amp;quality=80&amp;width=1920&amp;height=540&amp;upscale=false&amp;rnd=133595576469330000 1920w, /media/se5kz1kh/trust-centre.jpg?anchor=center&amp;mode=crop&amp;quality=80&amp;width=1600&amp;height=450&amp;upscale=false&amp;rnd=133595576469330000 1600w" sizes="1447px" srcset=" /media/se5kz1kh/trust-centre.jpg?anchor=center&amp;mode=crop&amp;quality=80&amp;width=2560&amp;height=720&amp;upscale=false&amp;rnd=133595576469330000 2560w, /media/se5kz1kh/trust-centre.jpg?anchor=center&amp;mode=crop&amp;quality=80&amp;width=1920&amp;height=540&amp;upscale=false&amp;rnd=133595576469330000 1920w, /media/se5kz1kh/trust-centre.jpg?anchor=center&amp;mode=crop&amp;quality=80&amp;width=1600&amp;height=450&amp;upscale=false&amp;rnd=133595576469330000 1600w"><img alt="" class="lazyautosizes lazyloaded" data-sizes="auto" data-parent-fit="cover" sizes="1447px"></picture>
        </div>
        <div class="hero__background show--m lazyload" data-bgset="
                    /media/se5kz1kh/trust-centre.jpg?anchor=center&amp;mode=crop&amp;quality=80&amp;width=1800&amp;height=1600&amp;upscale=false&amp;rnd=133595576469330000 1800w,
                    /media/se5kz1kh/trust-centre.jpg?anchor=center&amp;mode=crop&amp;quality=80&amp;width=1440&amp;height=1280&amp;upscale=false&amp;rnd=133595576469330000 1440w,
                    /media/se5kz1kh/trust-centre.jpg?anchor=center&amp;mode=crop&amp;quality=80&amp;width=1080&amp;height=960&amp;upscale=false&amp;rnd=133595576469330000 1080w,
                    /media/se5kz1kh/trust-centre.jpg?anchor=center&amp;mode=crop&amp;quality=80&amp;width=750&amp;height=667&amp;upscale=false&amp;rnd=133595576469330000 750w" data-sizes="auto">
        </div>


        <div class="overlay " style="opacity:0.40"></div>


    </section>


    <section class="split-wrap block white-bg in-view">

        <div class="split split-- split--text-left split--standard">

            <div class="split__text split__text--v-top split__text--text-left">

                <div class="split__text-inner">

                    <h2>Our Clients Are our Business</h2>
                    <p>Trust: When you come to Fort Privacy as a client you will be trusting us to protect the personal data of your employees, your clients and your other key business stakeholders just like any other supplier that you engage.</p>
                    <p>What to expect: Its important to us that as our clients, you know what to expect from our services.&nbsp;</p>
                    <p>Every Client is important: Our clients are our business. We value and respect how every client engagement helps us to run a successful business. Your success is our success, and we never forget that.</p>
                    <p>We comply so you can comply: You can and should expect that we will deliver services to you that will comply with GDPR while we are helping you on your own journey to comply with GDPR!</p>

                </div>

            </div>


            <div class="split__image split__image--1  ">
                <div class="split__image-item lazyloaded" data-bgset="
                            /media/fbpmhlby/our-clients.jpg?anchor=center&amp;mode=crop&amp;quality=80&amp;width=770&amp;height=581&amp;upscale=false&amp;rnd=133595576932170000 700w,
                            /media/fbpmhlby/our-clients.jpg?anchor=center&amp;mode=crop&amp;quality=80&amp;width=1100&amp;height=830&amp;upscale=false&amp;rnd=133595576932170000 1000w,
                            /media/fbpmhlby/our-clients.jpg?anchor=center&amp;mode=crop&amp;quality=80&amp;width=1650&amp;height=1245&amp;upscale=false&amp;rnd=133595576932170000 1500w" style="background-image: url(&quot;https://www.fortprivacy.ie/media/fbpmhlby/our-clients.jpg?anchor=center&amp;mode=crop&amp;quality=80&amp;width=1100&amp;height=830&amp;upscale=false&amp;rnd=133595576932170000&quot;);">
                    <picture style="display: none;"><source data-srcset=" /media/fbpmhlby/our-clients.jpg?anchor=center&amp;mode=crop&amp;quality=80&amp;width=770&amp;height=581&amp;upscale=false&amp;rnd=133595576932170000 700w, /media/fbpmhlby/our-clients.jpg?anchor=center&amp;mode=crop&amp;quality=80&amp;width=1100&amp;height=830&amp;upscale=false&amp;rnd=133595576932170000 1000w, /media/fbpmhlby/our-clients.jpg?anchor=center&amp;mode=crop&amp;quality=80&amp;width=1650&amp;height=1245&amp;upscale=false&amp;rnd=133595576932170000 1500w" sizes="665px" srcset=" /media/fbpmhlby/our-clients.jpg?anchor=center&amp;mode=crop&amp;quality=80&amp;width=770&amp;height=581&amp;upscale=false&amp;rnd=133595576932170000 700w, /media/fbpmhlby/our-clients.jpg?anchor=center&amp;mode=crop&amp;quality=80&amp;width=1100&amp;height=830&amp;upscale=false&amp;rnd=133595576932170000 1000w, /media/fbpmhlby/our-clients.jpg?anchor=center&amp;mode=crop&amp;quality=80&amp;width=1650&amp;height=1245&amp;upscale=false&amp;rnd=133595576932170000 1500w"><img alt="" class="lazyautosizes lazyloaded" data-sizes="auto" data-parent-fit="cover" sizes="665px"></picture>
                </div>
            </div>

        </div>

    </section>

    <section class="split-wrap block white-bg  ">

        <div class="split split-- split--text-right split--standard">

            <div class="split__text split__text--v-top split__text--text-left">

                <div class="split__text-inner">

                    <h2>Fort Privacy Role</h2>
                    <p>When we are managing our client relationships – including sales, marketing, running events and webinars, bidding for contracts and communicating with you about our services – we act as a data controller. We are deciding how to run our business and how to engage with our clients and prospective clients.</p>
                    <p>When we are delivering our services to you, we are acting on your behalf and we act as a data processor.</p>

                </div>

            </div>


            <div class="split__image split__image--1  ">
                <div class="split__image-item lazyloaded" data-bgset="
                            /media/4eyiro1w/our-role.jpg?anchor=center&amp;mode=crop&amp;quality=80&amp;width=770&amp;height=581&amp;upscale=false&amp;rnd=133595577090830000 700w,
                            /media/4eyiro1w/our-role.jpg?anchor=center&amp;mode=crop&amp;quality=80&amp;width=1100&amp;height=830&amp;upscale=false&amp;rnd=133595577090830000 1000w,
                            /media/4eyiro1w/our-role.jpg?anchor=center&amp;mode=crop&amp;quality=80&amp;width=1650&amp;height=1245&amp;upscale=false&amp;rnd=133595577090830000 1500w" style="background-image: url(&quot;https://www.fortprivacy.ie/media/4eyiro1w/our-role.jpg?anchor=center&amp;mode=crop&amp;quality=80&amp;width=1100&amp;height=830&amp;upscale=false&amp;rnd=133595577090830000&quot;);">
                    <picture style="display: none;"><source data-srcset=" /media/4eyiro1w/our-role.jpg?anchor=center&amp;mode=crop&amp;quality=80&amp;width=770&amp;height=581&amp;upscale=false&amp;rnd=133595577090830000 700w, /media/4eyiro1w/our-role.jpg?anchor=center&amp;mode=crop&amp;quality=80&amp;width=1100&amp;height=830&amp;upscale=false&amp;rnd=133595577090830000 1000w, /media/4eyiro1w/our-role.jpg?anchor=center&amp;mode=crop&amp;quality=80&amp;width=1650&amp;height=1245&amp;upscale=false&amp;rnd=133595577090830000 1500w" sizes="665px" srcset=" /media/4eyiro1w/our-role.jpg?anchor=center&amp;mode=crop&amp;quality=80&amp;width=770&amp;height=581&amp;upscale=false&amp;rnd=133595577090830000 700w, /media/4eyiro1w/our-role.jpg?anchor=center&amp;mode=crop&amp;quality=80&amp;width=1100&amp;height=830&amp;upscale=false&amp;rnd=133595577090830000 1000w, /media/4eyiro1w/our-role.jpg?anchor=center&amp;mode=crop&amp;quality=80&amp;width=1650&amp;height=1245&amp;upscale=false&amp;rnd=133595577090830000 1500w"><img alt="" class="lazyautosizes lazyloaded" data-sizes="auto" data-parent-fit="cover" sizes="665px"></picture>
                </div>
            </div>

        </div>

    </section>

    <section class="split-wrap block white-bg  ">

        <div class="split split-- split--text-left split--standard">

            <div class="split__text split__text--v-top split__text--text-left">

                <div class="split__text-inner">

                    <h2>Service Compliance Summary</h2>
                    <h3><strong>In order to deliver a service that is compliant for our clients we have taken the following steps:</strong></h3>
                    <ul>
                        <li aria-level="1">We put a contract in place with our clients that includes a data processing agreement (“<strong>DPA</strong>”) as required by GDPR.</li>
                        <li aria-level="1">We have designed our services so that we do not routinely process personal data on behalf of our clients. We will only process personal data where it is necessary for us to deliver a particular aspect of our service.</li>
                        <li aria-level="1">We have put security measures in place to ensure that each clients information is maintained separately, shared securely internally within the Fort Privacy team and shared securely externally with our clients and their contacts.</li>
                        <li aria-level="1">We have internal policies and procedures documenting our data protection and security measures as well as back-up and restore and business continuity plans. We implement our own compliance framework!</li>
                        <li aria-level="1">We have breach management procedures. Thankfully we have not yet had to report a breach of our own but like all businesses we have had near misses that we have investigated and logged. Our breach procedures include processes for notifying our clients in the event of an incident that potentially impacts them.</li>
                        <li aria-level="1">Finally, we can support our clients in the event of a Data Subject Access Request (DSAR) that encompasses data we process on your behalf.</li>
                    </ul>

                </div>

            </div>


            <div class="split__image split__image--1  ">
                <div class="split__image-item lazyloaded" data-bgset="
                            /media/k0lfttcg/service-compliance-summary.jpg?anchor=center&amp;mode=crop&amp;quality=80&amp;width=770&amp;height=581&amp;upscale=false&amp;rnd=133595579073970000 700w,
                            /media/k0lfttcg/service-compliance-summary.jpg?anchor=center&amp;mode=crop&amp;quality=80&amp;width=1100&amp;height=830&amp;upscale=false&amp;rnd=133595579073970000 1000w,
                            /media/k0lfttcg/service-compliance-summary.jpg?anchor=center&amp;mode=crop&amp;quality=80&amp;width=1650&amp;height=1245&amp;upscale=false&amp;rnd=133595579073970000 1500w" style="background-image: url(&quot;https://www.fortprivacy.ie/media/k0lfttcg/service-compliance-summary.jpg?anchor=center&amp;mode=crop&amp;quality=80&amp;width=1100&amp;height=830&amp;upscale=false&amp;rnd=133595579073970000&quot;);">
                    <picture style="display: none;"><source data-srcset=" /media/k0lfttcg/service-compliance-summary.jpg?anchor=center&amp;mode=crop&amp;quality=80&amp;width=770&amp;height=581&amp;upscale=false&amp;rnd=133595579073970000 700w, /media/k0lfttcg/service-compliance-summary.jpg?anchor=center&amp;mode=crop&amp;quality=80&amp;width=1100&amp;height=830&amp;upscale=false&amp;rnd=133595579073970000 1000w, /media/k0lfttcg/service-compliance-summary.jpg?anchor=center&amp;mode=crop&amp;quality=80&amp;width=1650&amp;height=1245&amp;upscale=false&amp;rnd=133595579073970000 1500w" sizes="665px" srcset=" /media/k0lfttcg/service-compliance-summary.jpg?anchor=center&amp;mode=crop&amp;quality=80&amp;width=770&amp;height=581&amp;upscale=false&amp;rnd=133595579073970000 700w, /media/k0lfttcg/service-compliance-summary.jpg?anchor=center&amp;mode=crop&amp;quality=80&amp;width=1100&amp;height=830&amp;upscale=false&amp;rnd=133595579073970000 1000w, /media/k0lfttcg/service-compliance-summary.jpg?anchor=center&amp;mode=crop&amp;quality=80&amp;width=1650&amp;height=1245&amp;upscale=false&amp;rnd=133595579073970000 1500w"><img alt="" class="lazyautosizes lazyloaded ls-is-cached" data-sizes="auto" data-parent-fit="cover" sizes="665px"></picture>
                </div>
            </div>

        </div>

    </section>

    <section class="block text white-bg ">

        <div class="block-text block-text--single">
            <div class="container">
                <div class="row">
                    <div class="col-100">
                        <h2 style="text-align: center;"><strong>What to expect</strong></h2>

                    </div>
                </div>
            </div>
        </div>

    </section>

    <div class="block grid white-bg    ">
        <div class="container ">
            <div class="row  row--left row--v-top  ">

                <div class="col col-s-100">

                    <div class="grid-item grid-item--header ">
                        <h2>Data Processing Agreement (“DPA”)</h2>
                    </div>
                </div>
                <div class="col col-s-100">


                    <div class="grid-item grid-item--text ">
                        <p>When you first engage with us we provide you with a contract that includes a Master Services Agreement, a Data Processing Agreement and a Statement of Work.</p>
                        <p>The Data Processing Agreement complies with Article 28. It outlines our commitment to processing data only as provided for in your instructions to us, to confidentiality, to security and to assist you in compliance with your obligations.</p>
                        <p>We will supply you with a sample Data Processing Agreement for the relevant service on request during our sales engagement with you.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="block grid white-bg    ">
        <div class="container ">
            <div class="row  row--left row--v-top  ">

                <div class="col col-s-100">

                    <div class="grid-item grid-item--header ">
                        <h2>Technical and Organisational Measures</h2>
                    </div>
                </div>
                <div class="col col-s-100">


                    <div class="grid-item grid-item--text ">
                        <p>We implement a variety of technical and organisational measures across our business and our service delivery in order to keep the personal data we process on your behalf secure.&nbsp;</p>
                        <p>These include:</p>
                        <ul>
                            <li aria-level="1">All employees use encrypted devices.</li>
                            <li aria-level="1">All software we use in our service delivery has two factor authentication implemented by default.</li>
                            <li aria-level="1">We use a secure cloud-based file share to store our client data.&nbsp;</li>
                            <li aria-level="1">We implement a dedicated directory structure for each client so that client data is stored consistently, is easy to find and separate from other client’s data.</li>
                            <li aria-level="1">Files are not emailed internally or externally as email attachments, instead we send a link to the document(s)</li>
                            <li aria-level="1">We back-up our data regularly to a secure location, to a dedicated device that is stored in a locked facility with physical access controls.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="block grid white-bg    ">
        <div class="container ">
            <div class="row  row--left row--v-top  ">

                <div class="col col-s-100">

                    <div class="grid-item grid-item--header ">
                        <h2>Incident / Breach Management</h2>
                    </div>
                </div>
                <div class="col col-s-100">


                    <div class="grid-item grid-item--text ">
                        <p>If we become aware of an incident involving client personal data, where we are a data processor, our policy is to notify our clients as soon as possible.&nbsp;</p>
                        <p>We will support our client’s investigation of the incident – following the same robust incident investigation processes that we put in place for our clients.&nbsp;</p>
                        <p>This could include supporting our client to report the incident to the relevant Data Protection Supervisory Authority where it is determined that a reportable breach has occurred.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="block grid white-bg    ">
        <div class="container ">
            <div class="row  row--left row--v-top  ">

                <div class="col col-s-100">

                    <div class="grid-item grid-item--header ">
                        <h2>Data Subject Rights Management</h2>
                    </div>
                </div>
                <div class="col col-s-100">


                    <div class="grid-item grid-item--text ">
                        <p>Where we receive a Data Subject Rights Request from a client’s employees / suppliers / customers, we determine whether the request relates to Personal Data that we are processing on behalf of the client.</p>
                        <p>In that case, our first step is to notify the client about the request which we commit to doing as soon as possible on receipt of the request.</p>
                        <p>We are committed to supporting our client to respond to the Data Subject within the timeframes laid down in the GDPR.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <section class="split-wrap block white-bg  ">

        <div class="split split--65 split--text-right split--standard">

            <div class="split__text split__text--v-top split__text--text-left">

                <div class="split__text-inner">

                    <h2>Contact Us</h2>
                    <p>If you are thinking of becoming a Fort Privacy client please <a href="/contact/" title="Contact">contact us</a> for further information – additional due diligence documents and sample contracts will be supplied on request!</p>

                </div>

            </div>


            <div class="split__image split__image--1  ">
                <div class="split__image-item lazyload" data-sizes="auto" data-bgset="
                            /media/ormnwris/contact-us.jpg?anchor=center&amp;mode=crop&amp;quality=80&amp;width=770&amp;height=581&amp;upscale=false&amp;rnd=133595596362200000 700w,
                            /media/ormnwris/contact-us.jpg?anchor=center&amp;mode=crop&amp;quality=80&amp;width=1100&amp;height=830&amp;upscale=false&amp;rnd=133595596362200000 1000w,
                            /media/ormnwris/contact-us.jpg?anchor=center&amp;mode=crop&amp;quality=80&amp;width=1650&amp;height=1245&amp;upscale=false&amp;rnd=133595596362200000 1500w"></div>
            </div>

        </div>

    </section>


